<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="cqstarsEntities" connectionString="metadata=res://*/Cqstars.csdl|res://*/Cqstars.ssdl|res://*/Cqstars.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql.w15.vhostgo.com;initial catalog=cqstars;user id=cqstars;password=kkhhzuc6bv;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  
  </connectionStrings>
</configuration>