特征：
<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-12">
            <div class="well">
                <h4>打印 复印</h4>
                <h5><span class="glyphicon glyphicon-hand-right Myicon text-danger"></span> 节省成本的多合一打印和复印功能</h5>
                <p>
                    最多可节省75%的纸张！(4合1复印时)
                    最多可将25张原稿打印到1张纸上(25合1)。
                </p>
                <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/colored/fsc80208025mfp/pic_01.jpg" class="img-responsive center-block" />
                <hr class="text-info" />
                <h5><span class="glyphicon glyphicon-hand-right Myicon text-danger"></span> 双面打印和复印功能</h5>
                <p>
                    最多可节省50%的纸张！
                    显著减少文档存放空间，而且令文档更便于归档。
                    *需安装输稿器
                </p>
                <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/colored/fsc80208025mfp/pic_02.jpg" class="img-responsive center-block" />
                <hr />
                <h5><span class="glyphicon glyphicon-hand-right Myicon text-danger"></span> 快速完成预热和首张打印</h5>
                <p>

                </p>
                <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/colored/fsc85208525mfp/pic_03.jpg" class="img-responsive center-block" />
                <hr />
                <h5><span class="glyphicon glyphicon-hand-right Myicon text-danger"></span> 分页功能</h5>
                <p>

                </p>
                <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/colored/fsc80208025mfp/pic_05.jpg" class="img-responsive center-block" />
                <hr />
                <h5><span class="glyphicon glyphicon-hand-right Myicon text-danger"></span> 高效的多任务文档处理功能</h5>
                <p>
                    内置作业分离器可轻松将文档输出至不同纸盘。
                    精简有序操作 - 通过多任务处理方式同时执行打印／复印／扫描功能
                </p>


            </div>
            <div class="well">
                <h4>
                    扫描
                </h4>
                <hr />
                <h5><span class="glyphicon glyphicon-hand-right Myicon text-danger"></span> 扫描</h5>
                <dl class="dl-horizontal">
                    <dt>扫描分辨率</dt>
                    <dd>最高600dpi</dd>
                    <dt>扫描速度</dt>
                    <dd>最高40页/分</dd>
                </dl>
                <p>

                    ·真正的多任务处理，能够同时执行扫描和打印功能。
                    ·采用高级PDF压缩程序，能够将扫描的图像压缩至不同质量和不同大小。

                </p>
                <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/colored/fsc80208025mfp/pic_06.jpg" class="img-responsive center-block" />
                <h5>发送地址数量</h5>
                <dl class="dl-horizontal">
                    <dt>电子邮件:</dt>
                    <dd>最多100个</dd>
                    <dt>文件夹(SMP、FTP):</dt>
                    <dd>总共5个SMB和FTP文件夹</dd>
                    <dt>传真:</dt>
                    <dd>最多100个</dd>
                </dl>
                <p>
                    *需要安装选购件传真组件
                </p>
                <hr />
                <h5><span class="glyphicon glyphicon-hand-right Myicon text-danger"></span> FTP/SMB/电子邮件</h5>
                <p>
                    扫描一次，然后将文档传送至不同目的地(电子邮件地址、共享文件夹等)。
                    最多可存储200个地址和20个程序地址作为扫描目的地。也可以通过LDAP查询。
                </p>
                <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/colored/fsc80208025mfp/pic_07.jpg" class="img-responsive center-block" />
                <hr />
                <h5><span class="glyphicon glyphicon-hand-right Myicon text-danger"></span>传真(选购)</h5>
                <p>
                    <strong>传真转发</strong>
                    ·将接收的传真转发至另一台传真机，或通过电子邮件、SMB或FTP将其转发至其他目的地。
                </p>
                <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/colored/fsc80208025mfp/pic_08.jpg" class="img-responsive center-block" />
                <hr />
                <h5><span class="glyphicon glyphicon-hand-right Myicon text-danger"></span>网络传真</h5>
                <p>
                    显著减少成本！
                    借助电脑网络和Super G3传真技术，网络传真功能够传送和接收传真，甚至向海外传输。
                    *需要具备网络连接
                </p>
                <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/colored/fsc80208025mfp/pic_09.jpg" class="img-responsive center-block" />
                <hr />
                <h5><span class="glyphicon glyphicon-hand-right Myicon text-danger"></span>文件夹</h5>
                <p>
                    扫描至USB或者从USB打印PDF、TIFF、JPEG或XPS格式文件。
                    直接通过智能多功能数码复合机的控制面板处理文件。无需借助电脑。
                </p>
                <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/colored/fsc80208025mfp/pic_10.jpg" class="img-responsive center-block" />

            </div>
            <div class="well">
                <h4>
                    控制和管理易如反掌
                </h4>
                <p>
                    可以在用户配置文件上选择个性化设置、快捷键(收藏)和语言
                </p>
                <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/colored/fsc80208025mfp/pic_11.jpg" class="img-responsive center-block" />
                <hr />
                <h5><span class="glyphicon glyphicon-hand-right Myicon text-danger"></span>网络验证</h5>
                <p>
                    用户可通过使用Kerberos或NTLM的Windows Server网络验证访问和管理信息。
                </p>
                <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/colored/fsc80208025mfp/pic_12.jpg" class="img-responsive center-block" />
                <hr />
                <h5><span class="glyphicon glyphicon-hand-right Myicon text-danger"></span>KYOCERA Net ViewerTM</h5>
                <p>
                    <strong>功能齐全，精心设计，便于使用！</strong>
                    它提供众多功能，包括读取计数器计数、检查状态、配置设备、管理打印、配置报警等，而且所有功能都可从一个管理位置访问。
                </p>
                <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/colored/fsc80208025mfp/pic_13.jpg" class="img-responsive center-block" />
                <p>
                    <strong>
                        KYOCERA Net便于管理员通过电脑在网络上远程访问管理功能。
                        该软件特点如下
                    </strong>
                    ·轻松收集各类计数器数据
                    ·了解打印、复印、扫描和传真量及成本
                    ·分析打印／复印量及最常用的纸张尺寸，优化机器分配
                    ·授予用户权限和使用量授权

                </p>
                <hr />
                <h5><span class="glyphicon glyphicon-hand-right Myicon text-danger"></span>基于Web的Kyocera Command Center</h5>
                <p>
                    管理员可使用Web浏览器访问内置的Kyocera Command Center，然后检查机器工作状态，更改与安全性、网络打印、电子邮件和高级网络等有关的设置。

                </p>
                <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/colored/fsc80208025mfp/pic_14.jpg" class="img-responsive center-block" />
                <hr />
                <h5><span class="glyphicon glyphicon-hand-right Myicon text-danger"></span>支持IPv6安全协议</h5>
                <p>
                    智能复合机支持IPv6安全协议，兼容未来网络架构。
                </p>
                <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/colored/fsc80208025mfp/pic_15.jpg" class="img-responsive center-block" />
            </div>
            <div class="well">
                <h4>
                    增强安全功能
                </h4>
                <hr />
                <h5><span class="glyphicon glyphicon-hand-right Myicon text-danger"></span>SSL数据安全协议</h5>
                <p>
                    使用SSL安全协议可以增强远程数据通信的安全性，防止数据被窃或遭到篡改。
                </p>

                <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/colored/m8024cidn/pic_16.jpg" class="img-responsive center-block" />

                <hr />
                <h5><span class="glyphicon glyphicon-hand-right Myicon text-danger"></span>安全水印</h5>
                <p>
                    智能复合机能够在打印件上加印不显眼的安全水印，这些水印会在复印后变得显眼。
                    此功能有助于区分原稿和复印件，保护敏感的文档。
                </p>

                <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/colored/fsc80208025mfp/pic_17.jpg" class="img-responsive center-block" />
                <hr />
                <h5><span class="glyphicon glyphicon-hand-right Myicon text-danger"></span>IC卡认证组件(选购)</h5>
                <p>
                    用户可以使用IC卡认证功能，确保按照预先设定的用户限制(如彩色输出限制)快速、安全访问输出设备。
                </p>

                <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/colored/fsc80208025mfp/pic_18.jpg" class="img-responsive center-block" />
                <p>*需要安装选购件读卡器。</p>

            </div>

            <div class="well">
                <h4>
                    智能设计打造一流质量和效率
                </h4>
                <ul>

                    <li>
                        纸张路径得到改进，减少了卡纸和纸张卷曲
                    </li>
                    <li>即便出现卡纸，也能轻松打开盖板，快速、方便地取出卡纸</li>
                    <li>纸盒中使用了内部纸张堆叠调节器，防止纸张褶皱或图像歪斜</li>
                    <li>采用封闭式无尘图像扫描单元，确保实现顶级画质</li>
                    <li>采用内置除湿加热器，防止纸张卷曲，提供更好的定影效果</li>
                    <li>无需使用专门工具，即可快速、方便地更换感光鼓、显影单元和其他保养部件</li>

                </ul>

                <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/colored/fsc80208025mfp/pic_19.jpg" class="img-responsive center-block" />

            </div>
            <div class="well">
                <h4>
                    便于使用的控制面板
                </h4>
                <hr />
                <h5><span class="glyphicon glyphicon-hand-right Myicon text-danger"></span>多功能控制面板</h5>
                <p>
                    易于使用的操作面板配有彩色触摸屏，能够显示大图标和动画菜单。
                </p>
                <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/colored/fsc80208025mfp/pic_20.jpg" class="img-responsive center-block" />
                <p>
                    作业分离器LED和设备状态LED能够清晰指示作业状态和输出状态。
                </p>
                <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/colored/fsc80208025mfp/pic_21.jpg" class="img-responsive center-block" />

                <hr />
                <h5><span class="glyphicon glyphicon-hand-right Myicon text-danger"></span>特有功能</h5>
                <p>
                    自动色彩选择功能能够节省彩色文档打印成本(仅适用于ECOSYS M8024cidn)。
                    复印或扫描摊开的纸张(如新闻纸、无碳复写纸)时，纸张防透印到背面功能能够消除背景，实现卓越画质。
                </p>
                <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/colored/fsc80208025mfp/pic_22.jpg" class="img-responsive center-block" />
                <p>
                    作业完成通知功能会在作业完成时发送电子邮件通知使用者。
                </p>
                <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/colored/fsc80208025mfp/pic_23.jpg" class="img-responsive center-block" />

            </div>


            <div class="well">
                <h4>
                    采用HyPASTM应用程序，实现精简有序的工作流程
                </h4>
                <p>
                    <strong>
                        通过应用或自定义HyPASTM应用程序让您的京瓷多功能数码复合机焕然一新，简化原本复杂的工作流程
                    </strong>

                    京瓷HyPASTM(高级解决方案混合平台)是一套 功能强大且可扩展的软件解决方案平台，可通过 自定义设置和集成化软件应用程序(设计满足并 超越用户特定的成像需求)进一步提升屡获大奖 的京瓷多功能数码复合机的性能。京瓷HyPASTM 在支持基于Java和基于网页服务的软件开发平 台方面具有独创性，可提供更为开放和灵活的平台，
                    <strong>
                        京瓷HyPASTM平台具备一系列优势，其中包括：
                    </strong>
                    <ul>
                        <li>终端客户可通过简化和快速的操作处理提高办公产能和效率。</li>
                        <li>商务经理和财务总监可从更低的运营成本和极高的投资回报率获益，这得益于全方位优化的文档成像设备和改进的多功能数码复合机工作流程。</li>
                        <li>IT部门可无缝集成京瓷多功能数码复合机和已有的解决方案，确保用户文档和文档成像设备本身的完整性和安全性。</li>
                    </ul>

                </p>

                <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/colored/fsc85208525mfp/pic_10.jpg" class="img-responsive center-block" />

            </div>
            <div class="well">
                <h4>
                    环保
                </h4>
                <dl class="dl-horizontal">
                    <dt>经济:</dt>
                    <dd>使用长寿命感光鼓和更换部件，总体拥有成本极低。</dd>
                    <dt>环保:</dt>
                    <dd>
                        实现重复使用、回收利用和减少废物的环保理念！
                        使用长寿命感光鼓进一步延长了使用寿命，减少了更换部件。
                    </dd>
                    <dt>系统打印：</dt>
                    <dd>
                        采用了模块化设计，便于加装工作流程增强功能。
                        采用了集成系统软件，保证了跨网络兼容性。
                    </dd>
                </dl>
                <p>
                    智能复合机配有低功耗ASIC，在睡眠模式下也能应对网络响应。
                    睡眠模式下的功耗低至0.9瓦
                    白色LED照明
                </p>
                <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/colored/m8024cidn/pic_26.jpg" class="img-responsive center-block" />

            </div>



        </div>
    </div>
</div>
特性：
<div class="container-fluid">
    <div class="row-fluid">
        <div class="table-responsive">
            <h4>
                基本规格
            </h4>
            <hr />
            <table class="table table-bordered table-condensed col-md-12 col-xs-12">
                <tbody>
                    <tr class="active">
                        <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">类型</td>
                        <td>&nbsp;</td>
                        <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">FS-C8520MFP</td>
                        <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">FS-C8525MFP</td>
                    </tr>
                    <tr class="warning">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">打印方式</td>
                        <td>&nbsp;</td>
                        <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">激光电子成像</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr class="error">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">预热时间</td>
                        <td>&nbsp;</td>
                        <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">55秒※1</td>
                        <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">45秒※1</td>
                    </tr>
                    <tr class="info">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">最高月印量</td>
                        <td>&nbsp;</td>
                        <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">100,000最高月印量页(参考值)</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr class="success">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">CPU</td>
                        <td>&nbsp;</td>
                        <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">IBM PowerPC464 800MHz</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr class="danger">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">内存</td>
                        <td>&nbsp;</td>
                        <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">标配 1.5GB, 最大2GB</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr class="active">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">接口</td>
                        <td>&nbsp;</td>
                        <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">高速USB2.0, USB Host, 10BASE-T/100BASE-TX/1000BASE, eKUIO</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr class="danger">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">内存插槽</td>
                        <td>&nbsp;</td>
                        <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">144针DDR2-SDRAM DIMM插槽×1个</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr class="warning">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">供纸容量</td>
                        <td>&nbsp;</td>
                        <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">
                            纸盒500张 A3(Ledger)～A5R(StatementR) 60～256 g/m²<br>
                            手送100张 A3(Ledger)～A6R(StatementR) 60～256 g/m²<br>
                            最大供纸容量1600张
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr class="success">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">出纸容量</td>
                        <td>&nbsp;</td>
                        <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">最大250张 (80g/m²), 正面向下</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr class="info">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">双面</td>
                        <td>&nbsp;</td>
                        <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">标配(A3(Ledger)～A5R(StatementR) 60～220 g/m²)</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr class="error">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">噪音水平</td>
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">待机时</td>
                        <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">49dB(A)</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr class="active">
                        <td>&nbsp;</td>
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">打印时</td>
                        <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">66dB(A)(黑白)/67dB(A)(彩色)</td>
                        <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">67.75dB(A)(黑白)/68.5dB(A)(彩色)</td>
                    </tr>
                    <tr class="danger">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">电源</td>
                        <td>&nbsp;</td>
                        <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">220-240V 50Hz 7.2A</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr class="warning">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">耗电量</td>
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">打印时</td>
                        <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">567W</td>
                        <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">607W</td>
                    </tr>
                    <tr class="error">
                        <td>&nbsp;</td>
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">待机时</td>
                        <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">129W※2</td>
                        <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">133W※2</td>
                    </tr>
                    <tr class="success">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">外观尺寸</td>
                        <td>&nbsp;</td>
                        <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">590 × 590 × 748 mm(宽 x 深 x 高)</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr class="info">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">重量</td>
                        <td>&nbsp;</td>
                        <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">80 kg</td>
                        <td>&nbsp;</td>
                    </tr>
                </tbody>
            </table>
            <table><tr><td>●22℃和60%相对湿度下。</td></tr><tr><td>●Eco Fuser设置为打开状态时。</td></tr></table>



            <h4>
                复印功能(标配)
            </h4>
            <hr />

            <table class="table table-bordered table-condensed col-md-12 col-xs-12">
                <tbody>
                    <tr class="active">
                        <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">类型</td>
                        <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">FS-C8520MFP</td>
                        <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">FS-C8525MFP</td>
                    </tr>
                    <tr class="warning">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">复印原稿</td>
                        <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">纸张、书本、三维物体</td>

                    </tr>
                    <tr class="danger">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">原稿尺寸</td>
                        <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">最大：A3幅面</td>

                    </tr>
                    <tr class="success">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">复印速度</td>
                        <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">20/20页/分钟(A4)</td>
                        <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">25/25页/分钟(A4) ※1</td>

                    </tr>
                    <tr class="error">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">首张复印时间</td>
                        <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">11.7秒(黑白)/13.6秒(彩色)</td>

                    </tr>
                    <tr class="info">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">分辨率</td>
                        <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">600dpi&times;600dpi</td>

                    </tr>
                    <tr class="active">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">缩放倍率</td>
                        <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">25%～400%(1%为单位任意缩放)</td>

                    </tr>
                    <tr class="danger">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">连续复印张数</td>
                        <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">1～999页</td>

                    </tr>
                </tbody>
            </table>

            <p>※1 使用自动送稿器时，复印速度为20/20页/分钟(A4) </p>

            <h4>
                打印功能
            </h4><hr />
            <table class="table table-bordered table-condensed col-md-12 col-xs-12">
                <tbody>
                    <tr class="active">
                        <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">类型</td>
                        <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">FS-C8520MFP</td>
                        <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">FS-C8525MFP</td>
                    </tr>
                    <tr class="warning">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">打印速度</td>
                        <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">
                            20/20页/分钟(A4单面)<br>
                            10/10页/分钟(A3单面)
                        </td>
                        <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">
                            25/25页/分钟(A4单面)<br>
                            13/13页/分钟(A3单面)
                        </td>

                    </tr>
                    <tr class="success">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">首张打印时间</td>
                        <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">11/14秒(黑白/彩色)</td>
                        <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">10/12秒(黑白/彩色)</td>

                    </tr>
                    <tr class="error">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">分辨率</td>
                        <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">600×600dpi 8bit多值</td>

                    </tr>
                    <tr class="info">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">控制语言</td>
                        <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">PRESCRIBE</td>

                    </tr>
                    <tr class="active">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">仿真语言</td>
                        <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">PCL6(PCL5c/PCL-XL ),KPDL3(PDF Direct Print 支持)、PostScript3互換,XPS</td>

                    </tr>
                    <tr class="danger">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">字体</td>
                        <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">101种矢量字体 (PCL6), 144种矢量字体(KPDL3), 1种位图字体</td>

                    </tr>
                    <tr class="warning">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">操作系统</td>
                        <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">
                            Windows 2000/XP/Vista/7<br>
                            Mac OS X 10.2/10.3, Mac OS 10.4/10.5, Linux
                        </td>

                    </tr>
                </tbody>
            </table>

            <hr />
            <h4>
                扫描功能
            </h4>
            <hr />
            <table class="table table-bordered table-condensed col-md-12 col-xs-12">
                <tbody>
                    <tr class="active">
                        <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">类型</td>
                        <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">FS-C8520MFP</td>
                        <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">FS-C8525MFP</td>
                    </tr>
                    <tr class="danger">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">原稿读取速度</td>
                        <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">
                            600dpi黑白/彩色：20/20页/分钟<br />
                            300dpi黑白/彩色：40/40页/分钟
                        </td>

                    </tr>
                    <tr class="success">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">扫描种类</td>
                        <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">彩色/黑白</td>

                    </tr>
                    <tr class="error">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">最大读取幅面</td>
                        <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">A3幅面</td>

                    </tr>
                    <tr class="warning">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">扫描分辨率</td>
                        <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">600dpi, 400dpi, 300dpi, 200dpi, 200x100dpi, 200x400dpi</td>

                    </tr>
                    <tr class="info">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">扫描功能</td>
                        <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">Scan to PC, Scan to USB memory, Scan to E-mail, Scan to FTP, TWAIN/WIA</td>

                    </tr>
                    <tr class="active">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">文件格式</td>
                        <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">TIFF, JPEG, XPS, PDF(1.4,/A)</td>

                    </tr>
                    <tr class="danger">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">TWAIN支持系统</td>
                        <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">Windows2000/XP/Serve 2003/Server 2008/Vista/7</td>

                    </tr>
                    <tr class="warning">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">WIA支持系统</td>
                        <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">Windows Vista/7/Server 2008</td>

                    </tr>
                </tbody>
            </table>
            <h4>
                传真功能 需要安装选购件FAX System(U)
            </h4>
            <hr />

            <table class="table table-bordered table-condensed col-md-12 col-xs-12">
                <tbody>
                    <tr class="active">
                        <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">类型</td>
                        <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">FS-C8520MFP</td>
                        <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">FS-C8525MFP</td>
                    </tr>
                    <tr class="danger">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">通信模式</td>
                        <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">Super G3</td>

                    </tr>
                    <tr class="warning">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">分辨率</td>
                        <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">
                            普通：2阶8dot/mm&times;3.85line/mm<br />
                            精细：2阶8dot/mm&times;7.7line/mm<br />
                            高精细：2阶8dot/mm&times;15.4line/mm<br />
                            超精细：2阶16dot/mm&times;15.4line/mm
                        </td>

                    </tr>
                    <tr class="success">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">数据压缩方式</td>
                        <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">MMR，MR，MH，JBIG</td>

                    </tr>
                    <tr class="error">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">一键拨号</td>
                        <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">20个</td>

                    </tr>
                    <tr class="active">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">缩位拨号</td>
                        <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">200个</td>

                    </tr>
                    <tr class="info">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">群发</td>
                        <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">最大50个地址</td>

                    </tr>
                    <tr class="warning">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">浓淡度选择</td>
                        <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">7级</td>

                    </tr>
                    <tr class="success">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">支持系统</td>
                        <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">Windows XP/Server2003/Vista/7/Server2008</td>

                    </tr>
                </tbody>
            </table>
            <p>※ 由于复印原稿或打印数据的大小不同，有可能需要增加内存。</p>
        </div>
    </div>
</div>
耗材
<div class="container-fluid">
    <div class="row-fluid">
        <div class="table-responsive">
            <h4>选配件</h4>
            <table class="table table-bordered table-condensed col-md-12 col-xs-12">
                <tbody>
                    <tr class="active">
                        <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">供纸盒</td>
                        <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">PF-470</td>
                    </tr>
                    <tr class="danger">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">纸张规格</td>
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">A5 至 A3</td>
                    </tr>
                    <tr class="warning">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">纸张厚度</td>
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">52-256 g/m2</td>
                    </tr>
                    <tr class="success">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">供纸容量</td>
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">500张×1纸盒 (80g/m2)</td>
                    </tr>
                    <tr class="info">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">电源</td>
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">DC 24V, 3.3V (主机供电)</td>
                    </tr>
                    <tr class="error">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">外观尺寸</td>
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">590*589*352mm</td>
                    </tr>
                    <tr class="active">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">重量</td>
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">20kg</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered table-condensed col-md-12 col-xs-12">
                <tbody>
                    <tr class="active">
                        <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">供纸盒</td>
                        <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">PF-471</td>
                    </tr>
                    <tr class="danger">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">纸张规格</td>
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">A5 至 A3</td>
                    </tr>
                    <tr class="warning">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">纸张厚度</td>
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">60-163 g/m²</td>
                    </tr>
                    <tr class="success">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">供纸容量</td>
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">500张×1纸盒 (80g/m2)</td>
                    </tr>
                    <tr class="info">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">电源</td>
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">DC 24V, 3.3V (主机供电)</td>
                    </tr>
                    <tr class="error">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">外观尺寸</td>
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">590*589*352mm</td>
                    </tr>
                    <tr class="active">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">重量</td>
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">20kg</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered table-condensed col-md-12 col-xs-12">
                <tbody>
                    <tr class="active">
                        <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">装订器</td>
                        <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">DF-470</td>
                    </tr>
                    <tr class="danger">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">纸张规格</td>
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">B5 至 A3 (Ledger, Letter, Legal, Officio2, 八开, 十六开, 8.5×13, Folio)</td>
                    </tr>
                    <tr class="success">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">纸张厚度</td>
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">52-256 g/m²</td>
                    </tr>
                    <tr class="info">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">装订方式</td>
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">3种(边订；2种角订)</td>
                    </tr>
                    <tr class="error">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">装订张数</td>
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">
                            50张 (A4, B5, Letter, 十六开)<br>
                            25张 (A3, B4, Folio, Ledger, Legal, 8.5×13, 八开)
                        </td>
                    </tr>
                    <tr class="warning">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">外观尺寸</td>
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">416*521*275.5mm</td>
                    </tr>
                    <tr class="active">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">重量</td>
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">12kg</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered table-condensed col-md-12 col-xs-12">
                <tr class="active"><td>连接器</td><td>AK-470</td></tr>
                <tr class="danger"><td></td><td>AK-470必须与DF-470同时安装使用</td></tr>
            </table>
            <table class="table table-bordered table-condensed col-md-12 col-xs-12">
                <tbody>
                    <tr class="active">
                        <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">传真系统</td>
                        <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">FAX System(U)</td>
                    </tr>
                    <tr class="danger">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">通信模式</td>
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">Super G3</td>
                    </tr>
                    <tr class="warning">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">分辨率</td>
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">
                            普通：2阶8dot/mm&times;3.85line/mm<br />
                            精细：2阶8dot/mm&times;7.7line/mm<br />
                            高精细：2阶8dot/mm&times;15.4line/mm<br />
                            超精细：2阶16dot/mm&times;15.4line/mm
                        </td>
                    </tr>
                    <tr class="error">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">数据压缩方式</td>
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">MMR，MR，MH，JBIG</td>
                    </tr>
                    <tr class="success">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">一键拨号</td>
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">20个</td>
                    </tr>
                    <tr class="info">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">缩位拨号</td>
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">200个</td>
                    </tr>
                    <tr class="active">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">群发</td>
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">最大50个地址</td>
                    </tr>
                    <tr class="danger">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">浓淡度选择</td>
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">7级</td>
                    </tr>
                    <tr class="warning">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">支持系统</td>
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">Windows2000/XP/Server2003/Vista/7</td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-bordered table-condensed col-md-12 col-xs-12">
                <tbody>
                    <tr class="active">
                        <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">打印内存</td>
                        <td style="font-family: SimSun, STSong; font-size: 12px; height: 12px; vertical-align: middle;">&nbsp;</td>
                    </tr>
                    <tr class="warning">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">
                            DIMM内存<br>
                            (1个插槽)
                        </td>
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">
                            PM-256K(256KB )<br>
                            PM-512K(512KB)<br>
                            PM-1GK(1GB)
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered table-condensed col-md-12 col-xs-12">
                <tbody>
                    <tr class="active">
                        <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">IC卡读卡器</td>
                        <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">SCL010</td>
                    </tr>
                    <tr class="danger">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">类型</td>
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">
                            MIFARE<br />
                            ISO 14443 type A &amp; B<br />
                            FeliCaTM
                        </td>
                    </tr>
                    <tr class="warning">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">接口</td>
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">USB 2.0 full speed</td>
                    </tr>
                    <tr class="error">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">电源</td>
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">USB Bus Powerd(主机供电)</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered table-condensed col-md-12 col-xs-12">
                <tbody>
                    <tr class="active">
                        <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">IC卡认证组件(B)</td>
                        <td style="font-family: SimSun, STSong; font-size: 12px; height: 12px; vertical-align: middle;">&nbsp;</td>
                    </tr>
                    <tr class="success">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">验证组件</td>
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">IC Card Authentication KIT(B)</td>
                    </tr>
                </tbody>
            </table>

            
            <h4>消耗品</h4>
            <hr />
            <table class="table table-bordered table-condensed col-md-12 col-xs-12">
                <tbody>
                    <tr class="active">
                        <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">类型</td>
                    </tr>
                    <tr class="error">
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">碳粉</td>
                        <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">
                            TK-898K (12000张, 初始随机碳粉使用寿命3000张)<br />
                            TK-898M/Y/C (6000张, 初始随机碳粉使用寿命1500张)<br />
                            ●ISO19798,输出张数只作为限定条件下的参考值.<br />
                            ●根据印刷内容和使用环境的不同,印量也会有差别.<br />
                            ●建议您使用京瓷原配耗材。我们对于因使用第三方耗材而对机器造成的损失<br />
                            不承担任何责任。<br />
                            ●产品规格及外观如有变更，恕不另行通知
                        </td>
                    </tr>
                </tbody>
            </table>


        </div>
    </div>
</div>