特性：
<div class="panel panel-warning">
    <div class="panel-heading">【1】先进的生产能力实现了办公环境的高效化</div>
    <div class="panel-body">
        <h4>强大的规格参数</h4>
        <ul>
            <li>每分钟65/80页(A4纵向)的黑白打印、复印速度；</li>
            <li>标配网络打印/复印/彩色扫描/双面器；</li>
            <li>大大降低的首页复印时间，让用户无需等待；(TASKalfa6501i/8001i首页复印时间分别只需5.2秒/4.7秒)</li>
        </ul>
        <h4>实现高速扫描的双面输稿器</h4>
        <hr />
        <p>标配全新开发的双面输稿器，可实现一次进稿，双面同时自动高速扫描。最高可达单面(黑白/彩色)100/70页/分钟和双面(黑白/彩色)180/100页/分钟的扫描速度。※</p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/multifunction/taskalfa6501i8001i/pic_01.jpg" class="img-responsive">
    </div>
    <h4>可扩展的大容量供纸能力</h4>
    <hr />
    <p>TASKalfa6501i 8001i可选配大容量纸盒，最多可实现8种不同类型纸张打印※，最大供纸量高达7,650张，适合大印量的打印和复印工作。</p>
    <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/multifunction/taskalfa6501i8001i/pic_02.jpg" class="img-responsive">


</div>
<div class="panel panel-danger">
    <div class="panel-heading">【2】完美的机身设计带来更多人性化体验</div>
    <div class="panel-body">
        <h4>一目了然的大型操作面板</h4>
        <hr />
        <p>TASKalfa6501i 8001i配备了10.1英寸彩色触摸式操作面板，这使得每位用户都能进行类似于智能手机和平板电脑的滑动式操作，从而提高办公效率。</p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/multifunction/taskalfa6501i8001i/pic_04.jpg" class="img-responsive">
        <p>新增主页菜单。初始主页界面上配置了所有的常用功能和应用程序，用户不需要再使用任何实体键，我们重视操作体验，划屏功能类似于智能手机。另，用户亦可以根据不同的使用(或群组用户)需求个性化定制主页界面。</p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/multifunction/taskalfa6501i8001i/pic_05.jpg" class="img-responsive">
        <h4>
            无缝设计理念一体化机身外观
        </h4>
        <p>TASKalfa6501i 8001i拥有完美的机身设计，例如在主机的前方专门设置了一个读卡器的安放区域，从而极大的提高了刷卡用户的操作便利性和安装美观性。</p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/multifunction/taskalfa6501i8001i/pic_06.jpg" class="img-responsive">

    </div>
   

</div>
<div class="panel panel-danger">
    <div class="panel-heading">【3】技术改良提升更高画质以及色彩稳定性</div>
    <div class="panel-body">
        <h4>卓越的图像质量</h4>
        <hr />
        <ul>
            <li>京瓷图像精细(KIR)技术: 确保始终如一的高质量黑白文档。</li>
            <li>基于彩机技术研发，以实现卓越的输出品质: 黑色块和文字、线条的粗细和排列紧密的细纹、优质的半色调
      功能，在黑白打印和复印模式时都可保证卓越的输出品质。</li>
        </ul>
       
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/multifunction/taskalfa6501i8001i/pic_03.jpg" class="img-responsive">
       
    </div>


</div>
<div class="panel panel-success">
    <div class="panel-heading">【4】长寿命非晶硅鼓缔造京瓷独有高可靠性</div>
    <div class="panel-body">
        <h4>京瓷独创的非晶硅感光鼓实现60万页的长寿命</h4>
        <hr />
       <p>TASKalfa6501i/8001i配有京瓷独创的长寿命非晶硅感光鼓，使用寿命长达60万印。这一技术的使用体现了京瓷产品一贯的长寿命和可靠性，并且新机型的其他组件也均采用了长寿命部件，以降低维修频率，确保机器在整个设计周期中都能稳定地工作。</p>

        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/multifunction/taskalfa6501i8001i/pic_08.jpg" class="img-responsive">

    </div>


</div>
<div class="panel panel-info">
    <div class="panel-heading">【5】丰富的新增功能创造更多用户价值</div>
    <div class="panel-body">
        <h4>可在机器上收发邮件</h4>
        <hr />
        <p>新系列产品支持最新的公共邮箱服务器协议，支持Gmail, Hotmail. 可通过机器屏幕进行收发邮件。
            ▶通过Gmail 或 Hotmail 账户可实现:
            ▶从设备发出邮件通知
            ▶通过邮箱接收文件
            ▶从Gmail和Hotmail账户下打印文件</p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/multifunction/taskalfa6501i8001i/pic_09.jpg" class="img-responsive">
        <h4>扫描发送可检测扫描文件大小</h4>
        <hr />
        <p>扫描完成，发送之前，可检测文件大小，避免由于文件过大导致的发送失败。</p>
        <h4>标配可检索PDF功能</h4>
        <hr />
        <p>扫描纸文档原稿时，通过OCR功能分离文本和图像以转换文本为文字数据，再将图像和文字数据结合成PDF文档。有助于重复使用PDF文件和使用PDF文件格式的搜索功能轻松检索数据。</p>
        <h4>移动打印</h4>
        <hr />
        <p>KYOCERA Mobile Print: 移动打印服务可使用户通过操作其Apple和Android智能手机和平板电脑使用京瓷打印机和多功能数码复合机进行打印和扫描。该服务可通过Wi-Fi快速和轻松地查找京瓷打印机和多功能数码复合机。轻松方便的按需打印文档、网页和图像。还可以从多功能数码复合机将文件和图像扫描至移动设备。另外，新系列机型还支持iphone和ipad上的AirPrint功能。</p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/multifunction/taskalfa6501i8001i/pic_12.jpg" class="img-responsive">
    </div>


</div>
<div class="panel panel-primary">
    <div class="panel-heading">【6】先进的安全及管理系统令企业文档安全高枕无忧</div>
    <div class="panel-body">
        <h4>私密打印</h4>
        <hr />
        <p>当在KYOCERA KX Driver上发送打印命令时，可以同时设置一个四位数字密码，将打印任务暂时储存在设备中等待随后的调用输出。</p>

        
        <h4>密码保护设置</h4>
        <hr />
        <p>允许用户管理员通过设置密码来限制用户进入指定容量的文件夹。</p>

        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/multifunction/taskalfa6501i8001i/pic_13.jpg" class="img-responsive">
        <h4>使用数据安全组件(选购)进行数据加密，实现安全控制</h4>
        <hr />
        <p>数据安全组件可在数据存储到硬盘前对其进行加密，并在打印、复印、传真或扫描后自动删除存储在硬盘中的所有数据。</p>

        
        <h4>传真内存覆写(选购)</h4>
        <hr />
        <p>在发送或接收机密文件后擦除传真内存上的数据。</p>

        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/multifunction/taskalfa6501i8001i/pic_14.jpg" class="img-responsive">
        <h4>IC卡刷卡认证组件(选购)</h4>
        <hr />
        <p>实现高效管理用户可使用选购的IC卡进行验证，以便按照预设的用户限制(如彩色输出限制和配额)快速、安全地访问机器。</p>
       
        <h4>通过网络验证与客户的IT环境轻松整合</h4>
        <hr />
        <p>IT部门可通过中央验证服务器(NTLM、Kerberos、)的网络验证功能轻松管理用户验证。</p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/multifunction/taskalfa6501i8001i/pic_15.jpg" class="img-responsive">
       
    </div>


</div>
<div class="panel panel-info">
    <div class="panel-heading">【7】更低碳，更环保，更省能源</div>
    <ul>
        <li>减少浪费
        <ol><li>长寿命非晶硅(a-si)感光鼓、显影单元及其他更换部件</li>
            <li>可回收利用的部件</li></ol></li>
        <li>无毒材料</li>
        <li>低功耗<ol>
            <li>白色LED指示灯</li>
            <li>优化节能：管理员可使用周定时器预设开机和关机时间</li>
            <li>深度睡眠模式，TASKalfa6501i/8001i新增了深度睡眠模式以便更好的节约能源，此状态下功耗(标准配置)为1.8W。</li>
            </ol></li>
        <li>节省墨粉,灵活的EcoPrint功能</li>
        <li>舒适的工作环境,
    设备在工作和睡眠状态时噪音极低</li>
    </ul>
 </div>