特征：
<div class="panel panel-success">
    <div class="panel-heading">【1】一目了然的9英寸操作面板，更好的用户体验</div>
    <div class="panel-body">

        <p>TASKalfa3011i/3511i配备了9英寸的彩色触摸式面板，且面板角度可以在15度到90度角之间任意调整。人性化设计为用户带来了更好的操作体验。</p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/multifunction/taskalfa3011i3511i/pic_01.jpg" class="img-responsive center-block" />



        <p>
            另外，TASKalfa3011i/3511i操作面板上移除了传统的数字键盘，转而采用虚拟数字键盘形式输入。当用户需要进行数字输入的时候，虚拟键盘会自动跳出来。
        </p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/multifunction/taskalfa3011i3511i/pic_02.jpg" class="img-responsive center-block" />



    </div>
</div>
<div class="panel panel-success">
    <div class="panel-heading">【2】先进的打印引擎，高速双面输稿器带来了极高的生产效率</div>
    <div class="panel-body">

        <ul>
            <li>TASKalfa3011i/3511i所采用的打印引擎带来了高效的生产效率，双面生产能力达到100%，首张复印时间仅需3.6秒，预热时间18秒，领先同类其他产品，提高了用户的办公效率。</li>
            <li>TASKalfa3011i/3511i可选配双面输稿器DP-7110，实现双面同时自动高速扫描，且双面扫描时，黑白彩色同速，可达160页/分钟。另外还可支持A6R尺寸的原稿扫描。</li>
        </ul>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/multifunction/taskalfa3011i3511i/pic_03.jpg" class="img-responsive center-block" />
             
    </div>
</div>
<div class="panel panel-success">
    <div class="panel-heading">【3】扫描时通过辨别原稿方向自动旋转扫描数据</div>
    <div class="panel-body">

        
        <p>使用OCR功能，原稿方向将会被识别为横向或纵向，且据此，扫描图像可以做出调整，进行90°/180°/270°的旋转。另外，即使原稿是横向纵向混合，扫描数据也依旧可以被调整到正确的方向。</p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/multifunction/taskalfa3011i3511i/pic_04.jpg" class="img-responsive center-block" />

    </div>
</div>
<div class="panel panel-success">
    <div class="panel-heading">【4】分组扫描</div>
    <div class="panel-body">

        
        <p>现有机型允许用户把原稿中的每一张单独扫描成一份独立的文件，但是TASKalfa3011i/3511i增加了一项新的功能，即可以多张分组，这有利于节约工作时间，提高工作效率。
        </p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/multifunction/taskalfa3011i3511i/pic_05.jpg" class="img-responsive center-block" />
        
    </div>
</div>
<div class="panel panel-success">
    <div class="panel-heading">【5】京瓷独创的非晶硅感光鼓实现60万页的长寿命</div>
    <div class="panel-body">

      
        <p>
            TASKalfa3011i/3511i配有京瓷独创的长寿命非晶硅感光鼓，使用寿命长达60万印。这一技术的使用体现了京瓷产品一贯的长寿命和可靠性，并且新机型的其他组件也均采用了长寿命部件，以降低维修频率，确保机器在整个设计周期中都能稳定地工作。
        </p>
        >
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/multifunction/taskalfa3011i3511i/pic_06.jpg" class="img-responsive center-block" />
       
    </div>
</div>
<div class="panel panel-success">
    <div class="panel-heading">【6】封面封底、插页等多种复印模式</div>
    <div class="panel-body">
        <p>当进行大量原稿的复印工作时，用户可操作纸张插入和按章节分组输出功能，有效提高了复印效率。</p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/multifunction/taskalfa3011i3511i/pic_07.jpg" class="img-responsive center-block" />

    </div>
</div>
<div class="panel panel-success">
    <div class="panel-heading">【7】节能设计</div>
    <div class="panel-body">
        <p>TASKalfa3011i/3511i满足最新的ErP Lot6标准，比如当主机与外部有线网络未连接一定的时间，就会切换为自动断开模式。如果需要重新恢复，启动键就在面板下方，非常方便。而且在断开模式下，能耗低于0.5W。</p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/multifunction/taskalfa3011i3511i/pic_08.jpg" class="img-responsive center-block" />

    </div>
</div>
<div class="panel panel-success">
    <div class="panel-heading">【8】移动打印功能</div>
    <div class="panel-body">
        <p>KYOCERA Mobile Print是基于App的移动打印解决方案。在Wi-Fi环境下，用户随时随地可通过其Apple和Android智能手机及平板电脑选择京瓷多功能数码复合机和打印机，轻松方便地按需打印文档、网页和图像。还可从多功能数码复合机将文件和图像扫描至对应的移动设备。</p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/multifunction/taskalfa3011i3511i/pic_09.jpg" class="img-responsive center-block" />
        <p>另外，TASKalfa3011i/3511i还支持iPhone和iPad上的AirPrint功能。
TASKalfa3011i/3511i还可选配IB-35无线局域网，方便用户通过WIFI Direct/NFC打印、扫描。</p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/multifunction/taskalfa3011i3511i/pic_10.jpg" class="img-responsive center-block" />

    </div>
</div>
<div class="panel panel-success">
    <div class="panel-heading">【9】可检索PDF功能(选购)</div>
    <div class="panel-body">
        <p>扫描纸文档原稿时，通过OCR功能分离文本和图像以转换文本为文字数据，再将图像和文字数据结合成PDF文档。有助于重复使用PDF文件和使用PDF文件格式的搜索功能轻松检索数据。</p>
       
    </div>
</div>
<div class="panel panel-success">
    <div class="panel-heading">【10】发送前可检查文件大小</div>
    <div class="panel-body">
        <p>日常工作中，因为扫描文件太大而超出电子邮箱容量，不能顺利发出去的情况时常给很多用户带来困扰。TASKalfa3011i/3511i则允许用户在实际发送前检查文件大小以确保不会超出限制。</p>
        
    </div>
</div>
特性：
<div class="table-responsive">
    <h5>主要规格</h5>
    <hr />
    <table class="table table-bordered table-condensed col-md-12 col-xs-12">
        <tbody>
            <tr class="active">
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">类型</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">TASKalfa 3011i</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">TASKalfa 3511i</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">主要功能</td>
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">复印, 打印, 扫描, 传真 (选购)</td>
            </tr>
            <tr class="warning">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">成像方式</td>
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">激光电子成像</td>
            </tr>
            <tr class="error">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">CPU</td>
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">T1024(双核)/1.0GHz</td>
            </tr>
            <tr class="success">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">内存</td>
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">标配2GB</td>
            </tr>
            <tr class="info">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">SSD</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">32GB</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">8GB</td>
            </tr>
            <tr class="active">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">硬盘</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">320GB(选购)</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">320GB(标配)</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">预热时间 ※(从主电源开启)</td>
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">18秒</td>
            </tr>
            <tr class="success">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">纸张容量</td>
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">
                    标准：2 x 500张(纸盒) + 100张 (手送)<br />
                    上限：4,100张(主机 + PF-810 + 手送)
                </td>
            </tr>
            <tr class="warning">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">纸张尺寸</td>
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">
                    纸盒：A5R至A3<br />
                    手送：A6R至A3
                </td>
            </tr>
            <tr class="error">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">纸张重量</td>
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">
                    纸盒：60至163g/m&sup2;<br />
                    手送：45至256g/m&sup2;
                </td>
            </tr>
            <tr class="info">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">操作面板</td>
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">9英寸彩色触摸LCD面板</td>
            </tr>
            <tr class="active">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">
                    外观尺寸<br />
                    (宽 x 深 x 高) (主机)
                </td>
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">594mm x 696mm x 680mm</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">重量(主机)</td>
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">约58 kg</td>
            </tr>
            <tr class="warning">
                <td rowspan="3" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">功耗(标准配置)</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">复印/打印模式：620W或以下</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">复印/打印模式：660W或以下</td>
            </tr>
            <tr class="success">
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">待机模式：120W或以下</td>
            </tr>
            <tr class="error">
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">节能模式：1.0W或以下</td>
            </tr>
            <tr class="info">
                <td rowspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">噪音(ISO7779/ISO9296)</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">复印/打印模式：66.2dB(A)</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">复印/打印模式：66.7dB(A)</td>
            </tr>
            <tr class="active">
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">待机模式：43dB(A)</td>
            </tr>
        </tbody>
    </table>
    <p>※在温度为22℃和60%湿度的环境下。</p>
    <h5>复印功能(标配)</h5>
    <hr />
    <table class="table table-bordered table-condensed col-md-12 col-xs-12">
        <tbody>
            <tr class="active">
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">类型</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">TASKalfa 3011i</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">TASKalfa 3511i</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">复印尺寸</td>
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">A3-A6R</td>
            </tr>
            <tr class="warning">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">复印速度</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">30页/分钟</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">35页/分钟</td>
            </tr>
            <tr class="success">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">分辨率</td>
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">600&times;600dpi</td>
            </tr>
            <tr class="error">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">首张复印时间</td>
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">3.6秒</td>
            </tr>
            <tr class="info">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">缩放倍率</td>
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">
                    手动：25%至400%(以1%为增量)；<br />
                    预定义：3缩4放
                </td>
            </tr>
            <tr class="active">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">连续复印张数</td>
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">1～999张</td>
            </tr>
        </tbody>
    </table>

    <h5>打印功能(标配)</h5>
    <hr />
    <table class="table table-bordered table-condensed col-md-12 col-xs-12">
        <tbody>
            <tr class="active">
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">类型</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">TASKalfa 3011i</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">TASKalfa 3511i</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">打印速度</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">30页/分钟</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">35页/分钟</td>
            </tr>
            <tr class="success">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">分辨率</td>
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">600&times;600dpi</td>
            </tr>
            <tr class="error">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">PDL</td>
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">
                    PRESCRIBE, PCL6 (PCL-5e, PCL-XL), KPDL3 (PostScript 3兼容), XPS<br />
                    Open XPS, PDF直接打印
                </td>
            </tr>
            <tr class="warning">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">首张打印时间</td>
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">4.2秒</td>
            </tr>
            <tr class="info">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">支持的协议</td>
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">NetBEUI, FTP, 端口9100, LPR, IPP, IPP over SSL, WSD打印</td>
            </tr>
            <tr class="active">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">支持的操作系统</td>
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">
                    Windows Server 2003, Windows Server 2008, Windows Server 2008 R2,<br />
                    Windows Server 2012,Windows XP, Windows Vista, Windows 7, Windows 8;<br />
                    Windows 10; Apple Macintosh OS 10.5及以上版本；Linux
                </td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">接口</td>
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">
                    USB2.0高速x1; 1000BASE-T/100BASE-TX/10BASE-T;<br />
                    USB主机接口 (USB 主机) x4; NFC TAG x1
                </td>
            </tr>
            <tr class="warning">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">USB存储器打印</td>
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">标配(格式：TIFF,JPEG,PDF,XPS)</td>
            </tr>
            <tr class="success">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">手机打印</td>
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">AirPrint, Mopria, KYOCERA Mobile Print</td>
            </tr>
        </tbody>
    </table>



    <h5>扫描功能(标配)</h5>
    <hr />
    <table class="table table-bordered table-condensed col-md-12 col-xs-12">
    <tbody>
        <tr class="active">
            <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">类型</td>
            <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">TASKalfa 3011i</td>
            <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">TASKalfa 3511i</td>
        </tr>
        <tr class="danger">
            <td rowspan="3" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">
                扫描速度<br />
                (A4，300dpi)
            </td>
            <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">DP-7100</td>
            <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">
                单面时：80/80ipm(黑白/彩色)<br />
                双面时：48/48ipm(黑白/彩色)
            </td>
        </tr>
        <tr class="warning">
            <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">DP-7110</td>
            <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">
                单面时：80/80ipm(黑白/彩色)<br />
                双面时：160/160ipm(黑白/彩色)
            </td>
        </tr>
        <tr class="success">
            <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">DP-7120</td>
            <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">
                单面时：48/48ipm(黑白/彩色)<br />
                双面时：15/15ipm(黑白/彩色)
            </td>
        </tr>
        <tr class="error">
            <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">分辨率</td>
            <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">600dpi，400dpi，300dpi，200dpi，200&times;100dpi，200&times;400dpi</td>
        </tr>
        <tr class="info">
            <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">文件格式</td>
            <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">
                TIFF, JPEG, XPS, Open XPS, PDF(MMR/JPG/高压缩PDF),<br />
                PDF/A, 可搜索PDF(选购)
            </td>
        </tr>
        <tr class="active">
            <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">图像质量模式</td>
            <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">文字，图片，文字+图片</td>
        </tr>
        <tr class="danger">
            <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">发送方式</td>
            <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">
                扫描至SMB; 扫描至E-mail; 扫描至FTP或FTP over SSL;<br />
                扫描至USB; TWAIN扫描; WSD扫描
            </td>
        </tr>
        <tr class="warning">
            <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">地址存储</td>
            <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">2,000个地址(共用地址列表), 500个群组(群组地址列表)</td>
        </tr>
    </tbody>
</table>
    <h5>传真功能(选购)</h5>
    <hr />
    <table class="table table-bordered table-condensed col-md-12 col-xs-12">
        <tbody>
            <tr class="active">
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">类型</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">TASKalfa 3011i</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">TASKalfa 3511i</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">原稿尺寸</td>
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">A3-A5</td>
            </tr>
            <tr class="success">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">数据压缩方式</td>
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">MMR,MR,MH,JBIG</td>
            </tr>
            <tr class="warning">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">通讯速度</td>
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">33.6 kbps</td>
            </tr>
            <tr class="error">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">内存</td>
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">标准：12MB; 上限：120MB(使用选购的传真内存)</td>
            </tr>
            <tr class="info">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">G3传真/网络传真</td>
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">有</td>
            </tr>
        </tbody>
    </table>

</div>
耗材
<div class="table-responsive">
    <h4 class="text-danger"><span class="glyphicon glyphicon-hand-right text-info"></span> 选购件及耗材</h4>
    <hr />
    <table class="table table-bordered table-condensed col-md-12 col-xs-12">
        <tbody>
            <tr class="active">
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">型号</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">TASKalfa 3011i</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">TASKalfa 3511i</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">碳粉</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">TK-7118(24,000页)</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">TK-7218(42,000页)</td>
            </tr>
            <tr class="success">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">保养组件</td>
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">MK-7108</td>
            </tr>
            <tr class="warning">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">原稿台盖板</td>
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">Platen Cover Type E</td>
            </tr>
            <tr class="error">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">输稿器</td>
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">
                    DP-7100: 140张自动双面翻转输稿器;<br />
                    DP-7110: 270张双面同时扫描输稿器;<br />
                    DP-7120: 50张自动双面翻转输稿器
                </td>
            </tr>
            <tr class="info">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">供纸盒</td>
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">
                    PF-791: 500张x 2 (A4/Letter);<br />
                    PF-810: 1,500张x 2 (A4/Letter)
                </td>
            </tr>
            <tr class="active">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">装订系统</td>
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">
                    AK-740: 连接器; DF-7120: 1,000张装订器; DF-791: 3,000张装订器;<br />
                    PH-7C: 打孔组件; MT-730(B): 7格邮箱;<br />
                    SH-10：DF-7120用装订针，SH-12：DF-791用装订针
                </td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">传真系统</td>
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">Fax System12</td>
            </tr>
            <tr class="warning">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">互联网传真</td>
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">Internet FAX Kit(A)</td>
            </tr>
            <tr class="success">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">安全组件</td>
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">数据安全组件:Data Security Kit(E)</td>
            </tr>
            <tr class="error">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">IC卡认证组件</td>
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">Card Authentication Kit(B)</td>
            </tr>
            <tr class="info">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">嵌入式OCR</td>
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">Scan Extension Kit(A)</td>
            </tr>
            <tr class="active">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">硬盘存储</td>
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">HD-12(HDD 320GB)※</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">实体键盘</td>
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">NK-7100</td>
            </tr>
            <tr class="success">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">纸柜</td>
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">CB-7101</td>
            </tr>
        </tbody>
    </table>


</div>