特性：
<div class="container-fluid">
    <div class="row-fluid">
        <div class="table-responsive">
            <h3>
                基本规格
            </h3>
            <table class="table table-bordered table-condensed col-md-12 col-xs-12">
                <tbody>
                    <tr class="success">
                        <td colspan="2">
                            类型
                        </td>
                        <td>
                            TASKalfa<br /> 3051ci
                        </td>
                        <td>
                            TASKalfa<br /> 3551ci
                        </td>
                        <td>
                            <strong>TASKalfa<br /> 4551ci</strong>
                        </td>
                        <td>
                            <strong>TASKalfa<br /> 5551ci</strong>
                        </td>
                    </tr>
                    <tr class="warning">
                        <td colspan="2">
                            主要功能
                        </td>
                        <td colspan="4">
                            复印/打印/扫描/传真(选购)
                        </td>
                    </tr>
                    <tr class="danger">
                        <td colspan="2">
                            内存/硬盘
                        </td>
                        <td colspan="4">
                            3.5GB/160GB
                        </td>
                    </tr>
                    <tr class="info">
                        <td colspan="2">
                            预热时间(主电源开启)
                        </td>
                        <td>
                            25秒
                        </td>
                        <td>
                            25秒
                        </td>
                        <td>
                            30秒
                        </td>
                        <td>
                            30秒
                        </td>
                    </tr>
                    <tr class="active">
                        <td colspan="2">
                            外观尺寸(长*宽*高)
                        </td>
                        <td colspan="4">
                            648*767*747 mm(不带纸盒和输稿器)
                        </td>
                    </tr>
                    <tr class="warning">
                        <td colspan="2">
                            重量
                        </td>
                        <td colspan="4">
                            约114KG
                        </td>
                    </tr>
                    <tr class="danger">
                        <td rowspan="2">
                            纸盒容量
                        </td>
                        <td>
                            标配
                        </td>
                        <td colspan="4">
                            500张*2+150张(手送纸盘)
                        </td>
                    </tr>
                    <tr class="info">
                        <td>
                            最大
                        </td>
                        <td colspan="2">
                            7150张<br /> (500*2+1500*2+3000+150)
                        </td>
                        <td colspan="2">
                            7650张<br /> (500*2+1500*2+500+3000+150)
                        </td>
                    </tr>
                    <tr class="success">
                        <td rowspan="2">
                            纸张重量
                        </td>
                        <td>
                            纸盒
                        </td>
                        <td colspan="2">
                            60-220g/m²(标配)<br /> 60-256g/m²(选购)
                        </td>
                        <td colspan="2">
                            60-256g/m²(标配及选购)
                        </td>
                    </tr>
                    <tr class="active">
                        <td>
                            手送纸盘
                        </td>
                        <td colspan="4">
                            60-300g/m²；<br /> 长纸打印时：136g/m²-163g/m²
                        </td>
                    </tr>
                    <tr class="success">
                        <td rowspan="2">
                            纸张尺寸
                        </td>
                        <td>
                            纸盒
                        </td>
                        <td colspan="4">
                            最小A5R-最大304×457mm
                        </td>
                    </tr>
                    <tr class="info">
                        <td>
                            手送纸盘
                        </td>
                        <td colspan="4">
                            最小A6R-最大304×457mm和304.8mm×1219.2mm(横幅打印)
                        </td>
                    </tr>
                    <tr class="danger">
                        <td colspan="2">
                            打印负荷
                        </td>
                        <td colspan="2">
                            最高月印量150,000印(参考值)
                        </td>
                        <td colspan="2">
                            最高月印量200,000印(参考值)
                        </td>
                    </tr>
                </tbody>
            </table>
            <h3>
                复印功能(标配)
            </h3>
            <table class="table table-bordered table-condensed col-md-12 col-xs-12">
                <tbody>
                    <tr class="active">
                        <td colspan="2">
                            类型
                        </td>
                        <td>
                            TASKalfa<br /> 3051ci
                        </td>
                        <td>
                            TASKalfa<br /> 3551ci
                        </td>
                        <td>
                            TASKalfa<br /> 4551ci
                        </td>
                        <td>
                            TASKalfa<br /> 5551ci
                        </td>
                    </tr>
                    <tr class="success">
                        <td>
                            分辨率
                        </td>
                        <td colspan="4">
                            600*600dpi；9600*600dpi级
                        </td>
                        <td></td>
                    </tr>
                    <tr class="danger">
                        <td>
                            打印语言
                        </td>
                        <td colspan="4">
                            PRESCRIBE, PCL6, KPDL3(PostScript3兼容), XPS，PDF直接打印
                        </td>
                        <td></td>
                    </tr>
                    <tr class="warning">
                        <td>
                            首张打印时间<br /> (黑白/彩色)
                        </td>
                        <td>
                            7.3秒/9.5秒
                        </td>
                        <td>
                            6.2秒/8.0秒
                        </td>
                        <td>
                            5.4秒/6.6秒
                        </td>
                        <td>
                            4.9秒/6.2秒
                        </td>
                        <td></td>
                    </tr>
                    <tr class="info">
                        <td>
                            USB打印
                        </td>
                        <td colspan="4">
                            支持，文件格式为：TIFF,JPEG,XPS,PDF
                        </td>
                        <td></td>
                    </tr>
                    <tr class="danger">
                        <td>
                            e-MPS打印
                        </td>
                        <td colspan="4">
                            作业保留和文件夹功能
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <h3>
                打印功能(标配)
            </h3>
            <table class="table table-bordered table-condensed col-md-12 col-xs-12">
                <tbody>
                    <tr class="danger">
                        <td>
                            类型
                        </td>
                        <td></td>
                        <td>
                            TASKalfa<br /> 3051ci
                        </td>
                        <td>
                            TASKalfa<br /> 3551ci
                        </td>
                        <td>
                            TASKalfa<br /> 4551ci
                        </td>
                        <td>
                            TASKalfa<br /> 5551ci
                        </td>
                    </tr>
                    <tr class="active">
                        <td>
                            复印速度(黑白/彩色)
                        </td>
                        <td></td>
                        <td>
                            30/30cpm
                        </td>
                        <td>
                            35/35cpm
                        </td>
                        <td>
                            45/45cpm
                        </td>
                        <td>
                            55/50cpm
                        </td>
                    </tr>
                    <tr class="info">
                        <td>
                            复印尺寸
                        </td>
                        <td></td>
                        <td>
                            最大A3(Ledger)-最小A6R
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="success">
                        <td>
                            分辨率
                        </td>
                        <td></td>
                        <td>
                            600*600dpi
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="warning">
                        <td>
                            首张复印时间<br /> (黑白/彩色)
                        </td>
                        <td></td>
                        <td>
                            5.5秒/7.3秒
                        </td>
                        <td>
                            4.8秒/6.4秒
                        </td>
                        <td>
                            3.9秒/5.1秒
                        </td>
                        <td>
                            3.4秒/4.7秒
                        </td>
                    </tr>
                    <tr class="active">
                        <td>
                            缩放倍率
                        </td>
                        <td>
                            手动
                        </td>
                        <td>
                            25%至400%(以1%为增量)
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="danger">
                        <td></td>
                        <td>
                            预设
                        </td>
                        <td>
                            简易设置：4缩4放； 详细设置：13级
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="success">
                        <td>
                            连续复印张数
                        </td>
                        <td></td>
                        <td>
                            1-999
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <h3>
                扫描功能(标配)
            </h3>
            <table class="table table-bordered table-condensed col-md-12 col-xs-12">
                <tbody>
                    <tr class="info">
                        <td colspan="2">
                            类型
                        </td>
                        <td>
                            TASKalfa<br /> 3051ci
                        </td>
                        <td>
                            TASKalfa<br /> 3551ci
                        </td>
                        <td>
                            TASKalfa<br /> 4551ci
                        </td>
                        <td>
                            TASKalfa<br /> 5551ci
                        </td>
                    </tr>
                    <tr class="danger">
                        <td rowspan="2">
                            扫描速度<br /> (A4,300dpi)
                        </td>
                        <td>
                            DP-770(B)<br /> (黑白/彩色)
                        </td>
                        <td colspan="2">
                            单面:65/65页/分钟<br /> 双面:39/39页/分钟
                        </td>
                        <td colspan="2">
                            单面:75/75页/分钟<br /> 双面:45/45页/分钟
                        </td>
                    </tr>
                    <tr class="active">
                        <td>
                            DP-772<br /> (黑白/彩色)
                        </td>
                        <td colspan="2">
                            单面: 70/ 70页/分钟<br /> 双面:100/100页/分钟
                        </td>
                        <td colspan="2">
                            单面: 80/ 80页/分钟<br /> 双面:160/160页/分钟
                        </td>
                    </tr>
                    <tr class="warning">
                        <td colspan="2">
                            色彩选择
                        </td>
                        <td colspan="4">
                            自动色彩(彩色/灰色)；自动色彩(彩色/黑白)；全彩；灰度；黑白
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            分辨率
                        </td>
                        <td colspan="4">
                            600dpi,400dpi,300dpi,200dpi,200×100dpi，200×400dpi
                        </td>
                    </tr>
                    <tr class="success">
                        <td colspan="2">
                            文件格式
                        </td>
                        <td colspan="4">
                            TIFF,JPEG,XPS,PDF,(MMR/JPG/高压缩PDF),可搜索PDF(选购)
                        </td>
                    </tr>
                    <tr class="danger">
                        <td colspan="2">
                            图像类型
                        </td>
                        <td colspan="4">
                            文字、图片、文字+图片
                        </td>
                    </tr>
                    <tr class="info">
                        <td colspan="2">
                            传送类型
                        </td>
                        <td colspan="4">
                            扫描至SMB,扫描至E-mail,扫描至FTP或FPT over SSL,扫描至USB, TWAIN扫描，WSD扫描
                        </td>
                    </tr>
                    <tr class="warning">
                        <td colspan="2">
                            地址存储
                        </td>
                        <td colspan="4">
                            2,000个地址(公用地址列表)，500个群组(群组地址列表)
                        </td>
                    </tr>
                </tbody>
            </table>
            <h3>
                传真功能(选购)
            </h3>
            <table class="table table-bordered table-condensed col-md-12 col-xs-12">
                <thead class="danger">
                    <tr>
                        <td colspan="2">
                            类型
                        </td>
                        <td>
                            TASKalfa<br /> 3051ci
                        </td>
                        <td>
                            TASKalfa<br /> 3551ci
                        </td>
                        <td>
                            TASKalfa<br /> 4551ci
                        </td>
                        <td>
                            TASKalfa<br /> 5551ci
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="active">
                        <td>
                            原稿尺寸
                        </td>
                        <td colspan="4">
                            最大A3(Ledger) – 最小A5(Statement)
                        </td>
                        <td></td>
                    </tr>
                    <tr class="warning">
                        <td>
                            纸张尺寸
                        </td>
                        <td colspan="4">
                            最大A3(Ledger) – 最小A5(Statement)
                        </td>
                        <td></td>
                    </tr>
                    <tr class="danger">
                        <td>
                            数据压缩方式
                        </td>
                        <td colspan="4">
                            MMR,MR,MH,JBIG
                        </td>
                        <td></td>
                    </tr>
                    <tr class="success">
                        <td>
                            通讯速度
                        </td>
                        <td colspan="4">
                            33.6/31.2/28.8/26.4/24.0/21.6/19.2/16.8/14.4/12.0/9.6/7.2/4.8/2.4kbps
                        </td>
                        <td></td>
                    </tr>
                    <tr class="info">
                        <td>
                            内存
                        </td>
                        <td colspan="4">
                            标准：12MB,最大120MB(使用选购的传真内存)
                        </td>
                        <td></td>
                    </tr>
                    <tr class="danger">
                        <td>
                            互联网传真
                        </td>
                        <td colspan="4">
                            需选购 Internet Fax Kit(A)
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
特征：
<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-12">
            <div class="well">
                <h4>一目了然的9英寸操作面板</h4>
                <p>
                    TASKalfa 2552ci 3252ci 4052ci 5052ci 6052ci采用了9英寸的彩色触摸式面板，且面板角度可调整。另外，移除了硬键盘，用户可采用虚拟数字键盘形式进行输入。
                </p>
                <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/colored/taskalfa2552ci3252ci4052ci5052ci6052ci/pic_01.jpg" class="img-responsive center-block" />
            </div>
            <div class="well">
                <h4>
                    可循环再利用的新式粉盒设计
                </h4>
                <p>
                    TASKalfa 2552ci 3252ci 4052ci 5052ci 6052ci粉盒采用更紧凑的圆柱形外观设计，另外，当黑色碳粉用尽的情况下，其粉盒还可以被重新用作废粉盒，环保而节约。
                </p>
                <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/colored/taskalfa2552ci3252ci4052ci5052ci6052ci/pic_02.jpg" class="img-responsive center-block" />

            </div>
            <div class="well">
                <h4>
                    出纸口空间扩大
                </h4>
                <p>
                    与前代机型相比，TASKalfa 2552ci 3252ci 4052ci 5052ci 6052ci扩展了出纸口的空间，这不仅使得输出件更容易被看到，更容易被取出，而且堆叠容量也从原来250张增加到了500张。这样，在用户进行大量输出的情况下，可以有效减少去取件的次数。
                </p>
                <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/colored/taskalfa2552ci3252ci4052ci5052ci6052ci/pic_03.jpg" class="img-responsive center-block" />

            </div>
            <div class="well">
                <h4>
                    实现真正的1200dpi打印分辨率
                </h4>
                <p>
                    TASKalfa 2552ci 3252ci 4052ci 5052ci 6052ci在完全不影响打印速度的情况下，可以实现1200×1200dpi的打印分辨率，有效提高了打印的图像品质。
                </p>

                <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/colored/taskalfa2552ci3252ci4052ci5052ci6052ci/pic_04.jpg" class="img-responsive center-block" />



            </div>

            <div class="well">
                <h4>
                    纸盒支持SRA3尺寸输出
                </h4>
                <p>
                    纸盒规格方面，TASKalfa 2552ci 3252ci 4052ci 5052ci 6052ci标配※的纸盒支持SRA3尺寸大小，也可以直接打印信封。另外，纸盒还直接支持300克厚纸输出。
                </p>
                <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/colored/taskalfa2552ci3252ci4052ci5052ci6052ci/pic_05.jpg" class="img-responsive center-block" />

            </div>
            <div class="well">
                <h4>
                    实用性设计，故障排除更简单
                </h4>
                <p>
                    以往机型侧面分布了多个盖板，遇到卡纸故障时，需要逐个打开进行排除。TASKalfa 2552ci/3252ci/4052ci/5052ci/6052ci可以一次性打开右侧盖板，进行卡纸故障的一次性排除。 提高工作效率。
                </p>
                <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/colored/taskalfa2552ci3252ci4052ci5052ci6052ci/pic_06.jpg" class="img-responsive center-block" />

            </div>
            <div class="well">
                <h4>
                    半自动关闭纸盒更省力轻松
                </h4>
                <p>
                    TASKalfa 2552ci 3252ci 4052ci 5052ci 6052ci的纸盒采用了半自动关闭方式，关闭速度非常的平稳轻柔，这不仅使得用户对纸盒的抽拉更省力轻松，同时还能有效防止在大力关闭纸盒的时候纸张被卡住。
                </p>
                <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/multifunction/taskalfa4002i5002i6002i/pic_07.jpg" class="img-responsive center-block" />

            </div>

            <div class="well">
                <h4>
                    双面预览，有效预防错误输出
                </h4>
                <p>
                    在执行复印或文件夹打印功能时，原来型号的预览功能只能显示第一页。 TASKalfa 2552ci/3252ci/4052ci/5052ci/6052ci预览时不仅仅是第一页，第二页也可以显示，这样可以有效预防错误复印或打印的发生。
                </p>

                <p>
                    ※：TASKalfa 2552ci 3252ci 4052ci 5052ci 6052ci感光鼓寿命为20万。
                </p>
                <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/multifunction/taskalfa4002i5002i6002i/pic_08.jpg" class="img-responsive center-block" />

            </div>
            <div class="well">
                <h4>
                    新改良的碳粉满足“中国红”输出
                </h4>
                <p>
                    TASKalfa 2552ci 3252ci 4052ci 5052ci 6052ci采用新一代的改良碳粉，在色彩表现方面较以往机型更胜一筹。尤其是特别为中国用户开发的中国红输出效果，轻松满足政府机关复印和打印红头文件时对红头颜色的高要求。</p>
                <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/colored/taskalfa2552ci3252ci4052ci5052ci6052ci/pic_12.jpg" class="img-responsive center-block" />

            </div>
            <div class="well">
                <h4>
                    支持京瓷移动打印
                </h4>
                <p>在Wi-Fi环境下通过使用KYOCERA Mobile Print, 用户可轻松打印智能手机或平板电脑(Apple /Android)里的文档、网页和图像。还可从将文件和图像扫描至对应的移动设备。</p>
                <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/colored/taskalfa2552ci3252ci4052ci5052ci6052ci/pic_10.jpg" class="img-responsive center-block" />
                <p>另外， TASKalfa 2552ci 3252ci 4052ci 5052ci 6052ci还支持iPhone或iPad上的AirPrint功能。
                    TASKalfa 2552ci 3252ci 4052ci 5052ci 6052ci还可选配IB-35无线局域网，方便用户通过WIFI Direct/ NFC打印、扫描。</p>
                <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/colored/taskalfa2552ci3252ci4052ci5052ci6052ci/pic_10.jpg" class="img-responsive center-block" />

            </div>
            <div class="well">
                <h4>
                    采用60万页长寿命非晶硅感光鼓
                </h4>
                <p>TASKalfa 2552ci 3252ci 4052ci 5052ci 6052ci采用京瓷独创的长寿命非晶硅(a-si)感光鼓，使用寿命高达60万页。这一技术的使用体现了京瓷产品一贯的经济环保设计理念，极大的降低了维修频率，确保机器在整个设计周期中都能稳定地工作。</p>
                <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/colored/taskalfa2552ci3252ci4052ci5052ci6052ci/pic_11.jpg" class="img-responsive center-block" />

            </div>


        </div>
    </div>
</div>
耗材：
<table class="table table-bordered table-condensed col-md-12 col-xs-12">
    <thead>
        <tr>
            <th>类型</th>
            <th >
                TASKalfa<br>
                2552ci
            </th>
            <th>
                TASKalfa<br>
                3252ci
            </th>
            <th>
                TASKalfa<br>
                4052ci
            </th>
            <th >
                TASKalfa<br>
                5052ci
            </th>
            <th >
                TASKalfa<br>
                6052ci
            </th>
        </tr>
    <tbody>
        <tr class="active">
            <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">盖板</td>
            <td colspan="5" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">Platen cover type E</td>
        </tr>
        <tr class="success">
            <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">输稿器</td>
            <td colspan="5" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">
                DP- 7100 (140张自动双面翻转输稿器)<br>
                DP- 7110 (270张双面同时扫描输稿器)<br>
                DP- 7120 (50页自动双面，仅限TASKalfa 2552ci/3252ci)
            </td>
        </tr>
        <tr class="warning">
            <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">供纸盒</td>
            <td colspan="5" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">
                PF-7100: 500张 x 2;<br>
                PF-7110: 1,500张 x 2;<br>
                PF-7120: 3,000 张大容量的侧边纸盒
            </td>
        </tr>
        <tr class="danger">
            <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">装订器</td>
            <td colspan="5" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">
                装订器：DF-7100(内部); DF-7120(1,000张); DF-7110(4,000张)<br>
                连接器：AK-7100;<br>
                作业分离器：JS-7100<br>
                打孔单元：PH-7C(适用于DF-7110/DF-7120)； PH-7120(适用于DF-7100)；<br>
                小册子折叠器：BF-730；<br>
                7格邮箱：MT-730(B)；<br>
                装订针：SH-10：DF-7100/7120用装订针，SH-12：DF-7110用装订针
            </td>
        </tr>
        <tr class="info">
            <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">传真组件</td>
            <td colspan="5" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">FAX System 12</td>
        </tr>
        <tr class="active">
            <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">互联网传真</td>
            <td colspan="5" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">Internet FAX Kit(A)AC</td>
        </tr>
        <tr class="danger">
            <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">数据安全</td>
            <td colspan="5" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">Data Security Kit(E)AC</td>
        </tr>
        <tr class="warning">
            <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">卡组件</td>
            <td colspan="5" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">Card Authentication Kit(B)AC</td>
        </tr>
        <tr class="success">
            <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">无线网卡</td>
            <td colspan="5" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">IB-35</td>
        </tr>
        <tr class="info">
            <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">存储设备</td>
            <td colspan="5" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">HD-12: HDD 320GB (仅限TASKalfa 2552ci/3252ci)</td>
        </tr>
        <tr class="active">
            <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">嵌入式OCR</td>
            <td colspan="5" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">Scan Extension Kit(A)AC</td>
        </tr>
        <tr class="warning">
            <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">长纸托盘</td>
            <td colspan="5" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">Banner Guide 10</td>
        </tr>
        <tr class="info">
            <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">数字键盘</td>
            <td colspan="5" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">NK-7100</td>
        </tr>
        <tr class="danger">
            <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">废粉盒</td>
            <td colspan="5" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">WT-8500</td>
        </tr>
        <tr class="warning">
            <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">纸柜</td>
            <td colspan="5" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">CB-7111</td>
        </tr>
    </tbody>
</table>
<table class="table table-bordered table-condensed col-md-12 col-xs-12">
    <thead>
        <tr>
            <th style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">类型</th>
            <th style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">
                TASKalfa<br>
                2552ci
            </th>
            <th style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">
                TASKalfa<br>
                3252ci
            </th>
            <th style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">
                TASKalfa<br>
                4052ci
            </th>
            <th style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">
                TASKalfa<br>
                5052ci
            </th>
            <th style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">
                TASKalfa<br>
                6052ci
            </th>
        </tr>
    </thead>
    <tbody>
        <tr class="danger">
            <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">替换碳粉</td>
            <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">
                TK-8348<br>
                (C/M/Y/K)
            </td>
            <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">
                TK-8338<br>
                (C/M/Y/K)
            </td>
            <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">
                TK-8528<br>
                (C/M/Y/K)
            </td>
            <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">
                TK-8518<br>
                (C/M/Y/K)
            </td>
        </tr>
        <tr class="active">
            <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">碳粉容量</td>
            <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">
                C/M/Y:12,000页<br>
                K:20,000页
            </td>
            <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">
                C/M/Y:15,000页<br>
                K:25,000页
            </td>
            <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">
                C/M/Y:20,000页<br>
                K:30,000页
            </td>
            <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">
                C/M/Y:20,000页<br>
                K:30,000页
            </td>
        </tr>
        <tr class="success">
            <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">鼓组件</td>
            <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">MK-8338(A/B/D/E)</td>
            <td colspan="3" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">MK-8518(A/B)</td>
        </tr>
    </tbody>
</table>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="table-responsive">
            <h4>
                选购件及耗材
            </h4>
            <table class="table table-bordered table-condensed col-md-12 col-xs-12">
                <thead>
                    <tr>
                        <th>
                            类型
                        </th>
                        <th>
                            TASKalfa<br /> 2552ci
                        </th>
                        <th>
                            TASKalfa<br /> 3252ci
                        </th>
                        <th>
                            TASKalfa<br /> 4052ci
                        </th>
                        <th>
                            TASKalfa<br /> 5052ci
                        </th>
                        <th>
                            TASKalfa<br /> 6052ci
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="active">
                        <td>
                            盖板
                        </td>
                        <td colspan="5">
                            Platen cover type E
                        </td>
                    </tr>
                    <tr class="success">
                        <td>
                            输稿器
                        </td>
                        <td colspan="5">
                            DP- 7100 (140张自动双面翻转输稿器)<br /> DP- 7110 (270张双面同时扫描输稿器)<br /> DP- 7120 (50页自动双面，仅限TASKalfa 2552ci/3252ci)
                        </td>
                    </tr>
                    <tr class="warning">
                        <td>
                            供纸盒
                        </td>
                        <td colspan="5">
                            PF-7100: 500张 x 2;<br /> PF-7110: 1,500张 x 2;<br /> PF-7120: 3,000 张大容量的侧边纸盒
                        </td>
                    </tr>
                    <tr class="danger">
                        <td>
                            装订器
                        </td>
                        <td colspan="5">
                            装订器：DF-7100(内部); DF-7120(1,000张); DF-7110(4,000张)<br /> 连接器：AK-7100;<br /> 作业分离器：JS-7100<br /> 打孔单元：PH-7C(适用于DF-7110/DF-7120)； PH-7120(适用于DF-7100)；<br /> 小册子折叠器：BF-730；<br /> 7格邮箱：MT-730(B)；<br /> 装订针：SH-10：DF-7100/7120用装订针，SH-12：DF-7110用装订针
                        </td>
                    </tr>
                    <tr class="info">
                        <td>
                            传真组件
                        </td>
                        <td colspan="5">
                            FAX System 12
                        </td>
                    </tr>
                    <tr class="active">
                        <td>
                            互联网传真
                        </td>
                        <td colspan="5">
                            Internet FAX Kit(A)AC
                        </td>
                    </tr>
                    <tr class="danger">
                        <td>
                            数据安全
                        </td>
                        <td colspan="5">
                            Data Security Kit(E)AC
                        </td>
                    </tr>
                    <tr class="warning">
                        <td>
                            卡组件
                        </td>
                        <td colspan="5">
                            Card Authentication Kit(B)AC
                        </td>
                    </tr>
                    <tr class="success">
                        <td>
                            无线网卡
                        </td>
                        <td colspan="5">
                            IB-35
                        </td>
                    </tr>
                    <tr class="info">
                        <td>
                            存储设备
                        </td>
                        <td colspan="5">
                            HD-12: HDD 320GB (仅限TASKalfa 2552ci/3252ci)
                        </td>
                    </tr>
                    <tr class="active">
                        <td>
                            嵌入式OCR
                        </td>
                        <td colspan="5">
                            Scan Extension Kit(A)AC
                        </td>
                    </tr>
                    <tr class="warning">
                        <td>
                            长纸托盘
                        </td>
                        <td colspan="5">
                            Banner Guide 10
                        </td>
                    </tr>
                    <tr class="info">
                        <td>
                            数字键盘
                        </td>
                        <td colspan="5">
                            NK-7100
                        </td>
                    </tr>
                    <tr class="danger">
                        <td>
                            废粉盒
                        </td>
                        <td colspan="5">
                            WT-8500
                        </td>
                    </tr>
                    <tr class="warning">
                        <td>
                            纸柜
                        </td>
                        <td colspan="5">
                            CB-7111
                        </td>
                    </tr>
                </tbody>
            </table>
            <h4>
                耗材
            </h4>
            <table class="table table-bordered table-condensed col-md-12 col-xs-12">
                <thead>
                    <tr>
                        <th>
                            <strong>类型</strong>
                        </th>
                        <th>
                            <strong>TASKalfa<br /> 2552ci</strong>
                        </th>
                        <th>
                            <strong>TASKalfa<br /> 3252ci</strong>
                        </th>
                        <th>
                            <strong>TASKalfa<br /> 4052ci</strong>
                        </th>
                        <th>
                            <strong>TASKalfa<br /> 5052ci</strong>
                        </th>
                        <th>
                            <strong>TASKalfa<br /> 6052ci</strong>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="danger">
                        <td>
                            替换碳粉
                        </td>
                        <td>
                            TK-8348<br /> (C/M/Y/K)
                        </td>
                        <td>
                            TK-8338<br /> (C/M/Y/K)
                        </td>
                        <td>
                            TK-8528<br /> (C/M/Y/K)
                        </td>
                        <td colspan="2">
                            TK-8518<br /> (C/M/Y/K)
                        </td>
                    </tr>
                    <tr class="active">
                        <td>
                            碳粉容量
                        </td>
                        <td>
                            C/M/Y:12,000页<br /> K:20,000页
                        </td>
                        <td>
                            C/M/Y:15,000页<br /> K:25,000页
                        </td>
                        <td>
                            C/M/Y:20,000页<br /> K:30,000页
                        </td>
                        <td colspan="2">
                            C/M/Y:20,000页<br /> K:30,000页
                        </td>
                    </tr>
                    <tr class="success">
                        <td>
                            鼓组件
                        </td>
                        <td colspan="2">
                            MK-8338(A/B/D/E)
                        </td>
                        <td colspan="3">
                            MK-8518(A/B)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

