特征：
<div class="panel panel-success">
    <div class="panel-heading">【1】先进的生产能力实现了办公环境的高效化</div>
    <div class="panel-body">
        
        <div class="alert alert-danger" role="alert">先进的生产力</div>
        <ul>
            <li>分别具备每分钟35/45/55张(A4纵向)黑白的打印、复印速度；</li>
            <li>标配网络打印/复印/彩色扫描/双面器；</li>
            <li>首张复印时间最快仅为3.2秒(TASKalfa5501i)</li>
            <li>可选配全新开发的双面输稿器DP-772，实现双面同时自动高速扫描，速度可达80页/分钟(彩色)和160页/分钟(黑白)</li>
        </ul>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/multifunction/taskalfa3501i4501i5501i/pic_02.jpg" class="img-responsive" />

        
        <div class="alert alert-danger" role="alert">强大的供纸能力</div>
        <p>
            TASKalfa 3501i/4501i/5501i可选配大容量纸盒，最多可实现6种纸张品种的转换，最大供纸量高达7,150张。可满足用户对不同打印用纸，长时间连续工作以及打印量大等的工作需求。
        </p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/multifunction/taskalfa3501i4501i5501i/pic_03.jpg" class="img-responsive" />
        
        <div class="alert alert-danger" role="alert">卓越的图像质量</div>

        <ul>
            <li>京瓷图像精细(KIR)技术科确保输出始终如一的高质量黑白文档。</li>
            <li>基于彩机技术研发，以实现卓越的输出品质：黑色块和文字、线条的粗细和排列紧密的细纹、优质的半色调功能，在黑白打印和复印模式时都可保证卓越的输出品质。</li>
        </ul>

    </div>
</div>
<div class="panel panel-success">
    <div class="panel-heading">【2】完美的机身设计带来更多人性化体验</div>
    <div class="panel-body">

        <div class="alert alert-success" role="alert">一目了然的大型操作面板</div>
        <p>TASKalfa 3501i/4501i/5501i配备了8.5英寸彩色触摸式操作面板，这使得每位用户都能进行类似于智能手机和平板电脑的滑动式操作，从而提高办公效率。</p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/multifunction/taskalfa3501i4501i5501i/pic_04.jpg" class="img-responsive center-block" />

        <p> 新增主页菜单。初始主页界面上配置了所有的常用功能和应用程序，用户不需要再使用任何实体键，我们重视操作体验，划屏功能类似于智能手机。另，用户亦可以根据不同的使用(或群组用户)需求个性化定制主页界面。</p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/multifunction/taskalfa3501i4501i5501i/pic_05.jpg" class="img-responsive center-block" />
        <div class="alert alert-success" role="alert">无缝设计理念一体化机身外观</div>
        <p>
            TASKalfa 3501i/4501i/5501i拥有完美的机身设计，例如在主机的正前方专门设置了一个读卡器的安放区域，从而极大的提高了刷卡用户的操作便利性和安装美观性。
        </p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/multifunction/taskalfa3501i4501i5501i/pic_06.jpg" class="img-responsive center-block" />


    </div>
</div>
<div class="panel panel-success">
    <div class="panel-heading">【3】长寿命非晶硅鼓缔造京瓷独有高可靠性</div>
    <div class="panel-body">

        <div class="alert alert-success" role="alert">京瓷独创的非晶硅感光鼓实现60万页的长寿命</div>
        <p>TASKalfa 3501i/4501i/5501i配有京瓷独创的长寿命非晶硅感光鼓，使用寿命长达60万印。这一技术的使用体现了京瓷产品一贯的长寿命和可靠性，并且新机型的其他组件也均采用了长寿命部件，以降低维修频率，确保机器在整个设计周期中都能稳定地工作。</p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/multifunction/taskalfa3501i4501i5501i/pic_08.jpg" class="img-responsive center-block" />

    </div>
</div>
<div class="panel panel-success">
    <div class="panel-heading">【4】丰富的新增功能创造更多用户价值</div>
    <div class="panel-body">

        <div class="alert alert-success" role="alert">可在机器上收发邮件</div>
        <p>新系列产品支持最新的公共邮箱服务器协议，支持Gmail, Hotmail. 可通过机器屏幕进行收发邮件。
通过Gmail 或 Hotmail 账户可实现:
>从设备发出邮件通知
>通过邮箱接收文件
>从Gmail和Hotmail账户下打印文件</p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/multifunction/taskalfa3501i4501i5501i/pic_09.jpg" class="img-responsive center-block" />
        <div class="alert alert-success" role="alert">可检索PDF功能(选购)</div>
        <p>扫描纸文档原稿时，通过OCR功能分离文本和图像以转换文本为文字数据，再将图像和文字数据结合成PDF文档。有助于重复使用PDF文件和使用PDF文件格式的搜索功能轻松检索数据。</p>
        <div class="alert alert-success" role="alert">移动打印</div>
        <p>KYOCERA Mobile Print: 移动打印服务可使用户通过操作其Apple和Android智能手机和平板电脑使用京瓷打印机和多功能数码复合机进行打印和扫描。该服务可通过Wi-Fi快速和轻松地查找京瓷打印机和多功能数码复合机。轻松方便的按需打印文档、网页和图像。还可以从多功能数码复合机将文件和图像扫描至移动设备。另外，新系列机型还支持iphone和ipad上的AirPrint功能。</p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/multifunction/taskalfa3501i4501i5501i/pic_11.jpg" class="img-responsive center-block" />

    </div>
</div>
<div class="panel panel-success">
    <div class="panel-heading">【5】先进的安全及管理系统令企业文档安全高枕无忧</div>
    <div class="panel-body">

        <div class="alert alert-success" role="alert">私密打印</div>
        <p>
            当在KYOCERA KX Driver上发送打印命令时，可以同时设置一个四位数字密码，将打印任务暂时储存在设备中等待随后的调用输出。
        </p>
        <div class="alert alert-success" role="alert">密码保护设置</div>
        <p>
            允许用户管理员通过设置密码来限制用户进入指定容量的文件夹。
        </p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/multifunction/taskalfa3501i4501i5501i/pic_13.jpg" class="img-responsive center-block" />
        <div class="alert alert-success" role="alert">使用数据安全组件(选购)进行数据加密，实现安全控制</div>
        <p>
            数据安全组件可在数据存储到硬盘前对其进行加密，并在打印、复印、传真或扫描后自动删除存储在硬盘中的所有数据。
        </p>
        
        <div class="alert alert-success" role="alert">传真内存覆写(选购))</div>
        <p>在发送或接收机密文件后擦除传真内存上的数据。</p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/multifunction/taskalfa3501i4501i5501i/pic_14.jpg" class="img-responsive center-block" />

        <div class="alert alert-success" role="alert">IC卡刷卡认证组件(选购)</div>
        <p>实现高效管理用户可使用选购的IC卡进行验证，以便按照预设的用户限制(如彩色输出限制和配额)快速、安全地访问机器。</p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/multifunction/taskalfa3501i4501i5501i/pic_15.jpg" class="img-responsive center-block" />
        <div class="alert alert-success" role="alert">通过网络验证与客户的IT环境轻松整合</div>
        <p>IT部门可通过中央验证服务器(NTLM、Kerberos、)的网络验证功能轻松管理用户验证。</p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/multifunction/taskalfa3501i4501i5501i/pic_16.jpg" class="img-responsive center-block" />

    </div>
</div>
<div class="panel panel-success">
    <div class="panel-heading">【6】更低碳，更环保，更省能源</div>
    <div class="panel-body">
        <ul>
            <li>减少浪费<ol>
                <li>长寿命非晶硅(a-si)感光鼓、显影单元及其他更换部件</li>
                <li>可回收利用的部件</li></ol></li>
            <li>无毒材料,低功耗<ol>
                <li>白色LED指示灯</li>
                <li>优化节能：管理员可使用周定时器预设开机和关机时间</li>
                <li>深度睡眠模式，TASKalfa 3501i/4501i/5501i新增了深度睡眠模式以便更好的节约能源，此状态下功耗(标准配置)为1.8W。</li>
                </ol></li>
            <li>节省墨粉,灵活的EcoPrint功能</li>
            <li>舒适的工作环境,设备在工作和睡眠状态时噪音极低</li>
        </ul>
       
    </div>
</div>
特性：
<div class="table-responsive">
    <div class="alert alert-warning">基本规格</div>
    <table class="table table-bordered table-condensed col-md-12 col-xs-12">
        <tbody>
            <tr class="active">
                <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">类型</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">TASKalfa3501i</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">TASKalfa4501i</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">TASKalfa5501i</td>
            </tr>
            <tr class="danger">
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">主要功能</td>
                <td>&nbsp;</td>
                <td colspan="3" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">复印/打印/扫描/传真(选购)</td>
            </tr>
            <tr class="warning">
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">内存/硬盘</td>
                <td colspan="3" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">2GB/160GB</td>
            </tr>
            <tr class="success">
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">预热时间(主电源开启)</td>
                <td colspan="3" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">23秒</td>
            </tr>
            <tr class="error">
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">外观尺寸(长*宽*高)</td>
                <td colspan="3" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">648*767*747 mm(不带纸盒和输稿器)</td>
            </tr>
            <tr class="info">
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">重量</td>
                <td colspan="3" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">约86KG</td>
            </tr>
            <tr class="active">
                <td rowspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">纸盒容量</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">标配</td>
                <td colspan="3" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">1150张 500张*2+150张(手送纸盘)</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">最大</td>
                <td colspan="3" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">7150张 (500*2+1500*2+3000+150)</td>
            </tr>
            <tr class="warning">
                <td rowspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">纸张重量</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">纸盒</td>
                <td colspan="3" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">60-220g/m&sup2;(标配) 60-256g/m&sup2;(选购)</td>
            </tr>
            <tr class="success">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">手送纸盘</td>
                <td colspan="3" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">60-300g/m&sup2;</td>
            </tr>
            <tr class="error">
                <td rowspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">纸张尺寸</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">纸盒</td>
                <td colspan="3" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">最小A5R-最大304&times;457mm</td>
            </tr>
            <tr class="info">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">手送纸盘</td>
                <td colspan="3" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">最小A6R-最大304&times;457mm和304.8mm&times;1219.2mm(横幅打印)</td>
            </tr>
            <tr class="active">
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">打印负荷</td>
                <td colspan="3" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">最高月印量200,000印(参考值)</td>
            </tr>
        </tbody>
    </table>
    <div class="alert alert-warning">复印功能</div>
    <table class="table table-bordered table-condensed col-md-12 col-xs-12">
        <tbody>
            <tr class="active">
                <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">类型</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">TASKalfa3501i</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">TASKalfa4501i</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">TASKalfa5501</td>
            </tr>
            <tr class="danger">
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">复印速度</td>
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">35cpm</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">45cpm</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">55cpm</td>
            </tr>
            <tr class="success">
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">复印尺寸</td>
                <td colspan="3" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">最大A3(Ledger)- 最小A6R</td>
            </tr>
            <tr class="warning">
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">分辨率</td>
                <td colspan="3" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">600*600dpi</td>
            </tr>
            <tr class="error">
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">首张复印时间</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">4.7秒</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">3.8秒</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">3.2秒</td>
            </tr>
            <tr class="info">
                <td rowspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">缩放倍率</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">手动</td>
                <td colspan="3" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">25%至400%(以1%为增量)</td>
            </tr>
            <tr class="active">
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">预设</td>
                <td colspan="3" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">简易设置：4缩4放； 详细设置：13级</td>
            </tr>
            <tr class="danger">
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">连续复印张数</td>
                <td colspan="3" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">1-999</td>
            </tr>
        </tbody>
    </table>

    <div class="alert alert-warning">打印功能</div>
    <table class="table table-bordered table-condensed col-md-12 col-xs-12">
        <tbody>
            <tr class="active">
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">类型</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">TASKalfa3501i</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">TASKalfa4501i</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">TASKalfa5501i</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">分辨率</td>
                <td colspan="3" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">600*600dpi；9600*600dpi级</td>
            </tr>
            <tr class="warning">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">打印语言</td>
                <td colspan="3" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">PRESCRIBE, PCL6, KPDL3(PostScript3兼容), XPS，PDF直接打印</td>
            </tr>
            <tr class="error">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">首张打印时间</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">6.0秒</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">5.3秒</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">4.9秒</td>
            </tr>
            <tr class="success">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">USB打印</td>
                <td colspan="3" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">支持，文件格式为：TIFF,JPEG,XPS,PDF</td>
            </tr>
            <tr class="info">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">e-MPS打印</td>
                <td colspan="3" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">作业保留和文件夹功能</td>
            </tr>
        </tbody>
    </table>

    <div class="alert alert-warning">扫描功能</div>
    <table class="table table-bordered table-condensed col-md-12 col-xs-12">
        <tbody>
            <tr class="active">
                <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">类型</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">TASKalfa3501i</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">TASKalfa4501i</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">TASKalfa5501i</td>
            </tr>
            <tr class="danger">
                <td rowspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">
                    扫描速度<br />
                    (A4,300dpi)
                </td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">
                    DP-770(B)<br />
                    (黑白/彩色)
                </td>
                <td colspan="3" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">
                    单面:75/50页/分钟<br />
                    双面:45/34页/分钟
                </td>
            </tr>
            <tr class="success">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">
                    DP-772<br />
                    (黑白/彩色)
                </td>
                <td colspan="3" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">
                    单面: 80/50页/分钟<br />
                    双面:160/80页/分钟
                </td>
            </tr>
            <tr class="error">
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">色彩选择</td>
                <td colspan="3" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">自动色彩(彩色/灰色)；自动色彩(彩色/黑白)；全彩；灰度；黑白</td>
            </tr>
            <tr class="warning">
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">分辨率</td>
                <td colspan="3" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">600dpi,400dpi,300dpi,200dpi,200&times;100dpi，200&times;400dpi</td>
            </tr>
            <tr class="info">
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">文件格式</td>
                <td colspan="3" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">TIFF,JPEG,XPS,PDF,(MMR/JPG/高压缩PDF),可搜索PDF(选购)</td>
            </tr>
            <tr class="active">
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">图像类型</td>
                <td colspan="3" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">文字、图片、文字+图片</td>
            </tr>
            <tr class="danger">
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">传送类型</td>
                <td colspan="3" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">
                    扫描至SMB,扫描至E-mail,扫描至FTP或FPT over SSL,扫描至USB,<br />
                    TWAIN扫描，WSD扫描
                </td>
            </tr>
            <tr class="warning">
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">地址存储</td>
                <td colspan="3" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">2,000个地址(公用地址列表)，500个群组(群组地址列表)</td>
            </tr>
        </tbody>
    </table>

    <div class="alert alert-warning">传真功能</div>
    <table class="table table-bordered table-condensed col-md-12 col-xs-12">
        <tbody>
            <tr class="active">
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">类型</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">TASKalfa3501i</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">TASKalfa4501i</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">TASKalfa5501i</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">原稿尺寸</td>
                <td colspan="3" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">最大A3(Ledger) &ndash; 最小A5(Statement)</td>
            </tr>
            <tr class="warning">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">纸张尺寸</td>
                <td colspan="3" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">最大A3(Ledger) &ndash; 最小A5(Statement)</td>
            </tr>
            <tr class="success">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">数据压缩方式</td>
                <td colspan="3" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">MMR,MR,MH,JBIG</td>
            </tr>
            <tr class="error">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">通讯速度</td>
                <td colspan="3" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">33.6/31.2/28.8/26.4/24.0/21.6/19.2/16.8/14.4/12.0/9.6/7.2/4.8/2.4kbps</td>
            </tr>
            <tr class="info">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">内存</td>
                <td colspan="3" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">标准：12MB,最大120MB(使用选购的传真内存)</td>
            </tr>
            <tr class="active">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">互联网传真</td>
                <td colspan="3" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">需选购 Internet Fax Kit(A)</td>
            </tr>
        </tbody>
    </table>

</div>
耗材
<div class="table-responsive">
    <h4 class="text-danger">选购件及耗材</h4>
    <hr />
    <table class="table table-bordered table-condensed col-md-12 col-xs-12">
        <tbody>
            <tr class="active">
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">类型</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">TASKalfa3501i</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">TASKalfa4501i</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">TASKalfa5501i</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">原稿台盖板</td>
                <td colspan="3" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">Platen Cover Type E</td>
            </tr>
            <tr class="warning">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">输稿器</td>
                <td colspan="3" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">
                    DP-770(B)：自动双面输稿器<br />
                    DP-772：双面同时扫描输稿器
                </td>
            </tr>
            <tr class="success">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">供纸盒</td>
                <td colspan="3" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">
                    PF-770：3000张旁路纸柜<br />
                    PF-730：500张&times;2供纸盒<br />
                    PF-740：1500张&times;2供纸盒
                </td>
            </tr>
            <tr class="error">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">专用纸柜</td>
                <td colspan="3" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">CB-7110</td>
            </tr>
            <tr class="info">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">作业分离器</td>
                <td colspan="3" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">
                    JS-730/JS-732：内部作业分离器<br />
                    JS-731：外部作业分离器
                </td>
            </tr>
            <tr class="active">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">装订系统</td>
                <td colspan="3" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">
                    AK-731，连接器<br />
                    DF-770,1000张装订器<br />
                    DF-790(B)，4000张装订器<br />
                    PH-7C，打孔组件<br />
                    MT-730,7格邮箱<br />
                    BF-730，小册子装订器<br />
                    装订针：SH-10和SH-12
                </td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">传真系统</td>
                <td colspan="3" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">Fax System(W)B</td>
            </tr>
            <tr class="warning">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">互联网传真</td>
                <td colspan="3" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">Internet Fax Kit(A)</td>
            </tr>
            <tr class="success">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">数据安全组件</td>
                <td colspan="3" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">Data Security Kit(E)</td>
            </tr>
            <tr class="error">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">文件保护组件</td>
                <td colspan="3" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">Printed Document Guard Kit (B)</td>
            </tr>
            <tr class="info">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">IC卡认证组件</td>
                <td colspan="3" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">Card Authentication Kit(B)/Card Reader Holder(E)</td>
            </tr>
            <tr class="active">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">长纸托盘</td>
                <td colspan="3" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">Banner Guide (A)</td>
            </tr>
        </tbody>
    </table>
    <h4 class="danger">消耗品</h4>
    <hr />
    <table class="table table-bordered table-condensed col-md-12 col-xs-12">
        <tbody>
            <tr class="active">
                <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: middle; color: rgb(0, 0, 0);">类型</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">消耗品</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">
                    墨粉盒TK-6308：使用寿命42,000页(A4)<br />
                    保养组件：MK-6318<br />
                    ●ISO19798,输出张数只作为限定条件下的参考值.<br />
                    ●根据印刷内容和使用环境的不同,印量也会有差别.<br />
                    ●建议您使用京瓷原配耗材。我们对于因使用第三方耗材而对机器造成的损失<br />
                    不承担任何责任。<br />
                    ●产品规格及外观如有变更，恕不另行通知
                </td>
            </tr>
        </tbody>
    </table>

</div>