特性：
<div>
    <h5><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span><strong>功能强大的多功能3合1机型</strong></h5>
    <p>bizhub 184集打印，复印和扫描功能于一身。其方便的ID复印功能可在单张纸上复印小尺寸文档的两面，因此可节约纸张，是复印护照、ID卡等证件的理想之选。对于标准尺寸文档，本机最多可在一张纸张复印4页文档或打印16页文档。</p>
    <img src="http://www.konicaminolta.com.cn/business/products/copiers/bw/bizhub184/img/index_01.gif" class="img-responsive center-block" />
    <h5><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span><strong>简单、明晰的操作</strong></h5>
    <p>bizhub 184的操作面板采用人性化设计，配以用户熟悉的光标键配置和导航功能，非常直观易用。用户可从机器正面快速、方便地更换碳粉和补充纸张。</p>
    <p>
此外，将多数纸路集中于主机右手侧的设计简化了偶尔出现卡纸时的清除操作步骤。</p>
    <img src="http://www.konicaminolta.com.cn/business/products/copiers/bw/bizhub184/img/index_02_on.jpg" class="img-responsive center-block" />
    <img src="http://www.konicaminolta.com.cn/business/products/copiers/bw/bizhub184/img/index_03.jpg" class="img-responsive center-block" />
    <h5><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span><strong>轻薄紧凑的设计</strong></h5>
    <p>本机占地面积小（570×531 mm），出纸盘位于主机内，适合放置在办公桌上或其他空间狭小的场所。机身较轻（23.5 kg），方便用户快速移机。</p>
    
    <h5><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span><strong>可输出超高画质的Simitri HD高清晰聚合碳粉</strong></h5>
    <p>相比于传统碳粉，柯尼卡美能达Simitri HD聚合碳粉颗粒更小，更均匀，可清晰再现文本和精细的灰阶。该碳粉定影温度低，可加快输出速度、降低能耗和减少纸张卷曲。</p>
    <img src="http://www.konicaminolta.com.cn/business/products/copiers/bw/bizhub184/img/index_04.jpg" class="img-responsive center-block" />
</div>
规格：
<h5><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span><strong>一般规格</strong></h5>
<table class="table table-bordered table-condensed col-md-12 col-sm-12 col-xs-12">
    <tbody>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">标准功能</td>
            <td style="vertical-align: top;">数码复合机／打印机／扫描仪</td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">类型</td>
            <td style="vertical-align: top;">台式</td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">内存</td>
            <td style="vertical-align: top;">32MB</td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">灰阶</td>
            <td style="vertical-align: top;">256</td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">原稿类型</td>
            <td style="vertical-align: top;">纸张，书本</td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">最大原稿尺寸</td>
            <td style="vertical-align: top;">A3</td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">输出尺寸</td>
            <td style="vertical-align: top;">A3至A5</td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">非复印区域</td>
            <td style="vertical-align: top;">
                顶部&amp;底部边缘：4mm
                右侧&amp;左侧边缘：4mm
            </td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">纸张容量</td>
            <td style="vertical-align: top;">350张（纸盒250张+多功能手送托盘100张）</td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">纸张克重</td>
            <td style="vertical-align: top;">64-157g╱m2</td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">预热时间</td>
            <td style="vertical-align: top;">低于29秒</td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">首页复印时间</td>
            <td style="vertical-align: top;">低于8秒</td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">复印速度</td>
            <td style="vertical-align: top;">18 ppm</td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">分辨率</td>
            <td style="vertical-align: top;">600dpi&times;600dpi</td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">连续复印</td>
            <td style="vertical-align: top;">1-99张</td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">复印缩放倍率</td>
            <td style="vertical-align: top;">50-200%（以1%为增量）</td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">浓度模式</td>
            <td style="vertical-align: top;">文本模式／图片模式／自动模式</td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">电源要求</td>
            <td style="vertical-align: top;">AC220-240V 3.5A (50╱60Hz)</td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">功耗</td>
            <td style="vertical-align: top;">800W或更低</td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">尺寸（宽&times;深&times;高）</td>
            <td style="vertical-align: top;">570&times;531&times;449mm</td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">重量</td>
            <td style="vertical-align: top;">23.5kg</td>
        </tr>
    </tbody>
</table>

<h5><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span><strong>GDI打印控制器（标配）</strong></h5>
<table class="table table-bordered table-condensed col-md-12 col-sm-12 col-xs-12">
    <tbody>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">类型</td>
            <td style="vertical-align: top;">嵌入式</td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">打印速度</td>
            <td style="vertical-align: top;">18ppm</td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">分辨率</td>
            <td style="vertical-align: top;">300dpi&times;600dpi, 600dpi&times;600dpi</td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">支持的操作系统</td>
            <td style="vertical-align: top;">
                服务器：Windows Server 
                
                客户端：Windows XP 7 
            </td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">接口</td>
            <td style="vertical-align: top;">USB1.1╱2.0</td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">内存</td>
            <td style="vertical-align: top;">32MB（与复合机共享）</td>
        </tr>
    </tbody>
</table>

<h5><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span><strong>扫描仪（标配）</strong></h5>
<table class="table table-bordered table-condensed col-md-12 col-sm-12 col-xs-12">
    <tbody>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">类型</td>
            <td style="vertical-align: top;">台式扫描仪</td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">驱动程序</td>
            <td style="vertical-align: top;">TWAIN</td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">扫描尺寸</td>
            <td style="vertical-align: top;">最大A3</td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">扫描分辨率</td>
            <td style="vertical-align: top;">150dpi&times;150dpi, 300dpi&times;300dpi, 600dpi&times;600dpi</td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">支持的操作系统</td>
            <td style="vertical-align: top;">
                服务器：Windows Server 
                 客户端：Windows XP 7
            </td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">接口</td>
            <td style="vertical-align: top;">USB1.1╱2.0</td>
        </tr>
    </tbody>
</table>
