特性：
<div>
    <h5><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span><strong>强大的印后处理能力</strong></h5>
    <p>bizhub 7528配备多种排纸处理器，用户可通过选购相应排纸处理器实现诸如鞍式装订、边订和角订等功能。文件装订制作变得高效、轻松。</p>
    <img src="http://www.konicaminolta.com.cn/business/products/copiers/bw/bizhub_7528/img/7528_001.jpg" class="img-responsive center-block" />
    <h5><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span><strong>载体自动优化系统</strong></h5>
    <p>bizhub 7528采用载体自动优化系统，可自行持续地补充新的载体，极大地延长显影剂寿命，从而保证出色的图像输出质量。</p>
    <img src="http://www.konicaminolta.com.cn/business/products/copiers/bw/bizhub_7528/img/7528_002.jpg" class="img-responsive center-block" />
    <h5><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span><strong>智能终端触控区设计</strong></h5>
    <p>
        bizhub 7528采用全新的7英寸操作面板，配备先进的智能终端触控区（安卓系统设备可通过NFC技术与复合机连接） 。只需让移动设备触碰触控区，就可利用无线网络直接打印文档与图片以及获取扫描数据。
    </p>
    <p>
        *IOS系统设备可通过低功耗蓝牙技术与复合机连接（低功耗蓝牙选购件稍后上市）
    </p>
    <img src="http://www.konicaminolta.com.cn/business/products/copiers/bw/bizhub_7528/img/7528_003.jpg" class="img-responsive center-block" />
    <h5><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span><strong>可拆卸纸盒设计</strong></h5>
    <p>与以往的产品不同，bizhub 7528的标配纸盒采用可拆卸设计，无需专业工具即可轻松拆卸。一旦卡纸出现在复合机内部，用户可轻松去除，减少设备停机维护的时间。</p>
    <img src="http://www.konicaminolta.com.cn/business/products/copiers/bw/bizhub_7528/img/7528_004.jpg" class="img-responsive center-block" />
    <h5><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span><strong>提供强大管理功能</strong><img src="http://www.konicaminolta.com.cn/business/products/copiers/bw/bizhub_7528/img/7528_007.jpg" /></h5>
    <h5><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span><strong>设备成本管理</strong></h5>
    <p>随着打印输出需求的增加，设备数量也在不断增加，怎样提升对设备的管理、对设备权限的控制、对使用数量的控制、对使用状况进行精细化管理，是管理人员必须马上改善的课题。</p>
    <img src="http://www.konicaminolta.com.cn/business/products/copiers/bw/bizhub_7528/img/7528_005.jpg" class="img-responsive center-block" />
    <h5><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span><strong>文印安全管理*</strong></h5>
    <p>复合机的功能越来越强大，支持用户可以在一台设备上完成打印、复印、扫描、传真、E-mail等操作，如何保护相关的机密信息不被非法泄露，操作内容没有违反安全策略，是管理人员亟待改善的问题。</p>
    <img src="http://www.konicaminolta.com.cn/business/products/copiers/bw/bizhub_7528/img/7528_006.jpg" class="img-responsive center-block" />
    <p>* 即将上市。</p>
</div>
规格：
<div>
    <h5><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span><strong>bizhub 7528基本规格</strong></h5>
    <table class="table table-bordered table-condensed col-md-12 col-sm-12 col-xs-12">
        <tbody>
            <tr>
                <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">型号</td>
                <td colspan="2" style="vertical-align: top;">bizhub 7528</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">类型</td>
                <td colspan="2" style="vertical-align: top;">控制台式</td>
            </tr>
            <tr>
                <td rowspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">复印分辨率</td>
                <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">扫描</td>
                <td colspan="2" style="vertical-align: top;">600dpi x 600dpi</td>
            </tr>
            <tr>
                <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">打印</td>
                <td colspan="2" style="vertical-align: top;">1，800dpi (等效) &times; 600dpi</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">灰度级</td>
                <td colspan="2" style="vertical-align: top;">256</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">内存容量（标准/最大）</td>
                <td colspan="2" style="vertical-align: top;">2GB╱4GB</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">硬盘</td>
                <td colspan="2" style="vertical-align: top;">250GB（选购）</td>
            </tr>
            <tr>
                <td rowspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">输出尺寸</td>
                <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">纸盒</td>
                <td colspan="2" style="vertical-align: top;">A3-A5，16K， 8K</td>
            </tr>
            <tr>
                <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">多功能手送托盘</td>
                <td colspan="2" style="vertical-align: top;">A3-A5， B6*1 ， A6*1 ， 16K， 8K，</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">非复印区域</td>
                <td colspan="2" style="vertical-align: top;">顶部：4.2mm或以下，底部：3.0mm或以下，两侧：3.0mm或以下</td>
            </tr>
            <tr>
                <td colspan="2" rowspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">预热时间*2 (23℃标准电压)</td>
                <td colspan="2" style="vertical-align: top;">20秒（主电源和副电源同时从关闭变为开启时，到开始打印所需的时间）</td>
            </tr>
            <tr>
                <td colspan="2" style="vertical-align: top;">15秒（主电源已开启时，副电源从关闭变为开启时，到开始打印所需的时间）</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">首页复印时间（A4横向）*3</td>
                <td colspan="2" style="vertical-align: top;">5.3秒或以下</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">复印速度（A4横向)</td>
                <td colspan="2" style="vertical-align: top;">28页╱分钟</td>
            </tr>
            <tr>
                <td rowspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">纸张容量(80g╱m2)</td>
                <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">纸盒1至2</td>
                <td colspan="2" style="vertical-align: top;">500页 x 2个纸盒</td>
            </tr>
            <tr>
                <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">多功能手送托盘</td>
                <td colspan="2" style="vertical-align: top;">100页</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">最大纸张容量(80g╱m2)*4</td>
                <td colspan="2" style="vertical-align: top;">3600页</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">纸张输出</td>
                <td colspan="2" style="vertical-align: top;">250页</td>
            </tr>
            <tr>
                <td rowspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">纸张重量</td>
                <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">纸盒1至2</td>
                <td colspan="2" style="vertical-align: top;">60-220g/m2</td>
            </tr>
            <tr>
                <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">多功能手送托盘</td>
                <td colspan="2" style="vertical-align: top;">60-220g/m2</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">连续复印</td>
                <td colspan="2" style="vertical-align: top;">1-9999页</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">自动双面器</td>
                <td colspan="2" style="vertical-align: top;">无堆叠，纸张尺寸：A3-A5*1 ，B5*5 ， 16K， 8K*1 ; 纸张重量：60-209g/m2</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">电源要求</td>
                <td colspan="2" style="vertical-align: top;">AC220-240V 7A(50-60Hz)</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">最大功耗</td>
                <td colspan="2" style="vertical-align: top;">1.5kW或以下</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">尺寸 (宽 x 深 x 高)</td>
                <td colspan="2" style="vertical-align: top;">585x660x735mm（主机标准配置）</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">重量</td>
                <td colspan="2" style="vertical-align: top;">56.5kg</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            ※1
            短边进纸
        </li>
        <li>
            ※2
            可能会因操作环境和使用情况而异
        </li>
        <li>
            ※3
            A4横向全尺寸/使用第一纸盒/稿台扫描
        </li>
        <li>
            ※4
            需选购件
        </li>
        <li>
            ※5
            长边进纸
        </li>
    </ul>
    <h5><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span><strong>打印规格（标配）</strong></h5>
    <table class="table table-bordered table-condensed col-md-12 col-sm-12 col-xs-12">
        <tbody>
            <tr>
                <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">类型</td>
                <td style="vertical-align: top;">内置式</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">CPU</td>
                <td style="vertical-align: top;">双核1.2GHz</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">打印速度</td>
                <td style="vertical-align: top;">与复印速度相同（使用相同原稿时）</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">硬盘</td>
                <td style="vertical-align: top;">250GB（选购）</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">内存</td>
                <td style="vertical-align: top;">与复合机共享</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">打印分辨率</td>
                <td style="vertical-align: top;">1800dpi（等效）x 600dpi</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">PDL</td>
                <td style="vertical-align: top;">PCL6, PS3仿真, XPS</td>
            </tr>
            <tr>
                <td rowspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">字体</td>
                <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">PCL</td>
                <td style="vertical-align: top;">80种字体</td>
            </tr>
            <tr>
                <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">PS</td>
                <td style="vertical-align: top;">137种字体</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">协议</td>
                <td style="vertical-align: top;">TCP╱IP， IPX╱SPX(支持NDS)， SMB(NetBEUI)， LPD， IPP1.1， SNMP， Apple Talk</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">支持的操作系统</td>
                <td style="vertical-align: top;">
                    Windows Vista
                    Windows Server 
                    Mac OS X 
                    Linux
                </td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">接口</td>
                <td style="vertical-align: top;">USB1.1 ╱2.0， 以太网10╱100╱1000Base-T╱TX╱T， IEEE 802.11 b╱g╱n*2</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            *1
            支持32-bit(x86)或64-bit(x64)环境
        </li>
        <li>
            *2
            选购
        </li>
    </ul>
    <h5><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span><strong>扫描规格（标配）</strong></h5>
    <table class="table table-bordered table-condensed col-md-12 col-sm-12 col-xs-12">
        <tbody>
            <tr>
                <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">类型</td>
                <td style="vertical-align: top;">全彩色扫描仪</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">扫描速度</td>
                <td style="vertical-align: top;">彩色╱黑白：45页╱分钟300dpi*1</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">输出格式</td>
                <td style="vertical-align: top;">TIFF， JPEG， PDF， Compact PDF， OOXML </td>
            </tr>
            <tr>
                <td rowspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">扫描分辨率</td>
                <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">推扫描</td>
                <td style="vertical-align: top;">200dpi-300dpi╱400dpi╱500dpi╱600dpi</td>
            </tr>
            <tr>
                <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">拉扫描</td>
                <td style="vertical-align: top;">100dpi╱600dpi</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">主要功能</td>
                <td style="vertical-align: top;">扫描到电子邮件，扫描到FTP</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            *1
            使用自动输稿器时（DF-628)
        </li>
        <li>
            *2
            选购
        </li>
    </ul>

    <h5><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span><strong>互联网传真规格（标配）</strong></h5>
    <table class="table table-bordered table-condensed col-md-12 col-sm-12 col-xs-12">
        <tbody>
            <tr>
                <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">协议</td>
                <td style="vertical-align: top;">TX: SMTP， RX: POP3， TCP/IP Simple mode</td>
            </tr>
            <tr>
                <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">连接模式</td>
                <td style="vertical-align: top;">全双工模式</td>
            </tr>
            <tr>
                <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">分辨率</td>
                <td style="vertical-align: top;">
                    黑白:600 x 600 dpi
                    彩色:600 x 600 dpi
                </td>
            </tr>
            <tr>
                <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">彩色互联网传真</td>
                <td style="vertical-align: top;">支持</td>
            </tr>
            <tr>
                <td rowspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">数据格式</td>
                <td style="vertical-align: top;">黑白: TIFF-F</td>
            </tr>
            <tr>
                <td style="vertical-align: top;">彩色: TIFF (RFC3949 Profile-C)</td>
            </tr>
        </tbody>
    </table>

    <p></p>
    <h5><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span><strong>传真规格（需选购传真组件FK-513,稍后上市）</strong></h5>
    <p></p>
</div>
