<div>
    <h5><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span><strong>丰富的复印功能</strong></h5>
   <hr />
    <strong class="bg-info">简单操作快速复印 (仅bizhub C18)</strong>
    <p>标配能够最多供纸35张A4尺寸的原稿的自动输稿器。大量的文件也能自动复印，有效利用了办公时间。</p>
    <img src="http://www.konicaminolta.com.cn/business/products/printers/multi/bizhub_c17c18/img/pic011.jpg" class="img-responsive center-block" />
    <strong class="bg-info">大幅提高工作效率的高速复印</strong>
    <p>预热时间在30秒以下。能够快速应对急需复印情况。大量文件也能快速复印，大大节省了等待复印时间。</p>
    <strong class="bg-info">多重复印功能</strong>
    <p>2合1复印：减少纸张的浪费。
身份证复印：方便对证卡进行双面复印。
重复复印：可以在A4页面上重复复印多张名片或会员卡之类小尺寸原稿。
海报复印：将原稿放大200%，分成4页进行复印。即使大型海报也能够轻松处理。
*页边部分需要进行裁减
双面复印 (仅bizhub C18)：通过安装选配的双面单元可以进行双面复印，以节省用纸开销。</p>
    <img src="http://www.konicaminolta.com.cn/business/products/printers/multi/bizhub_c17c18/img/pic01.jpg" class="img-responsive center-block" />
    
    <h5><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span><strong>出众的打印功能</strong></h5>
    <hr />
    <strong class="bg-info">打印方式简单设置</strong>
    <p>可以存储经常使用的打印设置例如：色彩、布局、纸张等。</p>
    <strong class="bg-info">双面打印 (仅bizhub C18)</strong>
    <p>通过安装选配的双面单元可以进行双面打印。由此节省用纸的开销。</p>
    <strong class="bg-info">丰富的纸张适应性</strong>
    <p>适合打印多种类型纸张，包括：厚纸、邮政明信片、标签用纸、信封等。</p>
    <strong class="bg-info">多种打印模式</strong>
    <p>具有水印、经济打印、多合一打印等打印模式，不仅提高了办公效率，而且兼顾经济办公的需求。</p>
    <img src="http://www.konicaminolta.com.cn/business/products/printers/multi/bizhub_c17c18/img/pic02.jpg" class="img-responsive center-block" />

    <h5><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span><strong>实用的扫描功能</strong></h5>
    <hr />
    <strong class="bg-info">文档数字化有助于办公环境下的信息共享</strong>
    <p>配有TWAIN扫描功能，可用电脑进行操作，获取所需的文档图像。</p>
    <strong class="bg-info">具有多种扫描方式</strong>
    <img src="http://www.konicaminolta.com.cn/business/products/printers/multi/bizhub_c17c18/img/pic022.jpg" class="img-responsive center-block" />

    <h5><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span><strong>灵活的传真功能</strong></h5>
    <hr />
    <strong class="bg-info">支持Super G3的新型传真功能</strong>
    <p>能够对收发的数据进行压缩和解压，高速发送大容量数据并节约通信成本。</p>
    <strong class="bg-info">可实现多种传真收发方式</strong>
    <img src="http://www.konicaminolta.com.cn/business/products/printers/multi/bizhub_c17c18/img/pic0222.jpg" class="img-responsive center-block" />

    <h5><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span><strong>直观易懂的操作界面</strong></h5>
    <hr />
    <p>所有人都能简单操作的人性化设计，面板上显示的功能简单明了，用指尖即可轻松操作。</p>
    <img src="http://www.konicaminolta.com.cn/business/products/printers/multi/bizhub_c17c18/img/pic04.jpg" class="img-responsive center-block" />

</div>
<table class ="table table-bordered table-condensed col-md-12 col-sm-12 col-xs-12">
    <tbody>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">产品名称</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">bizhub C18</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">bizhub C17</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">内存</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">128MB</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">64MB</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">支持操作系统</td>
            <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">Windows XP（32位╱64位）╱ Vista （32╱64位） ╱ Server 2003（32位╱64位）╱ Win7（32╱64位）╱ Server 2008（32位╱64位）╱ Server 2008 R2（64位）， Mac OS 10：4：11~OS 10：7</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">预热时间</td>
            <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">30秒以下</td>
        </tr>
        <tr>
            <td rowspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">纸张尺寸</td>
            <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">标准纸盒</td>
            <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">A4， A5， B5（JIS）， Legal， EXecutive， Letter， Envelope（C6╱DL）， 16开， 32开， 16K， 自定义尺寸：仅支持普通纸（宽：92&ndash;216 mmX长：184&ndash;297 mm））</td>
        </tr>
        <tr>
            <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">选配纸盒</td>
            <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">A4， Letter</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">&mdash;</td>
        </tr>
        <tr>
            <td rowspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">纸张类型</td>
            <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">标准纸盒</td>
            <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">普通纸，再生纸（60 &ndash; 90 g╱m&sup2;），厚纸※1（91 &ndash; 209 g╱m&sup2;），邮政明信片※2， 标签纸※3，信封※4</td>
        </tr>
        <tr>
            <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">选配纸盒</td>
            <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">普通纸，再生纸60 &ndash; 90 g╱m&sup2;）</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">&mdash;</td>
        </tr>
        <tr>
            <td rowspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">进纸容量</td>
            <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">标准纸盒</td>
            <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">200张（A4、普通纸）</td>
        </tr>
        <tr>
            <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">选配纸盒</td>
            <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">500张（A4，、普通纸）</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">&mdash;</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">最大进纸容量</td>
            <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">700张</td>
            <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">200张</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">ADF进纸容量</td>
            <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">35张（216X356mm，重量：80g╱㎡）</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">&mdash;</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">ADF进纸种类</td>
            <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">普通纸（50~110g╱㎡）</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">&mdash;</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">双面打印╱复印</td>
            <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">选配</td>
            <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">手动</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">接口</td>
            <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">以太网络（100BASE-TX╱10BASE-T）、USB 2：0（Hi-Speed）、Host USB</td>
            <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">USB 2：0 （Hi-Speed）</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">外型尺寸（长X宽X高）</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">405 mm X 427 mm X 432 mm</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">405 mm X 427 mm X 375 mm</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">重量</td>
            <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">约20：8kg （含耗材）</td>
            <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">约19：2kg （含耗材）</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">电源</td>
            <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">220V~240V、50╱60Hz&plusmn;3Hz</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">耗电量</td>
            <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">最大耗电量：1060W以下；运行时平均耗电量：彩色4100W以下，黑白560W以下；待机时：170W以下；节电模式时：14W以下：</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">使用寿命</td>
            <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">整机寿命：5万页或5年（以先到达者为准）；扫描部件：扫描5万次</td>
        </tr>
    </tbody>
    </table>
<h5><strong>bizhub C17/C18 耗材</strong></h5>
<table class ="table table-bordered table-condensed col-md-12 col-sm-12 col-xs-12">
    <tbody>
        <tr>
            <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">产品名称</td>
            <td style="font-weight: bold; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">产品规格（A4╱5%覆盖率连续打印※）</td>
        </tr>
        <tr>
            <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">标准容量碳粉盒※黄色（Y）；品红色（M）；青色（C）</td>
            <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">可打印约1500页</td>
        </tr>
        <tr>
            <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">高容量碳粉盒※黄色（Y）；品红色（M）；青色（C）；黑色（BK）</td>
            <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">可打印约2500页</td>
        </tr>
        <tr>
            <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">感光鼓</td>
            <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">可打印约黑色45000页或彩色11250页</td>
        </tr>
    </tbody>
    </table>

    <p>
        *标配附带的四色碳粉盒的可打印页数约为1000页（A4/5%覆盖率连续打印时）
        推荐使用原装碳粉盒，使用非原装碳粉盒，会导致性能无法稳定发挥。另外，因使用非原装碳粉盒而产生的故障，即使在免费保修期限内，维修也须收费。
    </p>
    <h5><strong>bizhub C18 选购件</strong></h5>
