特点：
<h5><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span><strong>全面的功能，出色的性价比</strong></h5>
<p>bizhub 4020/3320集打印/复印/扫描和传真等功能于一身，同时支持无线网络连接，是替代黑白打印机和传真机等多种单一功能设备的理想选择。</p>
<img src="http://www.konicaminolta.com.cn/business/products/printers/multi/bizhub40203320/img/pic01.jpg" class="img-responsive center-block" />
<h5><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span><strong>最高40页/分钟的高速打印</strong></h5>
<p>作为中高速度段的产品，bizhub 4020/3320的输出速度可轻松满足办公室的打印需求，尤其是bizhub 4020可实现40页/分钟 (A4) 的高速打印。此外，首页输出时间与以往产品相比也明显缩短，从而进一步提高生产力。</p>
<h5><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span><strong>无需PC，直接输出USB设备上的数据</strong></h5>
<p>bizhub 4020支持USB设备直接打印功能，用户无需连接PC也可快速和轻松地输出较为紧迫的打印作业。</p>
<img src="http://www.konicaminolta.com.cn/business/products/printers/multi/bizhub40203320/img/pic02.jpg" class="img-responsive center-block" />
<h5><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span><strong>机身小巧，可部署在狭小的空间内</strong></h5>
<p>bizhub 4020/3320占地面积仅0.23m2/0.18m2，可置放于桌面上，对于办公空间有限的用户来说，完全可以满足其节省空间的需求。</p>
<h5><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span><strong>超大的纸张容量</strong></h5>
<p>尽管机身紧凑，但bizhub 4020/3320标配250张的大容量纸盒。用户还可根据需要添加选购纸盒。bizhub 4020 (最多可选购3个纸盒) 和bizhub 3320 (仅能选购1个纸盒) 的最大纸张容量分别为2,000页和850页。</p>
<img src="http://www.konicaminolta.com.cn/business/products/printers/multi/bizhub40203320/img/pic03.jpg" class="img-responsive center-block" />
<h5><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span><strong>产品性能</strong></h5>
<img src="http://www.konicaminolta.com.cn/business/products/printers/multi/bizhub40203320/img/tb1.png" class="img-responsive center-block" />
<h5><span class="glyphicon glyphicon-star text-danger Myicon"></span><strong>基本规格</strong></h5>
<table class="table table-bordered table-condensed col-md-12 col-sm-12 col-xs-12">
    <tbody>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">型号</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">bizhub 4020</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">bizhub 3320</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">类型</td>
            <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">黑白桌面多功能一体机</td>
        </tr>
        <tr>
            <td rowspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">复印分辨率</td>
            <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">扫描</td>
            <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">600 dpi x 600 dpi</td>
        </tr>
        <tr>
            <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">打印</td>
            <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">600dpix600dpi</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">灰阶</td>
            <td colspan="2" style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">256</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">内存容量（标准╱最大）</td>
            <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">512MB╱2.5GB</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">256MB</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">硬盘</td>
            <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">160GB （选购）</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">原稿类型</td>
            <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">纸张、书本、三维物体</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">最大原稿尺寸</td>
            <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">A4或Legal（8~1╱2 x 14）</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">输出尺寸</td>
            <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">Legal， Letter， A4~A6，自定义: 76.2x127mm至216x356mm</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">预热时间X1</td>
            <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">25秒或以上</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">首页复印时间X2</td>
            <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">6.5秒或更少</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">复印速度 （A4）</td>
            <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">40页╱分钟</td>
            <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">33页╱分钟</td>
        </tr>
        <tr>
            <td rowspan="6" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">复印缩放倍率</td>
            <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">等倍</td>
            <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">1:1X0.5%或以下</td>
        </tr>
        <tr>
            <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">比例放大</td>
            <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">1：1.154╱1.224╱1.294╱1.414 每1.545╱1.631╱2.000</td>
        </tr>
        <tr>
            <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">比例缩小</td>
            <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">1:0.866╱0.816╱0.785╱0.707每0.647╱0.607╱0.500</td>
        </tr>
        <tr>
            <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">预设</td>
            <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">3个定制设置</td>
        </tr>
        <tr>
            <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">缩放</td>
            <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">25~400%（以0.1%为增量）</td>
        </tr>
        <tr>
            <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">纵横单独设置</td>
            <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">25~400%（以0.1%为增量）</td>
        </tr>
        <tr>
            <td rowspan="2" style="font-weight: bold; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">标准纸张容量75克</td>
            <td style="font-weight: bold; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">纸盒1</td>
            <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">250页</td>
        </tr>
        <tr>
            <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">多功能手送托盘</td>
            <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">100页</td>
            <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">50页</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">最大纸张容量75克</td>
            <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">2000页</td>
            <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">850页</td>
        </tr>
        
        <tr>
            <td rowspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">纸张重量</td>
            <td style="font-weight: bold; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">纸盒1</td>
            <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">60~120g╱m2</td>
            <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">60~90g╱m2</td>
        </tr>
        <tr>
            <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">多功能手送托盘</td>
            <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">60~163g╱m2</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">连续复印</td>
            <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">1~999页</td>
        </tr>
        <tr>
            <td rowspan="3" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">自动双面器</td>
            <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">类型</td>
            <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">无堆叠</td>
        </tr>
        <tr>
            <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">纸张尺寸</td>
            <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">Legal， Letter， A4</td>
        </tr>
        <tr>
            <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">纸张重量</td>
            <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">60~90g╱m2</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">电源要求</td>
            <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">AC 220至240V 4.2 A（50~60Hz）</td>
        </tr>
    </tbody>
</table>



<tr>
    <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">最大功耗</td>
    <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">972 W或以下</td>
    <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">926 W或以下</td>
</tr>

<tr>
    <td colspan="2" style="font-weight: bold; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">尺寸 （宽 x 深 x 高）</td>
    <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">
        489 x 452 x 502mm19~1╱4x17~3╱4x19~3╱4）
    </td>
    <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">
        389x472x468mm(15~1╱4x18~1╱2x18~1╱2）
    </td>
</tr>
<tr>
    <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">重量</td>
    <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">约21.8 kg （48 lb）</td>
    <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">约20 kg （44 lb）</td>
</tr>
<tr>
    <td colspan="2" style="font-weight: bold; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">所需空间X3 （宽 x 深）</td>
    <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">
        664 x 856.8 mm26-1╱4 x 33~3╱4）
    </td>
    <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">
        564 x 876.8 mm（22-1╱4 x 34~1╱2）
    </td>
</tr>
<h5><span class="glyphicon glyphicon-star text-danger Myicon"></span><strong></strong></h5>
<h5><span class="glyphicon glyphicon-star text-danger Myicon"></span><strong></strong></h5>
<h5><span class="glyphicon glyphicon-star text-danger Myicon"></span><strong></strong></h5>
耗材：
<h5><strong>选购件</strong></h5>
<table class="table table-bordered table-condensed col-md-12 col-sm-12 col-xs-12">
    <tbody>
        <tr>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">名称</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">型号</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">说明</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">进纸盒</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">PF-P11</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">250页进纸盒</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">进纸盒</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">PF-P12</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">550 页进纸盒</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">工作台</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">DK-P02</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">工作台</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">网络连接卡</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">NC-P02</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">bizhub4020网卡</td>
        </tr>
        <tr>
            <td rowspan="2" style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">扩展内存</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">EM-P03</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">1GB （仅bizhub 4020适用）</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">EM-P04</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">2GB （仅bizhub 4020适用）</td>
        </tr>
        <tr>
            <td rowspan="2" style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">本地接口组件</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">EK-P02</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">IEEE1284接口卡 （仅bizhub 4020适用）</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">EK-P03</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">RS-232C接口卡（仅bizhub 4020适用</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">硬盘</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">HD-P05</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">bizhub4020硬盘</td>
        </tr>
    </tbody>
</table>

<h5><strong>耗材</strong></h5>
<table class="table table-bordered table-condensed col-md-12 col-sm-12 col-xs-12">
    <tbody>
        <tr>
            <td colspan="2" style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">耗材</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">bizhub 4020</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">bizhub 3320</td>
        </tr>
        <tr>
            <td rowspan="3" style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">碳粉</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">初始</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">5，000页</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">2，500页</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">标准</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">20，000页</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">10，000页</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">回收计划</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">20000页</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">10，000页</td>
        </tr>
        <tr>
            <td rowspan="3" style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">成像单元</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">初始</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">60，000页</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">60，000页</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">标准</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">60，000页</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">60，000页</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">回收计划</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">60，000页</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">60，000页</td>
        </tr>
    </tbody>
</table>
