特点：
<div>
    <h4><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span>时尚的外观设计</h4>
    <hr />
    <p>bizhub 235/215/195的机身使用黑与白2种主色调，精致的外观设计不仅能带来轻松愉悦的办公心情，而且让用户的办公整体环境更协调、更具有时尚感。</p>
    <img src="http://www.konicaminolta.com.cn/business/products/copiers/bw/bizhub235195/img/pic05.jpg" class="img-responsive center-block" />
    <h4><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span>节省空间更优化</h4>
    <hr />
    <p>bizhub 235/215/195采用了紧凑的外形设计，占地面积小（570mm×570mm），适合放置在办公桌上或其他空间有限的环境中，更贴近用户提高空间利用率的需求。</p>
    <img src="http://www.konicaminolta.com.cn/business/products/copiers/bw/bizhub235195/img/pic04.jpg" class="img-responsive center-block" />
    <h4><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span>超值的彩色扫描</h4>
    <hr />
    <p>
        bizhub 235/215/195虽然是黑白数码复合机，但标配了彩色Twain扫描功能，能将各式各样的纸张文档转换成高品质的彩色电子文档，大幅度地提高了电子化存档质量和数据再利用性。同时，还标准配置扫描到USB功能*，方便用户无需借助电脑支持就能快速输出电子文档，极大地提高了工作效率和质量。
        *
        仅bizhub 235支持
    </p>
    <img src="http://www.konicaminolta.com.cn/business/products/copiers/bw/bizhub235195/img/pic08.jpg" class="img-responsive center-block" />
    <h4>
        <span class="glyphicon glyphicon-hand-right text-danger Myicon"></span>高效的双面复印打印
    </h4>
    <hr />
    <p>
        bizhub 235/215/195最快可实现每分钟23页/21页/19页的输出速度，当配合使用自动双面输稿器*1 和双面器*2时，能够进行双面复印打印，帮助用户大幅提高工作效率，节约纸张成本。
    </p>
    <p>*1需选购</p>
    <p>*2 bizhub 195需选购双面器</p>
    <img src="http://www.konicaminolta.com.cn/business/products/copiers/bw/bizhub235195/img/pic09.jpg" class="img-responsive center-block" />
    <h4><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span>人性化操作面板</h4>
    <hr />
    <p>秉承一贯的通用设计理念，采用了直观、清晰的常用功能快捷键布局，方便用户快速调用，操作起来更加得心应手。按下特别设计的节能键，可以使设备在完成作业后马上进入节能模式，大大降低待机能耗。</p>
    <img src="http://www.konicaminolta.com.cn/business/products/copiers/bw/bizhub235195/img/pic01.jpg" class="img-responsive center-block" />
    <h4><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span>更高的生产力</h4>
    <hr />
    <p>最多能够连续复印999页文件，轻松应对大印量工作。当遇到多套文件输出时，配合分页／分组功能，自动对文件整理成套，减轻了人工处理负担。标配纸张容量高达600张（2个250张的通用纸盒和1个100张的多功能手送托盘）*，同时用户还可根据印量需要选购增加纸盒，最大纸张容量可达到1350张。</p>
    <p class="text-danger">
        bizhub 235标配2个纸盒
        bizhub 215/195标配1个纸盒
    </p>
    <img src="http://www.konicaminolta.com.cn/business/products/copiers/bw/bizhub235195/img/pic02.gif" class="img-responsive center-block" />
    <h4><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span>高清液晶显示屏</h4>
    <hr />
    <p>采用全点阵液晶技术和背景灯设置的大尺寸5行显示屏，让用户随时感受到一目了然的高清晰界面体验。贴心周到的操作指引技术，帮助用户能够清楚地了解到设备当前状况以及排除故障的步骤方法（如，卡纸等）。</p>
    <img src="http://www.konicaminolta.com.cn/business/products/copiers/bw/bizhub235195/img/pic03.gif" class="img-responsive center-block" />
    
    <h4><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span></h4>
    <hr />
    <p>采用全点阵液晶技术和背景灯设置的大尺寸5行显示屏，让用户随时感受到一目了然的高清晰界面体验。贴心周到的操作指引技术，帮助用户能够清楚地了解到设备当前状况以及排除故障的步骤方法（如，卡纸等）。</p>
    <img src="" class="img-responsive center-block" />
</div>
<h4><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span>bizhub 235/bizhub 215/bizhub 195 基本规格</h4>
<table class="table table-bordered table-condensed col-md-12 col-sm-12 col-xs-12">
    <tr>
        <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">类型:</td>
        <td style="vertical-align: top;">A3黑白多功能数码复合机</td>
    </tr>
    <tr>
        <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">读取分辨率:</td>
        <td style="vertical-align: top;">600dpi</td>
    </tr>
    <tr>
        <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">写入分辨率:</td>
        <td style="vertical-align: top;">600dpi</td>
    </tr>
    <tr>
        <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">内存容量（标准~最大）:</td>
        <td style="vertical-align: top;">128MB~128MB</td>
    </tr>
    <tr>
        <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">灰阶:</td>
        <td style="vertical-align: top;">256</td>
    </tr>
    <tr>
        <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">原稿类型:</td>
        <td style="vertical-align: top;">纸张，书本，三维物品 (最重2 kg)</td>
    </tr>
    <tr>
        <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">原稿最大尺寸:</td>
        <td style="vertical-align: top;">A3</td>
    </tr>
    <tr>
        <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">复印纸张尺寸:</td>
        <td style="vertical-align: top;">A3 ~ A5</td>
    </tr>
    <tr>
        <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">非复印区域:</td>
        <td style="vertical-align: top;">图像的顶部、底部、右侧、左侧，距边缘约 4 mm</td>
    </tr>
    <tr>
        <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">预热时间:</td>
        <td style="vertical-align: top;">15秒或更少</td>
    </tr>
    <tr>
        <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">首页输出时间:</td>
        <td style="vertical-align: top;">6.5秒或更少</td>
    </tr>
    <tr>
        <td rowspan="3" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">复印速度: (A4，横向）</td>
        <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">bizhub 235</td>
        <td style="vertical-align: top;">23页、分钟</td>
    </tr>
    <tr>
        <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">bizhub 215</td>
        <td style="vertical-align: top;">21页、分钟</td>
    </tr>
    <tr>
        <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">bizhub 195</td>
        <td style="vertical-align: top;">19页、分钟</td>
    </tr>
    <tr>
        <td rowspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">复印缩放倍率:</td>
        <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">固定倍率:</td>
        <td style="vertical-align: top;">0.25 ~ 4.00 (以0.01为变量进行调节)</td>
    </tr>
    <tr>
        <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">缩放:</td>
        <td style="vertical-align: top;">1~2</td>
    </tr>
    <tr>
        <td rowspan="3" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">纸张容量（标配~最大）:</td>
        <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">bizhub 235:</td>
        <td style="vertical-align: top;">600~1350页</td>
    </tr>
    <tr>
        <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">bizhub 215:</td>
        <td style="vertical-align: top;">350~1350页</td>
    </tr>
    <tr>
        <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">bizhub 195:</td>
        <td style="vertical-align: top;">350~1350页</td>
    </tr>
    <tr>
        <td rowspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">纸张克重:</td>
        <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">纸盒:</td>
        <td style="vertical-align: top;">64~157gsm</td>
    </tr>
    <tr>
        <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">多功能手送托盘:</td>
        <td style="vertical-align: top;">64~157gsm</td>
    </tr>
    <tr>
        <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">连续复印数:</td>
        <td style="vertical-align: top;">1~999张</td>
    </tr>
    <tr>
        <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">电源要求:</td>
        <td style="vertical-align: top;">AC220至240V 6A（50~60Hz）</td>
    </tr>
    <tr>
        <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">最大功耗:</td>
        <td style="vertical-align: top;">1.3kW或以下</td>
    </tr>
    <tr>
        <td rowspan="3" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">尺寸 (宽x深x高) :</td>
        <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">bizhub 235</td>
        <td style="vertical-align: top;">607mm x 570mm x 572mm (使用原稿盖板时)</td>
    </tr>
    <tr>
        <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">bizhub 215</td>
        <td style="vertical-align: top;">607mm x 570mm x 488mm (使用原稿盖板时、不含工作台)</td>
    </tr>
    <tr>
        <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">bizhub 195</td>
        <td style="vertical-align: top;">607mm x 570mm x 488mm (使用原稿盖板时)</td>
    </tr>
    <tr>
        <td rowspan="3" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">重量: (含耗材)</td>
        <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">bizhub 235</td>
        <td style="vertical-align: top;">约35.6kg</td>
    </tr>
    <tr>
        <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">bizhub 215</td>
        <td style="vertical-align: top;">约30.2kg（不含工作台）</td>
    </tr>
    <tr>
        <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">bizhub 195</td>
        <td style="vertical-align: top;">约30.2kg</td>
    </tr>
    <tr>
        <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">占地面积 (宽x深):</td>
        <td style="vertical-align: top;">570mm x 570mm</td>
    </tr>
 </table>
<h4><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span>GDI打印规格（标配）</h4>
<table class ="table table-bordered table-condensed col-md-12 col-sm-12 col-xs-12">
    <tbody>
        <tr>
            <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">类型：</td>
            <td style="vertical-align: top;">内置式</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">内存：</td>
            <td style="vertical-align: top;">与复合机共享</td>
        </tr>
        <tr>
            <td rowspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">操作系统：</td>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">服务器端：</td>
            <td style="vertical-align: top;">
                Windows server系列
            </td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">客户端：</td>
            <td style="vertical-align: top;">
                Windows xp 7
            </td>
        </tr>
        <tr>
            <td rowspan="3" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">打印速度：(A4，横向)</td>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">bizhub 235</td>
            <td style="vertical-align: top;">23页╱分钟</td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">bizhub 215</td>
            <td style="vertical-align: top;">21页╱分钟</td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">bizhub 195</td>
            <td style="vertical-align: top;">19页╱分钟</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">打印分辨率：</td>
            <td style="vertical-align: top;">600dpi x 600dpi</td>
        </tr>
        <tr>
            <td rowspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">接口：</td>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">标配</td>
            <td style="vertical-align: top;">USB2.0</td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">选购</td>
            <td style="vertical-align: top;">Ethernet 10╱100BASE-T╱TX (需网络功能选购件支持)</td>
        </tr>
    </tbody>
    </table>
<h4><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span>Twain扫描规格（标配）</h4>
<table class="table table-bordered table-condensed col-md-12 col-sm-12 col-xs-12">
    <tbody>
        <tr>
            <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">类型:</td>
            <td style="vertical-align: top;">彩色扫描仪</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">扫描尺寸：</td>
            <td style="vertical-align: top;">最大A3或者Ledger（11&rdquo;&times;17&rdquo;）</td>
        </tr>
        <tr>
            <td rowspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">分辨率：</td>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">黑白：</td>
            <td style="vertical-align: top;">150dpi ╱300dpi ╱600dpi</td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">灰度╱彩色：</td>
            <td style="vertical-align: top;">150dpi ╱300dpi</td>
        </tr>
        <tr>
            <td rowspan="3" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">扫描速度：(A4，横向)</td>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">bizhub 235</td>
            <td rowspan="3" style="vertical-align: top;">
                黑白：46页╱分钟（300dpi）
                灰度：16页╱分钟（300dpi）
                彩色：20页╱分钟（150dpi）
            </td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">bizhub 215</td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">bizhub 195</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">驱动：</td>
            <td style="vertical-align: top;">TWAIN ╱ WIA驱动</td>
        </tr>
        <tr>
            <td rowspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">接口：</td>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">标配</td>
            <td style="vertical-align: top;">兼容USB2.0</td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">选购</td>
            <td style="vertical-align: top;">Ethernet 10╱100BASE-T╱TX (需网络功能选购件支持)</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">主要扫描功能</td>
            <td style="vertical-align: top;">
                扫描到FTP*，扫描到SMB*，扫描到电子邮件*，
                网络Twain扫描*，扫描到U盘（仅bizhub 235）
            </td>
        </tr>
    </tbody>
</table>
<p>*需网络功能选购件支持</p>
<h4><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span>打印控制器IC-209（包含网卡功能）</h4>
<table class="table table-bordered table-condensed col-md-12 col-sm-12 col-xs-12">
    <tbody>
        <tr>
            <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">类型：</td>
            <td style="vertical-align: top;">内置式</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">内存：</td>
            <td style="vertical-align: top;">与复合机共享</td>
        </tr>
        <tr>
            <td rowspan="3" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">打印速度：(A4，横向)</td>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">bizhub 235</td>
            <td style="vertical-align: top;">23页╱分钟</td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">bizhub 215</td>
            <td style="vertical-align: top;">21页╱分钟</td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">bizhub 195</td>
            <td style="vertical-align: top;">19页╱分钟</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">打印分辨率：</td>
            <td style="vertical-align: top;">600dpi x 600dpi ，1200dpi x 600dpi</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">PDL：</td>
            <td style="vertical-align: top;">PCL</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">接口：</td>
            <td style="vertical-align: top;">兼容USB2.0，Ethernet 10╱100BASE-T╱TX</td>
        </tr>
    </tbody>
</table>

<h4><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span>传真规格（选购传真组件FK-510）</h4>
<table class="table table-bordered table-condensed col-md-12 col-sm-12 col-xs-12">
    <tbody>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">传输标准╱通信模式</td>
            <td style="vertical-align: top;">ECM╱G3</td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">传输速度</td>
            <td style="vertical-align: top;">2.4kbps ~ 33.6kbps</td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">数据压缩</td>
            <td style="vertical-align: top;">MH、MR、MMR、JBIG</td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">传输时间</td>
            <td style="vertical-align: top;">大约3秒（A4，V.34，33.6kbps，JBIG）</td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">发送原稿尺寸</td>
            <td style="vertical-align: top;">最大A3，选购DF-625：最大297mm（W）&times;1000mm（L）</td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">接收纸张尺寸</td>
            <td style="vertical-align: top;">最大A3（最大长度1000mm，按照分页打印）</td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">分辨率</td>
            <td style="vertical-align: top;">203&times;196dpi，203&times;392dpi，406&times;392dpi</td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">缩位拨号</td>
            <td style="vertical-align: top;">250</td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">快速拨号</td>
            <td style="vertical-align: top;">32</td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">程序拨号</td>
            <td style="vertical-align: top;">4</td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">连续多址传输</td>
            <td style="vertical-align: top;">最大255</td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">群组拨号</td>
            <td style="vertical-align: top;">100个</td>
        </tr>
    </tbody>
</table>
<p class="text-danger">*需选购传真组件FK-510</p>


<h5><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span><strong>系统选购件</strong></h5>
<img src="http://www.konicaminolta.com.cn/business/products/copiers/bw/bizhub235195/img/pic15.jpg" class="img-responsive center-block" />
