<div>
    <h5><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span><strong>时尚造型&紧凑设计</strong></h5>
    <hr />
    <p>
        使办公环境干净舒适
        时尚的设计和紧凑的外型使magicolor 1680MF即使在最小的工作的工作环境也游刃有余，魅力十足。是适合SOHO或者办公室轻松使用的桌面打印机。
    </p>
    <h5><strong>无凹凸感、线条柔和、外观舒适的设计</strong></h5>
    <strong>美观的外形</strong>
    <p>同时体现与环境的和谐性及功能的便捷性，无凹凸感、线条柔和、外观舒适的造型能完美融合入任何环境。  </p>
    <strong>方便使用的设计</strong>
    <p>考虑到使用性的同时也追求美观的造型,操作面板简洁易操作，清晰地展示了各个功能，提高了用户使用机器的便捷性，体现了柯尼卡美能达产品的一贯特点。</p>



    <h5><strong>低噪音</strong></h5>
    <p>感光鼓托架和送纸托盘上作了降噪设计，大大改善了机器的作业声响。另外还改良了马达及缩小了感光鼓托架体积减轻了噪音的同时，使舒适的打印环境得以实现。</p>
    <img src="http://www.konicaminolta.com.cn/business/products/printers/multi/magicolor1690MF1680MF/img/stylish_003.gif" class="img-responsive center-block" />
    <p>*符合ISO7779的标准，在距离机器1米处，四个方向测定出的噪音的能量平均值。</p>
    <h5><strong>耗材也很紧凑小巧</strong></h5>
    <p>碳粉盒与柯尼卡美能达上一代机器magicolor2500系列相比，体积减小约40%。将转印带、感光鼓、废碳粉收集瓶一体化，耗材种类整体控制在5个。</p>
    <img src="http://www.konicaminolta.com.cn/business/products/printers/multi/magicolor1690MF1680MF/img/stylish_003.jpg" class="img-responsive center-block" />

    <h5><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span><strong>简单操作</strong></h5>
    <hr />

    <h5><strong>适合放置在任何位置的前端操作设计</strong></h5>
    <p>
        前端操作设计方便从机器正面进行更换耗材、用纸、处理卡纸等操作。由于不需要从左右及机器后方进行操作，故可以将机器放置于角落或紧贴墙壁放置。原先放置黑白激光打印机或喷墨打印机的任何地方均可放置该款机器。
        ※
        电源开关在机身侧面
        安装双面打印组件的情况除外
    </p>
    <img src="http://www.konicaminolta.com.cn/business/products/printers/multi/magicolor1690MF1680MF/img/operation_001.jpg" class="img-responsive center-block" />
    <h5><strong>购入后即可使用，只需简单安装</strong></h5>
    <p>墨盒、成像单元等耗材已经全部安装在主机上，购入后的安装程序十分简单。</p>
    <h5><strong>标配网络功能</strong></h5>
    <p>magicolor1690MF标配网络功能。不仅是Windows操作系统，即使在同时有Macintosh的办公环境中也可以轻松导入。</p>
    <h5><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span><strong>高画质</strong></h5>
    <hr />
    <h5><strong>Simitri HD碳粉成就高品质的输出</strong></h5>
    <p>
        直径极小且颗粒均匀的Simitri HD碳粉可以再现鲜明的线条和层次协调的美丽画质。无油定影使用户可以随意在打印件上书写、附便笺、盖章，非常适合商务文件。
        能耗降低约15%
        可以在多种媒介上实现高品质打印
        减少打印时的变形、卡纸等现象
        低熔点实现高速打印
        耐光性提高，不易褪色
    </p>
    <img src="http://www.konicaminolta.com.cn/business/products/printers/multi/magicolor1690MF1680MF/img/quality_001.jpg" class="img-responsive center-block" />
    <h5><strong>一个文件中的文字和图像均能美丽呈现</strong></h5>
    <p>具备独特的Object Segmentation技术。可将1页文件中的图像、图形和文本以各自最适合的方式进行自动优化处理。能够制作出文字清晰易读、图像流畅优美的彩色文档。</p>
    <img src="http://www.konicaminolta.com.cn/business/products/printers/multi/magicolor1690MF1680MF/img/quality_002.jpg" class="img-responsive center-block" />
    <h5><strong>AIDC技术实现稳定的高画质打印</strong></h5>
    <p>打印机内部的AIDC传感器可以自动检测转印带上的碳粉浓度，并将其维持在一个稳定的浓度上。采用独创的AIDC技术，还能实现长久以来一直很难实现的高光、阴影、中间色之间层次稳定的色彩再现。</p>

    <h5><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span><strong>复印功能</strong></h5>
    <hr />
    <h5><strong>能够大幅提高工作效率的高速复印</strong></h5>
    <p>预热时间在30秒以下。能够快速应对急需复印的情况。大量的文件也能快速复印，大大节省了等待复印的时间。</p>
    <h5><strong>大量文件也能简单操作快速复印</strong></h5>
    <p>magicolor 1690MF标配能够最多供纸35张A4尺寸的原稿的自动输稿器。大量的文件也能自动复印，有效利用了办公时间。</p>
    <h5><strong>多种复印功能</strong></h5>
    <p>
        多种复印功能能够满足柜台业务使用及店铺使用。在安装双面打印组件的情况下还能实现双面复印功能。
        在任何场合都能帮助实现业务效率和生产性的提高。
    </p>
    <strong>按份数复印</strong>
    <p>magicolor 1690MF多页的文件可以按份复印。便于制作会议资料。</p>
    <strong>ID卡复印</strong>
    <p>能够对身份证、驾照等ID卡进行双面复印。</p>

    <img src="http://www.konicaminolta.com.cn/business/products/printers/multi/magicolor1690MF1680MF/img/copy_001.gif" class="img-responsive center-block" />
    <strong>重复复印</strong>
    <p>可以将名片或会员卡之类的小尺寸原稿在A4纸上多次重复复印。</p>
    <img src="http://www.konicaminolta.com.cn/business/products/printers/multi/magicolor1690MF1680MF/img/copy_002.gif" class="img-responsive center-block" />
    <strong>海报复印</strong>
    <p>可将原稿纵横各扩大200%进行复印，分割为4份输出。</p>
    <img src="http://www.konicaminolta.com.cn/business/products/printers/multi/magicolor1690MF1680MF/img/copy_003.jpg" class="img-responsive center-block" />
    <h5><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span><strong>扫描功能</strong></h5>
    <hr />
    <h5><strong>可根据原稿分别使用的自动输稿器或稿台*</strong></h5>
    <p>
        标配有易于扫描多页资料的自动输稿器。由于可将大量文件一起进行扫描，实现了文件数字化的简单快捷。另外，如果在扫描原稿为薄纸、杂志等不易用自动输稿器送稿的情况下，可以方便地利用稿台进行扫描。
        * 仅限magicolor 1690MF
    </p>
    <h5><strong>支持TWAIN/WIA</strong></h5>
    <p>扫描驱动支持TWAIN/WIA。利用USB或者网络都可以轻松地将纸质文件数字化。</p>
    <h5><strong>纸质文件数字化，办公网络信息共享*</strong></h5>
    <p>
        与网络及电脑联动，共享多种信息。
        * 仅限magicolor 1690MF
    </p>
    <h5><strong>扫描至E-mail*</strong></h5>
    <p>
        通过网络将扫描后的数据发送至指定地址
        * 仅限magicolor 1690MF
    </p>
    <img src="http://www.konicaminolta.com.cn/business/products/printers/multi/magicolor1690MF1680MF/img/scan_002.gif" class="img-responsive center-block" />
    <h5><strong>扫描至FTP*</strong></h5>
    <p>
        将扫描后的数据上传至FTP服务器。可以通过其它的电脑进行下载
        * 仅限magicolor 1690MF
    </p>
    <img src="http://www.konicaminolta.com.cn/business/products/printers/multi/magicolor1690MF1680MF/img/scan_003.gif" class="img-responsive center-block" />
    <h5><strong>扫描至SMB*</strong></h5>
    <p>
        通过网络将扫描后的数据发送至指定电脑。（仅限于Windows系统）
        * 仅限magicolor 1690MF
    </p>
    <img src="http://www.konicaminolta.com.cn/business/products/printers/multi/magicolor1690MF1680MF/img/scan_004.gif" class="img-responsive center-block" />
    <h5><strong>扫描至USB存储器*</strong></h5>
    <p>
        将扫描后的数据保存至与主机USB接口连接的USB存储器
        * 仅限magicolor 1690MF
    </p>
    <img src="http://www.konicaminolta.com.cn/business/products/printers/multi/magicolor1690MF1680MF/img/scan_005.gif" class="img-responsive center-block" />
    <h5><strong>扫描至PC</strong></h5>
    <p>将扫描后的数据保存至通过USB连接的电脑（仅限于Windows系统）</p>
    <img src="http://www.konicaminolta.com.cn/business/products/printers/multi/magicolor1690MF1680MF/img/scan_006.gif" class="img-responsive center-block" />
    <h5><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span><strong>传真功能* 仅限magicolor 1690MF</strong></h5>
    <hr />
    <h5><strong>支持SuperG3模式的最新传真功能</strong></h5>
    <p>支持SuperG3传真规格，能够对进行收发的数据进行有效的压缩和解压。大容量的数据也可以高速地发送，节省通信成本。</p>
    <img src="http://www.konicaminolta.com.cn/business/products/printers/multi/magicolor1690MF1680MF/img/fax_001.gif" class="img-responsive center-block" />
    <h5><strong>支持传真的各种功能</strong></h5>
    <strong>常用地址/快速拨号</strong>
    <p>常用地址最多可注册20个号码，快速拨号最多可注册220个号码。</p>
    <strong>群发</strong>
    <p>依次向多个接收方自动发送传真文档。最多可依次发送236个地址。</p>
    <strong>群组拨号</strong>
    <p>可将已注册快速拨号的接收方分组，最多可注册20个群组。</p>
    <strong>传真自动切换功能</strong>
    <p>来电后自动检测是传真还是电话，外接电话机时可以进行设定。</p>
    <strong>存储接收功能</strong>
    <p>将设定时间内接收到的数据存储于内存中，达到设定时间点后输出。非常适合在夜间、清晨等需要避开数据收发提示音的时间使用。</p>

    <h5><strong>多种传真收发方式</strong></h5>

    <p>
        PC FAX
        通过电脑直接发送传真。省略了打印过程，可以节约纸张和碳粉消耗。（仅限于Windows系统）
    </p>
    <img src="http://www.konicaminolta.com.cn/business/products/printers/multi/magicolor1690MF1680MF/img/fax_002.gif" class="img-responsive center-block" />
    <p>
        传真转送至E-mail
        将接收到的传真发送至已登录的E-mail地址。可以通过电脑查看发至办公室的传真。
    </p>
    <img src="http://www.konicaminolta.com.cn/business/products/printers/multi/magicolor1690MF1680MF/img/fax_003.gif" class="img-responsive center-block" />
    <p>
        传真转送至传真
        将接收到的传真自动发送至已登录的其他传真号码。可以通过自己家中的传真机查看发至办公室的传真。
    </p>
    <img src="http://www.konicaminolta.com.cn/business/products/printers/multi/magicolor1690MF1680MF/img/fax_004.gif" class="img-responsive center-block" />
    <h5><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span><strong>经济&环保</strong></h5>
    <hr />
    <h5><strong>购置成本和运行成本都能令人满意的机型</strong></h5>
    <p>购置成本设定在个人使用容易接受的价位。使用新配置的经济性打印功能，能够在保证文字输出品质的同时，节省照片图片等彩色输出时对碳粉的消耗。如此一来，彩色打印功能简单易用，并能为用户提供有说服力的资料。</p>
    <h5><strong>彩色碳粉用完也无需担心</strong></h5>
    <p>彩色碳粉用完的情况下，只要黑色碳粉还有剩余就可以继续进行黑白文件的打印。急需的传真文件也可以照常接收。</p>
    <h5><strong>双面印刷可以减少用纸成本*</strong></h5>
    <p>
        通过安装选配的双面打印组件（A4/letter普通纸专用），可以进行双面打印。由此节省用纸的开销。另外，如果安装可选配的送纸组件（A4普通纸专用），最多可以容纳700张，省去了补充纸张的麻烦。
        * 仅限magicolor 1690MF
    </p>
    <img src="http://www.konicaminolta.com.cn/business/products/printers/multi/magicolor1690MF1680MF/img/eco_001.jpg" class="img-responsive center-block" />
    <h5><strong>小巧=环保</strong></h5>
    <p>柯尼卡美能达正在积极参与通过节省能源，资源进而改善办公环境乃至地球环境的活动。magicolor1690MF的每一个零部件都很小巧，大大节省了资源。另外，从制造开始到交货，直到产品的运送，整个流程中的各个环节二氧化碳的排出量都得到控制。</p>
    <h5><strong>符合国际能源之星标准的低能耗设计</strong></h5>
    <p>国际能源之星是为了保护地球环境，制定的办公自动化设备节能标准。magicolor1690MF 配置了"节电模式功能"，在一定时间内无打印作业的情况下，会自动抑制打印机主机的电力消耗，符合该节能标准。</p>
    <img src="http://www.konicaminolta.com.cn/business/products/printers/multi/magicolor1690MF1680MF/img/environment_pict004.gif" class="img-responsive center-block" />
</div>
<div class="table-responsive">
    <table class="table table-bordered table-condensed col-md-12 col-sm-12 col-xs-12">
        <tbody>
            <tr>
                <td rowspan="27" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">基本规格</td>
                <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">产品名称</td>
                <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">magicolor1690MF</td>
                <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">magicolor1680MF</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">内存</td>
                <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">128MB</td>
                <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">64MB</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">操作系统兼容</td>
                <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">Windows XP（32位╱64位）╱ Vista （32╱64位） ╱ Server 2003（32位╱64位）╱ Win7（32╱64位）╱ Server 2008（32位╱64位）╱ Server 2008 R2（64位）， Mac OS 10：4：11~OS 10：7</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">色彩</td>
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">全彩色</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">预热时间</td>
                <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">30秒以下※1</td>
            </tr>
            <tr>
                <td rowspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">供纸容量</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">标准纸盘</td>
                <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">200张（A4、普通纸）</td>
            </tr>
            <tr>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">选配纸盘</td>
                <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">500张（A4、普通纸）</td>
                <td style="vertical-align: top;">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">最大供纸容量</td>
                <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">700张</td>
                <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">200张</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">ADF进纸容量</td>
                <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">35张（216X356mm[传真模式为500mm]以内，重量：80g╱m2，无论张数多少，高度在6mm以下）</td>
                <td style="vertical-align: top;">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">ADF进纸种类</td>
                <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">普通纸（50~110g╱m2）</td>
                <td style="vertical-align: top;">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">出纸容量</td>
                <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">100张（普通纸、正面朝下）</td>
            </tr>
            <tr>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">纸张尺寸</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">标准纸盘</td>
                <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">A4，A5，B5（JIS），Legal，Executive，Letter，Envelope（C6╱DL），16开，32开，16K，自定义尺寸：仅支持普通纸（宽：92~216mmX长：184~297mm）</td>
            </tr>
            <tr>
                <td style="vertical-align: top; background-color: rgb(238, 238, 238);">&nbsp;</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">选配纸盘</td>
                <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">A4，letter</td>
                <td style="vertical-align: top;">&nbsp;</td>
            </tr>
            <tr>
                <td rowspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">纸张类型</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">标准纸盘</td>
                <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">普通纸、再生纸（60~90g╱m2）、厚纸※2（91~209g╱m2）、邮政明信片※3、标签用纸※4、信封※5</td>
            </tr>
            <tr>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">选配纸盘</td>
                <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">普通纸、再生纸（60~90g╱m2）</td>
                <td style="vertical-align: top;">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">最大可打印／复印区域</td>
                <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">上下左右约 4：2mm（不包括信封的封口部分）以内</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">双面打印／复印（选配）</td>
                <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">A4、letter／普通纸、再生纸（60~90g╱m2）</td>
                <td style="vertical-align: top;">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">接口</td>
                <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">以太网络（100BASE-TX╱10BASE-T）、USB 2：0（Hi-Speed）、Host USB（连接USB内存用）</td>
                <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">USB 2：0（Hi-Speed）</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">外形尺寸（长X宽X高）</td>
                <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">405X427X432mm</td>
                <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">405X427X375mm</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">重量</td>
                <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">约20：8kg（含耗材）</td>
                <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">约19：2kg（含耗材）</td>
            </tr>
            <tr>
                <td rowspan="3" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">噪音水平</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">复印</td>
                <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">52dB以下（使用ADF时）</td>
                <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">50dB以下</td>
            </tr>
            <tr>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">打印</td>
                <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">49dB以下</td>
                <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">50dB以下</td>
            </tr>
            <tr>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">待机</td>
                <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">38dB以下</td>
                <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">38dB以下</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">运行环境</td>
                <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">温度：10~35&deg;C 湿度：15~85%</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">电源</td>
                <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">220V~240V、50╱60Hz&plusmn;3Hz</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">耗电量</td>
                <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">最大耗电量：1060W以下；运行时平均耗电量：彩色410W、黑白560W以下；待机时：170W以下；节电模式时：14W以下</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">使用寿命</td>
                <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">整机寿命：5万页或5年（以先达到者为准）；扫描部件：扫描5万次</td>
            </tr>
            <tr>
                <td rowspan="6" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">打印功能</td>
                <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">打印方式</td>
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">激光电子成像</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">打印速度※6</td>
                <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">彩色：5页／分（A4纵向） 黑白：20页／分（A4纵向）</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">打印分辨率</td>
                <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">1200dpiX600dpi、600dpiX600dpi</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">首页打印时间※7</td>
                <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">彩色：23秒（A4纵向） 黑白：14秒（A4纵向）</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">平均月打印负荷</td>
                <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">550页</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">最大月打印负荷</td>
                <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">35，000页</td>
            </tr>
            <tr>
                <td rowspan="6" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">复印功能</td>
                <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">首页复印时间</td>
                <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">彩色（A4纵向、普通纸）：52秒 黑白（A4纵向、普通纸）：23秒</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">分辨率</td>
                <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">读取分辨率：最大600dpiX600dpi 写入分辨率：最大600dpiX600dpi</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">缩放比例</td>
                <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">25～200%（能够以1%为单位进行设定）</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">连续复印速度※6</td>
                <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">彩色：5页／分（A4纵向） 黑白：20页／分（A4纵向）</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">连续复印页数</td>
                <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">1～99页</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">复印精度</td>
                <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">Text／Photo／Mix／Text（Fine）／Photo（Fine）／Mix（Fine）</td>
            </tr>
            <tr>
                <td rowspan="11" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">扫描功能</td>
                <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">扫描形式</td>
                <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">A4平板彩色扫描（带ADF）</td>
                <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">A4平板彩色扫描</td>
            </tr>
            <tr>
                <td rowspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">读取速度</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">彩色</td>
                <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">9：94mm／秒（600x600dpi）、19：88mm／秒（600x300dpi）</td>
            </tr>
            <tr>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">黑白</td>
                <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">29：81mm／秒（600x600dpi）、59：62mm／秒（600x300dpi）</td>
            </tr>
            <tr>
                <td rowspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">光学分辨率</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">使用稿台时</td>
                <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">彩色：600dpiX600dpi、600dpiX300dpi 黑白：600dpiX600dpi、600dpiX300dpi</td>
            </tr>
            <tr>
                <td style="font-weight: bold; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">使用ADF时</td>
                <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">彩色：600dpiX300dpi 黑白：600dpiX300dpi、300dpiX300dpi</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">软件插值分辨率</td>
                <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">150dpiX150dpi、300dpiX300dpi、600dpiX600dpi、1200dpiX1200dpi、2400dpiX2400dpi、4800dpiX4800dpi（使用TWAIN驱动时）</td>
            </tr>
            <tr>
                <td rowspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">最大纸张尺寸</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">使用稿台时</td>
                <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">宽：216mmX长：297 mm</td>
            </tr>
            <tr>
                <td style="font-weight: bold; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">使用ADF时</td>
                <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">宽：216mmX长：356 mm</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">输出灰度</td>
                <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">输入输出均为8位RGB</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">驱动※8</td>
                <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">TWAIN、WIA</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">图像传送功能</td>
                <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">扫描至E-mail※9、扫描至FTP、扫描至SMB、扫描至USB存储器※10，扫描至PC（使用LinkMagic软件）</td>
            </tr>
            <tr>
                <td rowspan="13" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">传真功能</td>
                <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">适用线路</td>
                <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">公共线路（PSTN）、内部线路（PBX）</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">扫描线密度</td>
                <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">超精细模式：203dpiX392dpi 精细模式：203dpiX196dpi 标准模式：203dpiX98dpi</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">通信速度</td>
                <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">最大33：6Kbps</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">编码方式</td>
                <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">MH╱MR╱MMR╱JBIG</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">通信模式</td>
                <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">ECM╱Super G3</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">最大发送原稿尺寸</td>
                <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">使用稿台时 宽：216mmX长：297mm 使用ADF时 宽：216mmX长：500mm</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">传真尺寸</td>
                <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">A4／Letter／Legal</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">传真时间</td>
                <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">3秒╱页※11</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">地址注册</td>
                <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">快速拨号：220个 常用地址：20个 依次群发：最多236个</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">号码显示</td>
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">－</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">PC FAX</td>
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">支持（只限发送）</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">TEL╱FAX自动切换</td>
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">支持</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">存储接收</td>
                <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">6M（最多约384页）※12</td>
            </tr>
        </tbody>
    </table>
</div>

<table class="table table-bordered table-condensed col-md-12 col-sm-12 col-xs-12">
    <tbody>
        <tr>
            <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">产品编号</td>
            <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">产品名称</td>
            <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">产品规格</td>
        </tr>
        <tr>
            <td rowspan="8" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">耗材</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">A0V305N</td>
            <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">标准容量碳粉盒※黄色（Y）</td>
            <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">可打印约1500页（A4╱5%覆盖率连续打印※）</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">A0V30AN</td>
            <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">标准容量碳粉盒※品红色（M）</td>
            <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">可打印约1500页（A4╱5%覆盖率连续打印※）</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">A0V30GN</td>
            <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">标准容量碳粉盒※青色（C）</td>
            <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">可打印约1500页（A4╱5%覆盖率连续打印※）</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">A0V306N</td>
            <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">高容量碳粉盒※黄色（Y）</td>
            <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">可打印约2500页（A4╱5%覆盖率连续打印※）</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">A0V30CN</td>
            <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">高容量碳粉盒※品红色（M）</td>
            <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">可打印约2500页（A4╱5%覆盖率连续打印※）</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">A0V30HN</td>
            <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">高容量碳粉盒※青色（C）</td>
            <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">可打印约2500页（A4╱5%覆盖率连续打印※）</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">A0V301N</td>
            <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">碳粉盒※黑色（BK）</td>
            <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">可打印约2500页（A4╱5%覆盖率连续打印※）</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">A0VU0Y1</td>
            <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">感光鼓</td>
            <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">可打印约黑色45000页或彩色11250页（A4╱5%覆盖率连续打印※）</td>
        </tr>
        <tr>
            <td rowspan="3" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">选购件</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">A0VP002</td>
            <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">底部进纸单元</td>
            <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">支持A4纸张（最多可选配一个）</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">A0VT001</td>
            <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">双面单元</td>
            <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">已选购安装底部进纸单元后使用</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">A0VT002</td>
            <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">双面单元、附加件</td>
            <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">未选购安装底部进纸单元时使用</td>
        </tr>
    </tbody>
</table>
