特性：
<div>
    <h5><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span><strong>标配GDI打印功能</strong></h5>
    <p>pagepro 6180e能够从PC进行最大至A3的文件打印。其打印速度可为16页/分钟。</p>
    <h5><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span><strong>多合一输出</strong></h5>
    <p>这个功能可以让您在单页上打印2，4，6，9或16页的页面，减少了原本打印所需要使用的大量纸张。</p>
    <h5><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span><strong>超高画质的Simitri HD高清晰聚合碳粉</strong></h5>
    <p>相比于传统碳粉，柯尼卡美能达Simitri HD高清晰聚合碳粉颗粒更小，更均匀，可清晰再现文本和精细的灰阶。该碳粉定影温度低，可加快输出速度、降低能耗和减少纸张卷曲。</p>
    <img src="http://www.konicaminolta.com.cn/business/products/printers/a3multi/pagepro_6180e/img/6180e_003.jpg" class="img-responsive center-block" />
    <img src="http://www.konicaminolta.com.cn/business/products/printers/a3multi/pagepro_6180e/img/6180e_002.jpg" class="img-responsive center-block" />
    <h5><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span><strong>便捷的身份证复印功能</strong></h5>
    <p>pagepro 6180e三合一输出系统，集打印，复印和扫描功能与一身。其方便的身份证复印功能可在单张之上复印小尺寸文档的两面，因此可节约纸张，是复印护照、身份证等证件的理想之选。对于标准尺寸文档，本机最多可在一张纸张复印4页文档或打印16页文档。</p>
    <img src="http://www.konicaminolta.com.cn/business/products/printers/a3multi/pagepro_6180e/img/6180e_005.jpg" class="img-responsive center-block" />
    <h5><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span><strong>人性化的操作</strong></h5>
    <p>pagepro 6180e的操作面板采用人性化设计，配以用户熟悉的光标键配置和导航功能，非常直观易用。用户可从机器正面快速、方便地更换碳粉和补充纸张。此外，将多数纸路集中于主机右手侧的设计简化了偶尔出现卡纸时的清除操作步骤。</p>
    <img src="http://www.konicaminolta.com.cn/business/products/printers/a3multi/pagepro_6180e/img/6180e_004.jpg" class="img-responsive center-block" />
    <h5><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span><strong>标配扫描功能</strong></h5>
    <p>pagepro 6180e通过使用USB电缆直接与PC相连后，能够扫描包括书本页面在内的原稿，最大尺寸可达A3。通过扫描，可以方便纸张文档电子化储存。</p>
</div>
规格：
<h5><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span><strong>pagepro 6180e基本规格</strong></h5>
<table class="table table-bordered table-condensed col-md-12 col-sm-12 col-xs-12">
    <tbody>
        <tr>
            <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">产品名称</td>
            <td style="vertical-align: top;">pagepro 6180e</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">内存</td>
            <td style="vertical-align: top;">32MB</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">灰阶</td>
            <td style="vertical-align: top;">256</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">预热时间</td>
            <td style="vertical-align: top;">低于29秒</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">原稿类型</td>
            <td style="vertical-align: top;">纸张，书本</td>
        </tr>
        <tr>
            <td rowspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">供纸容量</td>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">标准纸盒</td>
            <td style="vertical-align: top;">250张</td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">手送纸盒</td>
            <td style="vertical-align: top;">100张</td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">纸张尺寸</td>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">标准纸盒</td>
            <td style="vertical-align: top;">A3-A5</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">纸张克量</td>
            <td style="vertical-align: top;">64-157g/m2</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">最大可打印╱复印区域</td>
            <td style="vertical-align: top;">距离顶部╱底部╱右侧╱左侧边缘各约4mm</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">外形尺寸（长&times;宽&times;高）</td>
            <td style="vertical-align: top;">570&times;531&times;449mm</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">重量</td>
            <td style="vertical-align: top;">23.5kg</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">电源</td>
            <td style="vertical-align: top;">220-240v，3.5A（50/60Hz）</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">耗电量</td>
            <td style="vertical-align: top;">800kw或更低</td>
        </tr>
    </tbody>
</table>

<h5><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span><strong>打印功能</strong></h5>
<table class="table table-bordered table-condensed col-md-12 col-sm-12 col-xs-12">
    <tbody>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">打印速度</td>
            <td style="vertical-align: top;">16ppm</td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">分辨率</td>
            <td style="vertical-align: top;">600dpi&times;600dpi</td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">支持的操作系统</td>
            <td style="vertical-align: top;">
                Windows Server 2008╱Server 2008 64bit╱Vista╱Vista 64bit╱7╱7 64bit╱8╱8 64bit╱8.1╱8.1 64bit
                Red Hat Enterprise Linux 5(CUPS Ver1.2.4)╱Red Hat Enterprise Linux5(CUPS Ver1.2.4) 64bit
                SUSE Linux Enterprise Desktop(CUPS Ver1.1.23)
                SUSE Linux Enterprise Desktop(CUPS Ver1.1.23) 64bit
            </td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">接口</td>
            <td style="vertical-align: top;">USB1.1╱2.0</td>
        </tr>
    </tbody>
</table>

<h5><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span><strong>复印功能</strong></h5>
<table class="table table-bordered table-condensed col-md-12 col-sm-12 col-xs-12">
    <tbody>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">首页复印时间</td>
            <td style="vertical-align: top;">低于8秒</td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">分辨率</td>
            <td style="vertical-align: top;">读取分辨率：最大600dpi&times;600dpi</td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">缩放比例</td>
            <td style="vertical-align: top;">可在50-200%之间调整（以1%为增量）</td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">连续复印速度</td>
            <td style="vertical-align: top;">16页╱分钟</td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">连续复印页数</td>
            <td style="vertical-align: top;">1-99张</td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">原稿类型</td>
            <td style="vertical-align: top;">纸张，书本</td>
        </tr>
    </tbody>
</table>

<h5><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span><strong>扫描功能</strong></h5>
<table class="table table-bordered table-condensed col-md-12 col-sm-12 col-xs-12">
    <tbody>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">类型</td>
            <td style="vertical-align: top;">台式扫描仪</td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">驱动程序</td>
            <td style="vertical-align: top;">TWAIN</td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">扫描尺寸</td>
            <td style="vertical-align: top;">最大A3</td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">扫描分辨率</td>
            <td style="vertical-align: top;">150dpi&times;150dpi，300dpi&times;300dpi，600dpi&times;600dpi</td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">支持的操作系统</td>
            <td style="vertical-align: top;">
                Windows Server 2008 Standard╱Server 2008 Standard 64bit╱Server 2008 R2 64bit
                Vista(SP2 later)╱Vista(SP2 later) 64bit╱7╱7 64bit╱8╱8 64bit╱8.1╱8.1 64bit
                Server 2012 64bit╱Server 2012 R2 64bit
            </td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">接口</td>
            <td style="vertical-align: top;">USB1.1╱2.0</td>
        </tr>
    </tbody>
</table>

<h5><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span><strong>主机</strong></h5>
<table class="table table-bordered table-condensed col-md-12 col-sm-12 col-xs-12">
    <tbody>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">产品名称</td>
            <td style="vertical-align: top;">pagepro 6180e</td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">产品说明</td>
            <td style="vertical-align: top;">
                输出速度：16页╱分钟
                标配：打印、复印、扫描、32MB内存、单纸盒250张纸、手送托盘、USB打印线、碳粉一套
            </td>
        </tr>
    </tbody>
</table>

耗材：
<table class="table table-bordered table-condensed col-md-12 col-sm-12 col-xs-12">
    <tbody>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">碳粉</td>
            <td style="vertical-align: top;">可打印约5000页（A4╱5%覆盖率连续打印时）</td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">载体</td>
            <td style="vertical-align: top;">可打印约55000页（A4╱5%覆盖率连续打印时）</td>
        </tr>
        <tr>
            <td style="font-weight: bold; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">鼓组件</td>
            <td style="vertical-align: top;">可打印约55000页（A4╱5%覆盖率连续打印时）</td>
        </tr>
    </tbody>
</table>
