<div class="panel panel-default">
    <div class="panel-heading">【1】高效办公</div>
    <div class="panel-body">
        <h5><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span><strong>复印功能 COPY</strong></h5>
        <hr />
        <h5><strong>实用复印</strong></h5>
        <p>2合1、4合1复印功能，可以将多页原稿复印在一页纸上，使用该功能可大大减少纸张的浪费，缩减办公成本。</p>
        <img src="http://www.konicaminolta.com.cn/business/products/printers/multi/pagepro1580mf1590mf/img/pic01.jpg" class="img-responsive center-block" />
        <p>可以将身份证及各类卡证件的正反面方便快捷的复印在同一张纸上。</p>
        <img src="http://www.konicaminolta.com.cn/business/products/printers/multi/pagepro1580mf1590mf/img/pic02.jpg" class="img-responsive center-block" />
        <h5><strong>高效率复印</strong></h5>
        <p>首页复印速度为12秒，能够快速对应急需复印的情况。复印输出速度为分别为每分钟20页和每分钟24页，大量的文件也能快速复印，大大提高了复印的效率。</p>
        <img src="http://www.konicaminolta.com.cn/business/products/printers/multi/pagepro1580mf1590mf/img/pic03.jpg" class="img-responsive center-block" />
        <h5><strong>多原稿自动复印</strong></h5>
        <p>pagepro 1590MF标配自动输稿器，最多能够支持35页A4尺寸的原稿，大量的文件也能自动复印，有效节省人力及时间。*仅限pagepro 1590MF</p>
        <img src="http://www.konicaminolta.com.cn/business/products/printers/multi/pagepro1580mf1590mf/img/pic04.jpg" class="img-responsive center-block" />
        <h5><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span><strong>打印功能 PRINT</strong></h5>
        <hr />
        <h5><strong>多种打印模式</strong></h5>
        <p>2合1、4合1复印功能，可以将多页原稿复印在一页纸上，使用该功能可大大减少纸张的浪费，缩减办公成本。</p>
        <img src="http://www.konicaminolta.com.cn/business/products/printers/multi/pagepro1580mf1590mf/img/pic05.jpg" class="img-responsive center-block" />
        <h5><strong>直观便捷打印设置</strong></h5>
        <p>可自行编辑打印配置文件，能快速获得打印作业最佳设置。
打印设置界面配有图片预览效果，可直观的显示目前的打印设置情况，减少打印错误。</p>
        <img src="http://www.konicaminolta.com.cn/business/products/printers/multi/pagepro1580mf1590mf/img/pic06.jpg" class="img-responsive center-block" />
        <h5><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span><strong>扫描功能 SCAN</strong></h5>
        <hr />
        <h5><strong>支持各种传真作业功能</strong></h5>
        <p>一键式拨号：最多可预存8个号码，按下操作面板上相应的按键即可实现一键拨号，方便快捷。
快速拨号：最多可以预存200个号码，实现快速拨号。
群组拨号：可将已注册快速拨号的接收方分组，最多可注册20个群组。</p>
        <p>储存接受：可用于将收到的传真储存到设备的内存中，最多可以储存400页（仅黑白），使用远程检索命令，即可从其他传真设备检索已存储的传真信息。</p>
        <p>PC-FAX：通过软件可以在电脑上收/发传真，在发送传真之前还可以对发送对象进行剪裁，也可将接收的传真文件以TIFF等格式储存到PC，实现无纸化传真。通过软件可以将接收的传真按需求同时打印和储存电子文档。
*
仅限pagepro 1590MF</p>
        <img src="http://www.konicaminolta.com.cn/business/products/printers/multi/pagepro1580mf1590mf/img/pic08.jpg" class="img-responsive center-block" />
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">【2】通用设计</div>
    <div class="panel-body">

    </div>
</div>
规格：



<table class="table table-bordered table-condensed col-md-12 col-sm-12 col-xs-12">
    <tbody>
        <tr>
            <td colspan="3" style="vertical-align: top; background-color: rgb(238, 238, 238);">&nbsp;</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">pagepro 1580MF</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">Pagepro1590MF</td>
        </tr>
        <tr>
            <td rowspan="7" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">常规规格</td>
            <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">内存容量</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">16MB</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">32MB</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">LCD（液晶显示屏）</td>
            <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">10个字符x2行</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">电源</td>
            <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">220~240V AC 50╱60Hz</td>
        </tr>
        <tr>
            <td rowspan="2" style="font-weight: bold; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">耗电量1</td>
            <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">工作时（平均）</td>
            <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">445W（25℃）</td>
        </tr>
        <tr>
            <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">准备就绪时（平均）</td>
            <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">55W（25℃）</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">尺寸（长x宽x高）</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">405x398.5x268mm</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">477x398.5x316mm</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">重量（含耗材）</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">9.8kg</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">11.7kg</td>
        </tr>
        <tr>
            <td rowspan="11" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">纸张处理</td>
            <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">ADF</td>
            <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">无</td>
            <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">35页（80g╱㎡）</td>
        </tr>
        <tr>
            <td rowspan="4" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">纸张输入纸盒</td>
            <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">纸张类型</td>
            <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">普通纸、薄纸、再生纸</td>
        </tr>
        <tr>
            <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">纸张尺寸</td>
            <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">Letter、A4、B5（ISO╱JIS）、A5、A5（长边）、A6、Executive</td>
        </tr>
        <tr>
            <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">纸张重量</td>
            <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">60~105g╱㎡</td>
        </tr>
        <tr>
            <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">纸盒最大容量</td>
            <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">最多250张80g╱㎡的普通纸</td>
        </tr>
        <tr>
            <td rowspan="4" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">纸张输入手动进纸槽</td>
            <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">纸张类型</td>
            <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">普通纸、信封、标签2、薄纸、厚纸、较厚纸、再生纸、铜版纸</td>
        </tr>
        <tr>
            <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">纸张尺寸</td>
            <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">宽度：76.2~220mm ；长度：116~406.4mm</td>
        </tr>
        <tr>
            <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">纸张重量</td>
            <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">60~163g╱㎡</td>
        </tr>
        <tr>
            <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">纸盒最大容量</td>
            <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">1张</td>
        </tr>
        <tr>
            <td rowspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">纸张输出</td>
            <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">正面向下出纸托板</td>
            <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">最多100张</td>
        </tr>
        <tr>
            <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">正面向上出纸托板</td>
            <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">1张（后出纸托板）</td>
        </tr>
        <tr>
            <td rowspan="6" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">复印规格</td>
            <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">彩色╱黑白</td>
            <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">黑白</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">复印宽度</td>
            <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">最大204mm</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">复印多页</td>
            <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">最多可堆叠99页</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">缩小╱放大</td>
            <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">25%~400%（以1%为单位增加或减少）</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">分辨率</td>
            <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">最高600x600dpi</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">首次复印时间</td>
            <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">少于12秒</td>
        </tr>
        <tr>
            <td rowspan="7" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">扫描规格</td>
            <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">彩色扫描</td>
            <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">支持</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">TWAIN兼容</td>
            <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">是（Windows XP╱XP专业版x64版本╱ Vista╱7），Mac OS X 10.5.8╱10.6.x╱10.7.x</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">WIA兼容</td>
            <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">是（Windows XP╱Vista╱7）</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">色彩深度</td>
            <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">48位内部╱24位外部色彩</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">分辨率3</td>
            <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">最高600x2400dpi（光学）（从平板扫描到PC）</td>
            <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">最高600x2400dpi（光学）（从平板扫描到PC）最高600x600dpi（光学）（从ADF扫描到PC）</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">扫描宽度</td>
            <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">最大210mm</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">灰度级别</td>
            <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">256级</td>
        </tr>
        <tr>
            <td rowspan="7" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">打印规格</td>
            <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">分辨率</td>
            <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">600x600dpi、HQ1200质量</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">打印速度4</td>
            <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">最快20页╱分钟（A4尺寸）</td>
            <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">最快24页╱分钟（A4尺寸）</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">打印语言</td>
            <td colspan="2" style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">GDI</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">首次打印时间</td>
            <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">少于10.0秒</td>
            <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">少于8.5秒</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">预热时间</td>
            <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">7秒（从睡眠模式）</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">接口</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">USB 2.05</td>
            <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">USB 2.05，以太网口</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">操作系统</td>
            <td colspan="2" style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">Windows XP╱XP专业版x64版本╱Vista╱7╱Server 2003╱Server 2003x64╱Server 2008╱Server 2008 R2╱Mac OS X 10.5.8╱10.6.x╱10.7.x</td>
        </tr>
        <tr>
            <td rowspan="10" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">传真规格</td>
            <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">兼容性</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">&mdash;</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">Group 3</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">调制解调器速度</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">&mdash;</td>
            <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">自动降速：14.4Kbps</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">灰度级别</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">&mdash;</td>
            <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">8位╱256级</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">单键拨号</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">&mdash;</td>
            <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">8（4x2）</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">速拨号</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">&mdash;</td>
            <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">200个站点</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">群组</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">&mdash;</td>
            <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">最多8个</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">多址发送</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">&mdash;</td>
            <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">258个站点</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">自动重拨</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">&mdash;</td>
            <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">以5分钟为间隔，重拨3次</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">内存传输</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">&mdash;</td>
            <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">最多400页6</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">无纸接受</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">&mdash;</td>
            <td style="font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">最多400页6</td>
        </tr>
    </tbody>
</table>



<table class="table table-bordered table-condensed col-md-12 col-sm-12 col-xs-12">
    <tbody>
        <tr>
            <td rowspan="4" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">耗材</td>
            <td rowspan="3" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">墨粉盒7</td>
            <td style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">初始容量</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">1,000页</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">1,200页</td>
        </tr>
        <tr>
            <td style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">标准容量</td>
            <td colspan="2" style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">1,200页</td>
        </tr>
        <tr>
            <td style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">高容量</td>
            <td colspan="2" style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">2,600页</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">硒鼓单元8</td>
            <td colspan="2" style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">12,000页</td>
        </tr>
    </tbody>
</table>



