特性
<div class="panel panel-default">
    <div class="panel-heading">【1】高性能设计为用户带来更高工作效率</div>
    <div class="panel-body">
        <h4><span class="glyphicon glyphicon-hand-right text-danger"></span>每分钟30页高速输出</h4>
        <hr />
        <p>ECOSYS M6530cdn可实现每分钟30页的黑白彩色同速输出，在帮助用户呈现精美打印效果的同时实现高速打印。另外，ECOSYS M6530cdn标配的双面打印功能也能为现代化办公带来更高效率。</p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/a4multifunction/m6530cdn/pic_01.jpg" class="img-responsive center-block" />
        <h4><span class="glyphicon glyphicon-hand-right text-danger"></span>快速的反应时间</h4>
        <hr />
        <p>在紧急情况下，能否快速处理文件输出显得尤为重要，ECOSYS M6530cdn首张打印时间黑白7秒钟，彩色8.5秒钟；预热时间为26秒钟。这些都有助于缩短用户的等待时间，帮助他们提高办公效率。</p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/a4multifunction/m6530cdn/pic_02.jpg" class="img-responsive center-block" />
        <h4><span class="glyphicon glyphicon-hand-right text-danger"></span>不停机打印</h4>
        <hr />
        <p>ECOSYS M6530cdn允许用户在彩粉耗尽的情况下仍可进行黑白文件的输出且最多可输出30张。这一点对于那些没有备用彩粉而又必须进行输出作业的用户来说非常实用。</p>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">【2】丰富的功能配置帮助用户轻松完成日常工作</div>
    <div class="panel-body">
        <h4><span class="glyphicon glyphicon-hand-right text-danger"></span>标配双面自动输稿器</h4>
        <hr />
        <p>用户可通过ECOSYS M6530cdn标配的双面输稿器直接进行A6尺寸原稿的双面扫描，有效提高了用户的工作效率。</p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/a4multifunction/m6530cdn/pic_08.jpg" class="img-responsive center-block" />
        <h4><span class="glyphicon glyphicon-hand-right text-danger"></span>可选配手动装订器</h4>
        <hr />
        <p>ECOSYS M6530cdn可以通过选购配置一个小型手动装订器，以满足用户的装订需求，提高工作效率。</p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/a4multifunction/m6530cdn/pic_09.jpg" class="img-responsive center-block" />
        <h4><span class="glyphicon glyphicon-hand-right text-danger"></span>个人打印</h4>
        <hr />
        <p>ECOSYS M6530cdn在现有标配内存的情况下，支持个人打印功能。个人打印允许用户在电脑上设置PIN码，然后在打印设备上正确输入PIN码后，才输出打印文件，以此来加强打印作业的安全性。</p>
        <h4><span class="glyphicon glyphicon-hand-right text-danger"></span>彩色覆盖率分级计数</h4>
        <hr />
        <p>ECOSYS M6530cdn支持碳粉覆盖率的分级计数功能，三个级别是：低覆盖率、中覆盖率和高覆盖率。据此，经销商可更合逻辑的根据用户实际的碳粉消耗进行计数收费。</p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/a4multifunction/m6530cdn/pic_03.jpg" class="img-responsive center-block" />

    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">【3】智能搭载解决方案，改善工作流程</div>
    <div class="panel-body">
        <h4><span class="glyphicon glyphicon-hand-right text-danger"></span>KYOCERA Net Manager（选购）</h4>
        <hr />
        <p>
            KYOCERA Net Manager（KNM）是一款可以对打印、复印作业进行统计监测的简便软件。另外，它还允许用户进行安全打印，跟随打印，生成及输出报表，打印作业的用户管理，多系统的打印连接等等。

            ● KNM通过设置用户权限支持敏感文件的安全输出；
            ● KNM支持用户随心使用网络上任何一台打印机进行输出；
            ● KNM通过定期设置每位用户的打印数量及打印成本从而可以实现成本管控。
        </p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/a4multifunction/m6530cdn/pic_04.jpg" class="img-responsive center-block" />
        <h4><span class="glyphicon glyphicon-hand-right text-danger"></span>KYOCERA Mobile Print</h4>
        <hr />
        <p>通过京瓷手机打印应用，ECOSYS M6530cdn允许用户在办公室里直接使用智能手机和平板电脑进行打印和扫描。</p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/a4multifunction/m6530cdn/pic_05.jpg" class="img-responsive center-block" />

        <p>另外，ECOSYS M6530cdn支持苹果手机和平板电脑用户，使用 AirPrint功能进行打印。</p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/a4multifunction/m6530cdn/pic_06.jpg" class="img-responsive center-block" />

    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">【4】卓越的环保性能</div>
    <div class="panel-body table-responsive">
        <h4><span class="glyphicon glyphicon-hand-right text-danger"></span>静音设计</h4>
        <hr />
        <p>ECOSYS M6530cdn通过技术改良有效减少了工作时噪音的产生，为用户提供了一个更舒适更安静的办公环境。静音模式开启后，可以有效降低噪音5-6dB(A)。</p>
        <table class="table table-condensed col-md-12 col-xs-12">
            <tr>
                <td>型号</td>
                <td></td>
                <td>
                    打印
                    高速→ 静音
                </td>
            </tr>
            <tr>
                <td>ECOSYS M6530cdn</td>
                <td>
                    声压
                    (速度)
                </td>
                <td>
                    49.5→45dB(A)
                    (30→15ppm)
                </td>
            </tr>
        </table>
        <p>※当静音模式开启时，相应打印速度也会降低。</p>
        <h4><span class="glyphicon glyphicon-hand-right text-danger"></span>20万页长寿命PSLP感光鼓</h4>
        <hr />
        <p>基于京瓷产品设计理念，ECOSYS M6530cdn采用了京瓷独有的长寿命技术感光鼓，使用寿命长达20万页，极大降低了用户的总体拥有成本。</p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/a4multifunction/m6530cdn/pic_07.jpg" class="img-responsive center-block" />

    </div>
</div>
规格
<div class="table-responsive">
    <h4><span class="glyphicon glyphicon-hand-right text-danger"></span>主要规格</h4>
    <hr />
    <table class="table table-bordered table-condensed col-md-12 col-xs-12">
        <tbody>
            <tr class="active">
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">型号</td>
                <td>&nbsp;</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">ECOSYS M6530cdn</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">主要功能</td>
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">复印、打印、扫描、传真</td>
            </tr>
            <tr class="warning">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">CPU</td>
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">PowerPC 465S 1GHz</td>
            </tr>
            <tr class="success">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">打印速度(A4，黑白/彩色)</td>
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">30/30页/分钟</td>
            </tr>
            <tr class="error">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">
                    扫描速度<br />
                    (A4 300dpi<br />
                    黑白/彩色)
                </td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">单面</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">40/30页/分钟</td>
            </tr>
            <tr class="info">
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">双面</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">17/13页/分钟</td>
            </tr>
            <tr class="active">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">内存</td>
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">标配1GB(最大2GB)</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">纸张容量</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">标配</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">250张&times;1(纸盒)+100张(手送)</td>
            </tr>
            <tr class="warning">
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">最大</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">1850张(主机+PF-5100&times;3+手送)</td>
            </tr>
            <tr class="success">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">纸张尺寸</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">标配</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">最小A6R &mdash; 最大A4(Legal)</td>
            </tr>
            <tr class="error">
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">选购</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">最小A5R &mdash; 最大A4(Legal)</td>
            </tr>
            <tr class="info">
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">手送</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">最小A6R &mdash; 最大A4(Legal)</td>
            </tr>
            <tr class="active">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">纸张重量</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">标配</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">60 &mdash; 163 g/m2</td>
            </tr>
            <tr class="danger">
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">选购</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">60 &mdash; 220 g/m2</td>
            </tr>
            <tr class="warning">
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">手送</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">60 &mdash; 220 g/m2</td>
            </tr>
            <tr class="success">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">双面打印</td>
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">
                    纸张尺寸：A5R &mdash; A4/Legal;<br />
                    纸张重量：60 &mdash; 163 g/m2
                </td>
            </tr>
            <tr class="error">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">输出纸张容量</td>
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">最大250张，正面朝下</td>
            </tr>
            <tr class="info">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">操作面板</td>
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">5行LCD</td>
            </tr>
            <tr class="active">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">输稿器</td>
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">标配(最大75张，自动翻转双面)</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">
                    能耗<br />
                    (标准配置)
                </td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">复印/打印 模式</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">510W/502W</td>
            </tr>
            <tr class="success">
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">待机模式</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">57W</td>
            </tr>
            <tr class="error">
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">睡眠模式</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">2.1W</td>
            </tr>
            <tr class="info">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">
                    噪音<br />
                    (ISO7779/<br />
                    ISO9296)
                </td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">打印模式</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">49.5dB(A)</td>
            </tr>
            <tr class="active">
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">待机模式</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">30dB(A)</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">体积(宽&times;深&times;高)(主机)</td>
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">475mm&times;558mm&times;616mm</td>
            </tr>
            <tr class="warning">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">重量(主机)</td>
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">约34.7kg</td>
            </tr>
        </tbody>
    </table>

    <h4><span class="glyphicon glyphicon-hand-right text-danger"></span> 复印功能(标配)</h4>
    <hr />
    <table class="table table-bordered table-condensed col-md-12 col-xs-12">
        <tbody>
            <tr class="active">
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">类型</td>
                <td>&nbsp;</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">ECOSYS M6530cdn</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">原稿尺寸</td>
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">最大A4(Legal)&mdash; 最小A6R</td>
            </tr>
            <tr class="warning">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">分辨率</td>
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">600&times;600dpi</td>
            </tr>
            <tr class="success">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">首张复印时间 (黑白/彩色)</td>
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">9.5秒/11.5秒</td>
            </tr>
            <tr class="error">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">缩放倍率</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">手动</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">25% &mdash; 400%(1%为单位)</td>
            </tr>
            <tr class="info">
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">预设</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">7级缩小/5级放大</td>
            </tr>
            <tr class="active">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">连续复印张数</td>
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">1 &mdash; 999</td>
            </tr>
        </tbody>
    </table>

    <h4><span class="glyphicon glyphicon-hand-right text-danger"></span>打印功能(标配)</h4>
    <hr />
    <table class ="table table-bordered table-condensed col-md-12 col-xs-12">
        <tbody>
            <tr class="active">
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">类型</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">ECOSYS M6530cdn</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">分辨率</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">600&times;600dpi; 9600&times;600dpi级</td>
            </tr>
            <tr class="warning">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">PDL</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">PRESCRIBE, PCL6(PCL5c, PCL-XL), KPDL3(Postscript 3兼容)， 1.7版本PDF直接打印, XPS</td>
            </tr>
            <tr class="success">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">支持的协议</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">TCP/IP, FTP, LPR, Port9100, IPP, IPP over SSL/TLS, NetBEUI, WSD Print, Apple Bonjour</td>
            </tr>
            <tr class="error">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">支持的操作系统</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">Windows Server 2003,Windows Server 2008,Windows Server 2008 R2,Windows Server 2012,Windows Server 2012 R2, Windows XP, Windows Vista, Windows 7,Windows 8, Windows 8.1; Apple Macintosh OS X 10.5 or later; Linux</td>
            </tr>
            <tr class="info">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">标准接口</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">高速USB2.0&times;1；以太网10BASE-T/100BASE-TX/1000BASE-T; USB主机&times;2</td>
            </tr>
            <tr class="active">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">USB 打印</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">标配(格式：TIFF, JPEG, PDF，XPS)</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">e-mail 打印</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">标配</td>
            </tr>
            <tr class="warning">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">手机打印</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">AirPrint, Mopria, KYOCERA Mobile Print</td>
            </tr>
        </tbody>
        </table>

        <h4><span class="glyphicon glyphicon-hand-right text-danger"></span>扫描功能(标配)</h4>
        <hr />
    <table class="table table-bordered table-condensed col-md-12 col-xs-12">
        <tbody>
            <tr class="active">
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">类型</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">ECOSYS M6530cdn</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">色彩类型</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">ACS、全彩、灰度扫描、黑白</td>
            </tr>
            <tr class="warning">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">分辨率</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">600dpi/400dpi/300dpi/200dpi/200&times;400dpi/200&times;100dpi</td>
            </tr>
            <tr class="success">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">文件格式</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">TIFF/JPEG/XPS/OpenXPS/PDF(MMR/JPG压缩、高压缩PDF), PDF/A, 加密PDF</td>
            </tr>
            <tr class="error">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">原稿类型</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">文本，图像，文本+图像</td>
            </tr>
            <tr class="info">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">扫描类型</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">扫描至SMB; 扫描至E-mail; 扫描至FTP或FTP over SSL; 扫描至USB; TWAIN扫描；WSD扫描；WIA</td>
            </tr>
            <tr class="active">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">存储地址</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">100个地址(公共地址簿)，50个群组(群组地址簿)</td>
            </tr>
        </tbody>
    </table>

        <h4><span class="glyphicon glyphicon-hand-right text-danger"></span>传真功能(标配)</h4>
        <hr />
    <table class="table table-bordered table-condensed col-md-12 col-xs-12">
        <tbody>
            <tr class="active">
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">类型</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">ECOSYS M6530cdn</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">原稿尺寸</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">最大A4(Legal) &mdash; 最小A6R</td>
            </tr>
            <tr class="warning">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">传输方式</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">MMR, MR, MH, JBIG</td>
            </tr>
            <tr class="success">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">传输速度</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">33.6kbps</td>
            </tr>
            <tr class="error">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">内存</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">8MB (存储容量3.5MB)</td>
            </tr>
            <tr class="info">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">一键拨号</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">22个</td>
            </tr>
            <tr class="active">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">网络传真</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">有</td>
            </tr>
        </tbody>
    </table>

</div>
耗材
<div class="table-responsive">
    <h4><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span>个人打印</h4>
    <hr />
    <table class="table table-bordered table-condensed col-md-12 col-xs-12">
        <tbody>
            <tr class="active">
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">类型</td>
                <td>&nbsp;</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">
                    碳粉<br />
                    (碳粉容量按ISO/IEC 19798测得)
                </td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">
                    TK-5143K: 黑色(7,000页)<br />
                    TK-5143C: 青色(5,000页)<br />
                    TK-5143M: 品红(5,000页)<br />
                    TK-5143Y: 黄色(5,000页)
                </td>
            </tr>
            <tr class="success">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">初始碳粉容量</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">K: 3500页；C/M/Y: 2500页</td>
            </tr>
            <tr class="warning">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">保养组件</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">
                    MK-5143 (200,000页)<br />
                    DP:MK-3140
                </td>
            </tr>
            <tr class="error">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">供纸盒</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">PF-5100：500张(最多&times;3)</td>
            </tr>
            <tr class="info">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">数据安全组件</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">Data Security Kit(E)</td>
            </tr>
            <tr class="active">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">IC卡认证组件</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">Card Authentication Kit(B)</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">存储设备</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">HD-7：SSD 128GB</td>
            </tr>
            <tr class="warning">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">手动装订器</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">
                    MS-5100：20页装订器；<br />
                    装订针：SH-13(1500&times;2)
                </td>
            </tr>
        </tbody>
    </table>

</div>