特性
<div class="panel panel-default">
    <div class="panel-heading">【1】特色篇</div>
    <div class="panel-body">
        <h4><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span>长寿命PSLP感光鼓</h4>
        <hr />
        <p>
            京瓷研发的PSLP感光鼓使用均质的感光涂层，相比一般的OPC感光鼓，
            不但延长了使用寿命，并且在整个工作周期中为您呈现良好的成像质量。
        </p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/littlesuperstar/fs1140/pic_10.jpg" class="img-responsive center-block" />
        <h4><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span>大容量粉仓</h4>
        <hr />
        <p>
            全系列产品均支持大容量粉仓，减少用户更换粉仓的频率。
        </p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/littlesuperstar/fs1140/pic_11.jpg" class="img-responsive center-block" />
        <h4>
            <span class="glyphicon glyphicon-hand-right text-danger Myicon"></span>简便的粉仓更换
        </h4>
        <hr />
        <p>仅需打开前盖板，即可轻松地更换粉仓。普通员工也能自如操作。</p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/littlesuperstar/fs1140/pic_12.jpg" class="img-responsive center-block" />
        <h4>
            <span class="glyphicon glyphicon-hand-right text-danger Myicon"></span>一键式身份证复印 (ID Card Copy)
        </h4>
        <hr />
        <p>根据屏幕提示，可以依次扫描身份证的正反面并在同一张纸上输出。</p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/littlesuperstar/fs1140/pic_15.jpg" class="img-responsive center-block" />
        <h4>
            <span class="glyphicon glyphicon-hand-right text-danger Myicon"></span>打印文件夹
        </h4>
        <hr />
        <p>通过打印文件夹，不同用户的文件可以分别输出，减少文件混乱及错拿。</p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/littlesuperstar/fs1140/pic_16.jpg" class="img-responsive center-block" />
        <h4>
            <span class="glyphicon glyphicon-hand-right text-danger Myicon"></span>程序功能
        </h4>
        <hr />
        <p>使用程序功能，用户可以灵活调用各自常用的设置，从而简化复杂的设置过程。</p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/littlesuperstar/fs1140/pic_17.jpg" class="img-responsive center-block" />
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">【1】界面篇</div>
    <div class="panel-body">
        <h4>
            <span class="glyphicon glyphicon-hand-right text-danger Myicon"></span>全中文设计
        </h4>
        <hr />
        <p>机器面板全中文设计，使操作更简便。</p>

        <h4>
            <span class="glyphicon glyphicon-hand-right text-danger Myicon"></span>中文液晶屏显示
        </h4>
        <hr />
        <p>中文液晶屏显示，让所有操作尽在掌握。</p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/littlesuperstar/fs1140/pic_06.jpg" class="img-responsive center-block" />
        <h4>
            <span class="glyphicon glyphicon-hand-right text-danger Myicon"></span>一键静音模式
        </h4>
        <hr />
        <p>只需轻触静音模式后，机器的运作将更加安静。</p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/littlesuperstar/fs1140/pic_07.jpg" class="img-responsive center-block" />
        <h4>
            <span class="glyphicon glyphicon-hand-right text-danger Myicon"></span>一目了然的指示灯设计
        </h4>
        <hr />
        <p>
            指示灯设计在操作面板的转角位置，无论是站立在机器前还是坐在座位上，
            机器状态都一目了然。
        </p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/littlesuperstar/fs1140/pic_08.jpg" class="img-responsive center-block" />
        <h4>
            <span class="glyphicon glyphicon-hand-right text-danger Myicon"></span>前置电源开关设计
        </h4>
        <hr />
        <p>机器开关设计在机身面板前侧，方便用户开关机。</p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/littlesuperstar/fs1140/pic_09.jpg" class="img-responsive center-block" />
    </div>
</div>

特征：
<div class="table-responsive">

    <h4><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span>基本规格</h4>

    <hr />
    <table class="table table-bordered table-condensed col-md-12 col-xs-12">
        <tbody>
            <tr class="active">
                <td colspan="2"><strong>类型</strong></td>
                <td><strong>ECOSYS M1025</strong></td>
            </tr>
            <tr class="danger">
                <td colspan="2">型号</td>
                <td>ECOSYS M1025</td>
            </tr>
            <tr class="warning">
                <td colspan="2">功能</td>
                <td>打印，复印，扫描</td>
            </tr>
            <tr class="success">
                <td colspan="2">打印方式</td>
                <td>激光电子成像</td>
            </tr>
            <tr class="error">
                <td colspan="2">打印速度</td>
                <td>25页/分钟(A4)</td>
            </tr>
            <tr class="info">
                <td colspan="2">打印分辨率</td>
                <td>600x600dpi Fast 1200</td>
            </tr>
            <tr class="active">
                <td colspan="2">CPU</td>
                <td>ARM926EJ-390MHz</td>
            </tr>
            <tr class="danger">
                <td colspan="2">内存</td>
                <td>64MB</td>
            </tr>
            <tr class="warning">
                <td colspan="2">打印语言</td>
                <td>基于主机的打印语言</td>
            </tr>
            <tr class="success">
                <td colspan="2">字体</td>
                <td>1种位图字体</td>
            </tr>
            <tr class="error">
                <td colspan="2">操作系统</td>
                <td>
                    Windows XP/Vista/7/8, Windows Server 2003/2008,&nbsp;<br>
                    Mac OS X 10.5或更高版本(仅打印)
                </td>
            </tr>
            <tr class="info">
                <td colspan="2">接口</td>
                <td>高速USB2.0</td>
            </tr>
            <tr class="active">
                <td colspan="2">供纸容量</td>
                <td>
                    250张纸盒，支持A4,16K, Folio, Oficio2, Letter, legal,<br>
                    自定义纸张尺寸70x148mm - 215.9x356mm，60-220g/m2<br>
                    1页手送纸盒，70x148mm - 215.9x356mm，60-220g/m2
                </td>
            </tr>
            <tr class="danger">
                <td colspan="2">出纸容量</td>
                <td>最大150页， (80g/m2)，正面向下</td>
            </tr>
            <tr class="warning">
                <td colspan="2">自动进稿器</td>
                <td>大约40页，80g/m2</td>
            </tr>
            <tr class="success">
                <td colspan="2">噪音水平</td>
                <td>
                    待机时，29dB(A)<br>
                    打印模式，50dB(A)
                </td>
            </tr>
            <tr class="error">
                <td colspan="2">电源</td>
                <td>220-240V 50Hz 3.1A</td>
            </tr>
            <tr class="info">
                <td colspan="2">耗电量</td>
                <td>打印时348W，待机时7W，睡眠状态3W</td>
            </tr>
            <tr class="active">
                <td colspan="2">外观尺寸(宽× 深× 高)</td>
                <td>390 x 361 x 362mm</td>
            </tr>
            <tr class="danger">
                <td colspan="2">重量</td>
                <td>9.7Kg</td>
            </tr>
        </tbody>
    </table>
    <h4><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span>复印功能</h4>
    <hr />
    <table class="table table-bordered table-condensed col-md-12 col-xs-12">
        <tbody>
            <tr class="active">
                <td><strong>类型</strong></td>
                <td><strong>ECOSYS M1025</strong></td>
            </tr>
            <tr class="danger">
                <td>原稿尺寸</td>
                <td>最大A4幅面</td>
            </tr>
            <tr class="warning">
                <td>复印速度</td>
                <td>25页/分钟 (A4)</td>
            </tr>
            <tr class="success">
                <td>分辨率</td>
                <td>600x600dpi</td>
            </tr>
            <tr class="error">
                <td>缩放倍率</td>
                <td>25%～400% (1%为单位调节）</td>
            </tr>
            <tr class="info">
                <td>连续复印张数</td>
                <td>1-99份</td>
            </tr>
        </tbody>
    </table>
    <h4><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span>扫描功能</h4>
    <hr />

    <table class="table table-bordered table-condensed col-md-12 col-xs-12">
        <tbody>
            <tr class="active">
                <td><strong>类型</strong></td>
                <td><strong>ECOSYS M1025</strong></td>
            </tr>
            <tr class="danger">
                <td>原稿读取速度</td>
                <td>18页/分钟 （300dpi黑白）</td>
            </tr>
            <tr class="warning">
                <td>扫描种类</td>
                <td>彩色/黑白/灰度</td>
            </tr>
            <tr class="success">
                <td>最大读取幅面</td>
                <td>A4</td>
            </tr>
            <tr class="error">
                <td>扫描分辨率</td>
                <td>600dpi、400dpi、300dpi、200dpi</td>
            </tr>
            <tr class="info">
                <td>扫描功能</td>
                <td>
                    扫描到PC，扫描到电子邮件<br>
                    扫描到TWAIN，扫描到WIA
                </td>
            </tr>
            <tr class="active">
                <td>文件格式</td>
                <td>BMP, TIFF, JPG, PNG, PDF</td>
            </tr>
        </tbody>
    </table>
    <h4><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span>传真功能</h4>
    <hr />
    <table class="table table-bordered table-condensed col-md-12 col-xs-12">
        <tbody>
            <tr class="active">
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">类型</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">ECOSYS FS-1125MFP</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">通信模式</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">Super G3, 33.6kbps传真速率</td>
            </tr>
            <tr class="warning">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">数据压缩方式</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">MMR，MR，MH</td>
            </tr>
            <tr class="success">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">内存接收</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">支持</td>
            </tr>
            <tr class="error">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">一键拨号</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">3个</td>
            </tr>
            <tr class="info">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">地址簿</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">100个</td>
            </tr>
            <tr class="active">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">群发</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">最多20个地址</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">浓淡度选择</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">7级</td>
            </tr>
            <tr class="warning">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">PC-FAX</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">支持（仅发送）</td>
            </tr>
        </tbody>
    </table>



</div>
耗材：
<div class="table-responsive">
    <h4><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span>消耗品</h4>
    <hr />
    <table class="table table-bordered table-condensed col-md-12 col-xs-12">
        <tbody>
            <tr class="active">
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">类型</td>
                <td>&nbsp;</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">墨粉盒</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">
                    TK-1128 1,200页<br />
                    建议零售价：&yen;150<br />
                    TK-1123 3,000页（随机容量1,000页）<br />
                    建议零售价：&yen;350<br />
                    ●符合ISO19752标准, 输出张数只作为限定条件下的参考值。<br />
                    ●根据印刷内容和使用环境的不同,印量也会有差别。<br />
                    ●建议您使用京瓷原配耗材。我们对于因使用第三方耗材而对机器造成的损失<br />
                    不承担任何责任。<br />
                    ●产品规格及外观如有变更，恕不另行通知。
                </td>
            </tr>
        </tbody>
    </table>
    <h4><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span>其它部件</h4>
    <hr />
    <table class="table table-bordered table-condensed col-md-12 col-xs-12">
        <tbody>
            <tr class="active">
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">其它部件</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; height: 12px; vertical-align: middle;">&nbsp;</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">感光鼓单元</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">随机标配设计寿命为100,000页的感光鼓单元，根据介质和使用环境的不同，实际印量也会有所差别。</td>
            </tr>
        </tbody>
    </table>

</div>