特性：
<div class="panel panel-default">
    <div class="panel-heading">【1】擅长处理大工作量的多功能一体机</div>
    <div class="panel-body">
        <h4><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span>①特有功能
 </h4>
        <hr />
        <p>程序键：将复杂的设置登录至单个程序键，只需一键操作便可轻松应用
PRESCRIBE：组合复杂的图像、标志和图表构成企业文档</p>
       
        <h4><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span>②轻松传真
</h4>
        <hr />
        <p>FS-3140MFP+ 采用 Super G3 模式，传真速度极快，仅需 3 秒。</p>
        <h4><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span>③强大的桌面型办公设备
 </h4>
        <hr />
        <p>凭借先进的京瓷 KX 驱动程序，用户可充分利用设备的功能，包括保存一般作业的配置文件以及可确保最高输出质量的高级设定</p>
        <h4><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span>④先进的前置USB 接口
</h4>
        <hr />
        <p>标配50张自动双面送稿器，支持双面复印，双面扫描，可减少纸张消耗。
高分辨率彩色扫描功能可将文档扫描成 PDF、JPEG、TIFF 或 XPS 格式并直接发送至 PC、服务器、电子信箱或FTP 站点，甚至 USB 存储器。</p>
        <h4><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span>⑤先进的前置USB 接口
</h4>
        <hr />
        <p>可方便地打印 USB 存储器中的 PDF、JPEG、TIFF 或 XPS 文件，或将以上格式的文件扫描至 USB</p>
        <h4><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span>⑥一流的供纸容量
</h4>
        <hr />
        <p>可灵活处理多种尺寸和类型的纸张，加上选购供纸盒后纸盒总数可达到 4 个,共可供纸 2100 张。
除手送纸盒外，标配纸盒可容纳的纸张尺寸可根据需要调节，最大可设定为 legal 尺寸</p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/a4multifunction/fs-3140mfpplus/pic_01.jpg" class="img-responsive center-block" />
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">【2】以杰出品质赢得国际大奖</div>
    <div class="panel-body">
        <p>FS-3140MFP+以及其它京瓷黑白打印机产品于2011年获得权威机构BLI颁发的"黑白打印机系列年度之选"大奖推荐证书。</p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/a4multifunction/fs-3140mfpplus/pic_02.jpg" class="img-responsive center-block" />
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">【3】通过高效管理确保信息安全</div>
    <div class="panel-body">
        <p>● 管理员可通过基于网页的京瓷 Command Center（命令中心）和 KYOCERA Net Viewer，以远程联网的方式轻松管理、监控和编辑设备设定。

● 支持 IPsec、HTTPS、SNMPv3 和网络用户验证功能

● KYOCERA Net Policy Manager（选购）可提高验证管理效率以及通过网络同时进行跟随打印的灵活性

● 个人打印功能**通过在打印设备上输入密码的方式确保安全打印

**须使用 RAM 扩展内存</p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/a4multifunction/fs-3140mfpplus/pic_03.jpg" class="img-responsive center-block" />
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">【4】 追求环保–以环保的方式办公和工作</div>
    <div class="panel-body">
        <p>ECOSYS 代表环保、经济和系统打印
京瓷集团在复印机和数码复合机以及打印机方面拥有分别超过 50 年和 25 年的研发和制造经验。我们的目标是， 致力于提供兼顾"环保"和"经济"的产品和服务，以推动社会的可持续发展。1992 年，我们开发了第一台知 名的 ECOSYS 打印机，由于其"环保"和"经济"性能卓著，于次年获得了"Eco Mark"认证。

● 减少浪费：
1) 长寿命感光鼓、显影单元和更换部件
2) 可回收利用的部件

● 只需更换墨粉：
其他传统型打印机需同时更换墨粉和感光鼓，而京瓷采用鼓粉分离设计，在墨粉耗尽时只需更换墨粉

● 环保功能：
1) 2 合 1 复印和双面至双面复印功能可节省纸张
2) 灵活的 EcoPrint 功能可节省墨粉

● 无毒材料

● 低功耗：
采用 LED 光源，能耗更低

● 舒适的工作环境：
设备在工作和睡眠状态时噪音极低</p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/a4multifunction/fs-3140mfpplus/pic_04.jpg" class="img-responsive center-block" />
    </div>
</div>
特征：
<div class="table-responsive">

    <h4><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span>基本规格</h4>

    <hr />
  
                    <table class="table table-bordered table-condensed col-md-12 col-xs-12">
                        <tbody>
                            <tr class="active">
                                <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">类型</td>
                                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">FS-3140MFP+</td>
                            </tr>
                            <tr>
                                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">打印方式</td>
                                <td>&nbsp;</td>
                                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">激光电子成像</td>
                            </tr>
                            <tr>
                                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">打印速度</td>
                                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">
                                    40张/分钟(A4单面)<br />
                                    24.5张/分钟(A4双面)
                                </td>
                            </tr>
                            <tr class="danger">
                                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">分辨率</td>
                                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">
                                    Fine 1,200 (1,200&times;1,200dpi)<br />
                                    Fast 1,200 (相当于1,200dpi,KIR)<br />
                                    600dpi(KIR)<br />
                                    300dpi
                                </td>
                            </tr>
                            <tr class="warning">
                                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">CPU</td>
                                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">IBM PowerPC440-667MHz</td>
                            </tr>
                            <tr class="success">
                                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">内存</td>
                                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">标配256MB, 最大768MB(选购512MB内存时)</td>
                            </tr>
                            <tr class="error">
                                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">控制语言</td>
                                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">PRESCRIBE</td>
                            </tr>
                            <tr class="info">
                                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">仿真语言</td>
                                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">
                                    PCL6 (PCL-5e, PCL-XL), KPDL3 (PostScript3兼容), Line Printer,<br />
                                    IBM Proprinter X24E, EPSON LQ-850, DIABLO 630, PDF 1.5, XPS
                                </td>
                            </tr>
                            <tr class="active">
                                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">字体</td>
                                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">101种矢量字体 (PCL6), 101种矢量字体(KPDL3), 1种位图字体</td>
                            </tr>
                            <tr class="danger">
                                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">操作系统</td>
                                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">
                                    Windows 2000/XP/Vista/7<br />
                                    Mac OS X 10.2/10.3, Mac OS 10.4/10.5, Linux
                                </td>
                            </tr>
                            <tr class="warning">
                                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">接口</td>
                                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">高速USB2.0, USB Host, 10BASE-T/100BASE-TX</td>
                            </tr>
                            <tr class="success">
                                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">内存插槽</td>
                                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">144针DDR2-SDRAM DIMM插槽&times;1个</td>
                            </tr>
                            <tr class="error">
                                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">供纸容量</td>
                                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">
                                    500张通用纸盒&times;1个, A4～A6, Folio, Oficio2, Letter, Legal,<br />
                                    105x148mm～216x356mm, 60～120g/m&sup2;<br />
                                    100张手送纸盒, 70x148mm～216x356mm, 60～220g/m&sup2;<br />
                                    最大供纸容量2100张 (需选购3个供纸盒PF-310)
                                </td>
                            </tr>
                            <tr class="info">
                                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">出纸容量</td>
                                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">最大500张 (80g/m&sup2;), 正面向下</td>
                            </tr>
                            <tr class="active">
                                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">双面</td>
                                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">标配(A4～A5, 140x210mm～216x356mm, 60～120g/m&sup2;)</td>
                            </tr>
                            <tr class="danger">
                                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">噪音水平</td>
                                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">
                                    待机时，30dB(A)<br />
                                    打印模式，55dB(A)
                                </td>
                            </tr>
                            <tr class="warning">
                                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">电源</td>
                                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">220-240V 50Hz 5.1A</td>
                            </tr>
                            <tr class="success">
                                <td rowspan="3" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">耗电量</td>
                                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">打印时</td>
                                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">677.4W</td>
                            </tr>
                            <tr class="error">
                                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">待机时</td>
                                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">97.9W※2</td>
                            </tr>
                            <tr class="info">
                                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">睡眠状态</td>
                                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">10.6W</td>
                            </tr>
                            <tr class="active">
                                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">外观尺寸(宽&times; 深&times; 高)</td>
                                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">494 x 497.1 x 545.5mm</td>
                            </tr>
                            <tr class="danger">
                                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">重量</td>
                                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">25.8kg</td>
                            </tr>
                        </tbody>
                    </table>
               
    <p>※1 22℃和60%相对湿度下。
※2 Eco Fuser设置为打开状态时。</p>
    <h4><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span>复印功能</h4>
    <hr />
    <table class="table table-bordered table-condensed col-md-12 col-xs-12">
        <tbody>
            <tr class="active">
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">类型</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">FS-3140MFP+</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">原稿类型</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">纸张、书本、三维物体</td>
            </tr>
            <tr class="warning">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">原稿尺寸</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">最大: A4幅面</td>
            </tr>
            <tr class="success">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">复印速度</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">40张/分钟 (A4)</td>
            </tr>
            <tr class="error">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">灰度</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">256级</td>
            </tr>
            <tr class="info">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">分辨率</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">
                    扫描/打印分辨率: 600dpi&times;600dpi<br />
                    照片模式: 1800dpi相当&times;600dpi
                </td>
            </tr>
            <tr class="active">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">缩放倍率</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">
                    原稿台: 25%～400% (1%为单位任意缩放)<br />
                    输稿器: 25%～200% (1%为单位任意缩放)
                </td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">连续复印张数</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">1～999张</td>
            </tr>
        </tbody>
    </table>

    <h4><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span>扫描功能</h4>
    <hr />
    <table class="table table-bordered table-condensed col-md-12 col-xs-12">
        <tbody>
            <tr class="active">
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">类型</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">FS-3140MFP+</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">原稿读取速度</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">
                    600dpi黑白/彩色：35/13张/分钟<br />
                    300dpi黑白/彩色：35/25张/分钟
                </td>
            </tr>
            <tr class="warning">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">扫描种类</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">彩色/黑白</td>
            </tr>
            <tr class="success">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">最大读取幅面</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">A4幅面</td>
            </tr>
            <tr class="error">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">扫描分辨率</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">600dpi、400dpi、300dpi、200dpi、200x400dpi、200x100dpi</td>
            </tr>
            <tr class="info">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">扫描功能</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">
                    Scan to USB memory, Scan to E-mail<br />
                    Scan to FTP, TWAIN/WIA
                </td>
            </tr>
            <tr class="active">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">文件格式</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">TIFF、JPEG、XPS、PDF</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">TWAIN支持系统</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">Windows2000/XP/Serve 2003/Server 2008/Vista/7</td>
            </tr>
            <tr class="warning">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">WIA支持系统</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">WindowsVista/7/Server 2008</td>
            </tr>
        </tbody>
    </table>

    
    <h4><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span>传真功能</h4>
    <hr />
  
    <table class="table table-bordered table-condensed col-md-12 col-xs-12">
        <tbody>
            <tr class="active">
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">类型</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">FS-3140MFP+</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">通信模式</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">Super G3</td>
            </tr>
            <tr class="warning">
                <td rowspan="4" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">分辨率</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">普通: 2阶8dot/mm&times;3.85line/mm</td>
            </tr>
            <tr class="success">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">精细: 2阶8dot/mm&times;7.7line/mm</td>
            </tr>
            <tr class="error">
               <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">高精细: 2阶8dot/mm&times;15.4line/mm</td>
            </tr>
            <tr class="info">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">超精细: 2阶16dot/mm&times;15.4line/mm</td>
            </tr>
            <tr class="active">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">数据压缩方式</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">MH、MR、MMR、JBIG</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">一键拨号</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">22个</td>
            </tr>
            <tr class="warning">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">缩位拨号</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">100个</td>
            </tr>
            <tr class="success">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">群发</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">最大20个地址</td>
            </tr>
            <tr class="error">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">浓淡度选择</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">7级</td>
            </tr>
            <tr class="info">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">支持系统</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">Windows 2000/XP/Server 2003/Vista/7</td>
            </tr>
        </tbody>
    </table>



</div>
耗材：
<div class="table-responsive">
    <h4><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span> 选配件</h4>
    <hr />
    <table class="table table-bordered table-condensed col-md-12 col-xs-12">
        <tbody>
            <tr class="active">
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">供纸盒</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">PF-310+</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">纸张规格</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">A4～A5R, Folio, Oficio2, Letter, Legal, 60～120g/m&sup2;</td>
            </tr>
            <tr class="warning">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">供纸容量</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">500张 (80g/m&sup2;)</td>
            </tr>
            <tr class="error">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">电源</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">DC 24V, 5.1V (主机供电)</td>
            </tr>
            <tr class="success">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">外形尺寸(宽&times;深&times;高)</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">382 x 394 x 110mm</td>
            </tr>
            <tr class="info">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">重量</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">
                    3.8kg<br />
                    最多可加装3个
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-bordered table-condensed col-md-12 col-xs-12">
        <tbody>
            <tr class="active">
                <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px; vertical-align: middle; color: rgb(0, 0, 0);">IC卡认证组件(B)</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">验证组件</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">IC Card Authentication KIT(B)</td>
            </tr>
        </tbody>
    </table>
    <table class="table table-bordered table-condensed col-md-12 col-xs-12">
        <tbody>
            <tr class="active">
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">IC卡读卡器</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">SCL010</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">类型</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">
                    MIFARE<br />
                    ISO 14443 type A &amp; B<br />
                    FeliCa&amp;supTM
                </td>
            </tr>
            <tr class="warning">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">接口</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">USB 2.0 full speed</td>
            </tr>
            <tr class="success">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">重量</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">USB Bus Powerd(主机供电)</td>
            </tr>
        </tbody>
    </table>

    <h4><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span>消耗品</h4>
    <hr />
    <table class="table table-bordered table-condensed col-md-12 col-xs-12">
        <tbody>
            <tr class="active">
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">类型</td>
                <td>&nbsp;</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">碳粉</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">
                    TK-353 (15000张, 初始随机碳粉使用寿命7500张)<br />
                    建议零售价：&yen; 890<br />
                    ●ISO19752,输出张数只作为限定条件下的参考值.<br />
                    ●根据印刷内容和使用环境的不同,印量也会有差别.<br />
                    ●建议您使用京瓷原配耗材。我们对于因使用第三方耗材而对机器造成的损失<br />
                    不承担任何责任。<br />
                    ●产品规格及外观如有变更，恕不另行通知.
                </td>
            </tr>
        </tbody>
    </table>

    
</div>