特性
<div class="panel panel-default">
    <div class="panel-heading">【1】人性化设计的操作面板</div>
    <div class="panel-body">
        
        <p>京瓷首次在A4复合机上采用角度可自由调整的操作面板。方便了用户在无论是站姿还是坐姿的情况下都可以进行操作，体现了人性化的设计细节。</p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/a4multifunction/taskalfa306ci356ci406ci/pic_01.jpg" class="img-responsive center-block" />
         <p>TASKalfa 356ci/406ci配备了7英寸的大型彩色触摸LCD面板，用户可直接点触主屏幕并进行左右滑动，操作体验类似于智能手机和平板电脑。</p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/a4multifunction/taskalfa306ci356ci406ci/pic_02.jpg" class="img-responsive center-block" />
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">【2】长纸扫描(仅限TASKalfa 356/406ci)</div>
    <div class="panel-body">
       
        <p>TASKalfa 356/406ci除了支持标准尺寸纸张的扫描之外，还支持长纸扫描。
※：① 只有灰度扫描和黑白扫描模式可选；
    ② 长纸原稿单面扫描；
    ③ 长纸扫描不支持戳记功能；
    ④ 扫描分辨率最高支持300dpi。</p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/a4multifunction/taskalfa306ci356ci406ci/pic_03.jpg" class="img-responsive center-block" />
        
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">【3】空白页跳过</div>
    <div class="panel-body">

        <p>            TASKalfa 306/356/406ci在执行扫描或传真任务时，可以有效识别原稿中的空白页，并跳过。
        </p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/a4multifunction/taskalfa306ci356ci406ci/pic_04.jpg" class="img-responsive center-block" />
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">【4】原稿方向自动检测※(仅限TASKalfa 356/406ci)</div>
    <div class="panel-body">

        <p>            当用户扫描A3杂志或使用打孔、装订功能进行复印时，TASKalfa 356/406ci自带的OCR技术可以有效识别原稿中的字体方向，从而保证输出件文字方向的正确性。
            ※ 需选购Scan Extension Kit(A)
        </p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/a4multifunction/taskalfa306ci356ci406ci/pic_05.jpg" class="img-responsive center-block" />
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">【5】原稿方向自动检测※(仅限TASKalfa 356/406ci)</div>
    <div class="panel-body table-responsive">

        <p>
            新增可支持的文件格式
        </p>
        <table class="table table-condensed col-xs-12 col-md-12">
            <thead><tr><th>扫描</th><th>直接打印</th></tr></thead>
            <tbody>
                <tr><td> PDF	PDF1.7版</td><td>PDF/A	PDF/A</td></tr>
                <tr><td> 高压缩PDF</td><td>高压缩</td></tr>
                <tr><td> JPEG</td><td>JPEG</td></tr>
                <tr><td> TIFF</td><td>TIFF</td></tr>
                <tr><td> XPS</td><td>XPS</td></tr>
                <tr><td> Open XPS</td><td>Open XPS</td></tr>
                <tr><td> 加密PDF</td><td>加密PDF</td></tr>
            </tbody>
        </table>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">【6】 打印分辨率提升至1200dpi(仅限TASKalfa 356/406ci)</div>
    <div class="panel-body">

        <p>
            相较现有机型600dpi×600dpi的打印分辨率，TASKalfa 356/406ci可以实现 1200dpi×1200dpi(真正的1200dpi)的输出质量。
        </p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/a4multifunction/taskalfa306ci356ci406ci/pic_06.jpg" class="img-responsive center-block" />
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">【7】图片智能美化</div>
    <div class="panel-body">

        <p>
            通过调整对比度设定，用户可以让复印或扫描出来的图像看起来更加的生动形象。
        </p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/a4multifunction/taskalfa306ci356ci406ci/pic_07.jpg" class="img-responsive center-block" />
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">【8】采用大容量废粉盒</div>
    <div class="panel-body">

        <p>
            与TASKalfa 3051ci系列25,000页容量的废粉盒相比，TASKalfa 306/356/406ci采用了44,000页的大容量废粉盒，减少了用户更换废粉盒的频率。而且，废粉盒的更换也变得简单方便，打开前盖板即可进行操作，极大的提高了用户使用的便利性。
        </p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/a4multifunction/taskalfa306ci356ci406ci/pic_08.jpg" class="img-responsive center-block" />
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">【9】支持京瓷移动打印</div>
    <div class="panel-body">

        <p>
            在Wi-Fi环境下通过使用KYOCERA Mobile Print, 用户可轻松打印智能手机或平板电脑(Apple /Android)里的文档、网页和图像。还可从TASKalfa 306/356/406ci将文件和图像扫描至对应的移动设备。
        </p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/a4multifunction/taskalfa306ci356ci406ci/pic_09.jpg" class="img-responsive center-block" />
        <p>
            另外， TASKalfa 306/356/406ci还支持iPhone或iPad上的AirPrint功能。
        </p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/a4multifunction/taskalfa306ci356ci406ci/pic_10.jpg" class="img-responsive center-block" />

     </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">【11】搭载HyPAS应用程序，实现精简有序的工作流程※</div>
    <div class="panel-body">

        <p>
            京瓷HyPAS(高级解决方案混合平台)是一套功能强大且可扩展的软件解决方案平台，可通过自定义设置和集成化软件应用程序进一步提升京瓷多功能数码复合机的性能。HyPAS可以有效加强信息共享，促进资源优化，改善工作流程。
        </p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/a4multifunction/taskalfa306ci356ci406ci/pic_11.jpg" class="img-responsive center-block" />
   <p>※TASKalfa 306ci需要选购SD卡。</p>
     </div>
</div>
特征：
<div class="table-responsive">
    <h5><span class="glyphicon glyphicon-hand-right text-danger"></span> 主要规格</h5>
    <hr />
    <table class="table table-bordered table-condensed col-md-12 col-xs-12">
        <tbody>
            <tr class="active">
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">型号</td>
                <td>&nbsp;</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">TASKalfa 306ci</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">TASKalfa 356ci</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">TASKalfa 406ci</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">主要功能</td>
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">复印、打印、扫描、传真(选配)</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr class="warning">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">成像方式</td>
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">激光电子成像</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr class="success">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">CPU</td>
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">Power PC 465S 1.0GHz</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">P1022(双核)800MHz</td>
                <td>&nbsp;</td>
            </tr>
            <tr class="error">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">打印速度(A4，黑白/彩色)</td>
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">30/30页/分钟</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">35/35页/分钟</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">40/40页/分钟</td>
            </tr>
            <tr class="info">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">
                    扫描速度<br>
                    (A4 300dpi)
                </td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">单面(黑/彩)</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">40/30页/分钟</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">
                    60/40页/分钟(选购DP-5100)<br>
                    60/40页/分钟(选购DP-5110)
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr class="active">
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">双面(黑/彩)</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">17/13页/分钟</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">
                    26/17页/分钟 (选购DP-5100)<br>
                    120/80页/分钟(选购DP-5110)
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">内存(标配/上限)</td>
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">1GB/2GB</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">2GB/2GB</td>
                <td>&nbsp;</td>
            </tr>
            <tr class="warning">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">硬盘</td>
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">128GB(选购)</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">8GB(标配)/320GB(选购)</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">320GB(标配)</td>
            </tr>
            <tr class="success">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">供纸容量</td>
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">
                    标准容量：500张(纸盒)+100张(手送纸盘)<br>
                    上限容量：3,100张(主机+PF-5120+PF-5140+手送纸盘)
                </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr class="error">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">纸张尺寸</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">纸盒</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">A6R – A4 (Legal)</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">A6R – A4 (Legal)</td>
                <td>&nbsp;</td>
            </tr>
            <tr class="info">
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">手送纸盘</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">A6R – A4 (Legal)</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">A6R – A4 (Legal) 及216mm×1,220mm</td>
                <td>&nbsp;</td>
            </tr>
            <tr class="active">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">纸张重量</td>
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">纸盒/选购纸盒/手送纸盘：60至220g/m²</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">双面打印</td>
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">纸张尺寸： A5R 至 A4/Legal； 纸张重量： 60 至 220 g/m²</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr class="warning">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">输出能力(标配/上限)</td>
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">500/1000张</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">500/3300张</td>
                <td>&nbsp;</td>
            </tr>
            <tr class="success">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">操作面板</td>
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">4.3英寸彩色触摸LCD面板</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">7英寸彩色触摸LCD面板</td>
                <td>&nbsp;</td>
            </tr>
            <tr class="error">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">输稿器</td>
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">
                    标配<br>
                    (75张自动翻转双面型)
                </td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">
                    选购<br>
                    (75张自动翻转双面型或 75张自动同时双面型)
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr class="info">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">
                    外观尺寸<br>
                    (宽x深x高) (主机)
                </td>
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">550mm x 507.5mm x 736.6mm</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">550mm x 507mm x 612.8mm (不含输稿器)</td>
                <td>&nbsp;</td>
            </tr>
            <tr class="active">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">重量(主机)</td>
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">约48 kg</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">功耗</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">复印/打印 模式</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">533W</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">752W</td>
                <td>&nbsp;</td>
            </tr>
            <tr class="success">
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">待机模式</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">77W</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">110W</td>
                <td>&nbsp;</td>
            </tr>
            <tr class="error">
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">节能</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">2.5W</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">1.6W</td>
                <td>&nbsp;</td>
            </tr>
            <tr class="info">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">
                    噪音<br>
                    (ISO7779/<br>
                    ISO9296)
                </td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">
                    复印/打印<br>
                    模式
                </td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">49.5dB(A)</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">52dB(A)</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">53.5dB(A)</td>
            </tr>
            <tr class="active">
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">待机模式</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">30dB(A)</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </tbody>
    </table>
    <h5><span class="glyphicon glyphicon-hand-right text-danger"></span> 复印功能(标配)</h5>
    <hr />
    <table class="table table-bordered table-condensed col-md-12 col-xs-12">
        <tbody>
            <tr class="active">
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">类型</td>
                <td>&nbsp;</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">TASKalfa 306ci</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">TASKalfa 356ci</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">TASKalfa 406ci</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">原稿尺寸</td>
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">A4(Legal)— A6R</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr class="warning">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">分辨率</td>
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">600 x 600dpi</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr class="success">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">首张复印时间 (黑/彩)</td>
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">6.4秒/7.8秒</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">5.9秒/7.3秒</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">5.8秒/6.9秒</td>
            </tr>
            <tr class="error">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">缩放倍率</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">手动</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">25% 至 400%(以1%为增量)</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr class="info">
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">预定义</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">7缩5放</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr class="active">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">连续复印</td>
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">1至999</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </tbody>
    </table>
    <h5><span class="glyphicon glyphicon-hand-right text-danger"></span> 打印功能(标配)</h5>
    <hr />
    <table class="table table-bordered table-condensed col-md-12 col-xs-12">
        <tbody>
            <tr class="active">
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">类型</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">TASKalfa 306ci</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">TASKalfa 356ci</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">TASKalfa 406ci</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">分辨率</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">相当于9600&times;600dpi； 600&times;600dpi</td>
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">相当于9600&times;600dpi；1200&times;1200dpi</td>
            </tr>
            <tr class="success">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">打印语言</td>
                <td colspan="3" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">PRESCRIBE,PCL6 ( PCL-XL, PCL-5c), KPDL3 (Postscript 3兼容), PDF, XPS, Open XPS</td>
            </tr>
            <tr class="error">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">支持的协议</td>
                <td colspan="3" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">TCP/IP, IPv4, IPv6; HTTP, FTP, IPP, Raw Port, DHCP, SMTP, POP3, DNS, SNMPv1/v2, WSD Scan/Print, Apple Bonjour</td>
            </tr>
            <tr class="info">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">支持的操作系统</td>
                <td colspan="3" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">Windows Server 2003, Windows Server 2008, Windows Server 2008 R2, Windows Server 2012, Windows XP, Windows Vista, Windows 7, Windows 8; Windows 10, Apple Macintosh OS 10.X or later; Linux</td>
            </tr>
            <tr class="active">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">接口</td>
                <td colspan="3" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">USB 2.0 高速x1; 以太网10BASE-T/100BASE-TX/1000BASE-T; USB 主机接口 (USB 主机)x3(※TASKalfa306ci 2个USB主机接口)</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">USB存储器打印</td>
                <td colspan="3" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">标配(格式：TIFF,JPEG,PDF,XPS)</td>
            </tr>
            <tr class="success">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">移动打印</td>
                <td colspan="3" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">AirPrint, Mopria, KYOCERA Mobile Print</td>
            </tr>
        </tbody>
    </table>
    <h5><span class="glyphicon glyphicon-hand-right text-danger"></span> 扫描功能(标配)</h5>
    <hr />
    <table class="table table-bordered table-condensed col-md-12 col-xs-12">
        <tbody>
            <tr class="active">
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">类型</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">TASKalfa 306ci</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">TASKalfa 356ci</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">TASKalfa 406ci</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">色彩类型</td>
                <td colspan="3" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">自动彩色(彩色/灰度)；自动彩色(彩色/黑白)；全彩；灰度；黑白</td>
            </tr>
            <tr class="warning">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">分辨率</td>
                <td colspan="3" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">600dpi, 400dpi, 300dpi, 200dpi, 200x400dpi, 200x100dpi</td>
            </tr>
            <tr class="success">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">文件格式</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">TIFF, JPEG, XPS, PDF (MMR/JPEG/高压缩PDF),PDF/A，加密PDF</td>
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">TIFF, JPEG, XPS, PDF (MMR/JPEG/高压缩PDF),PDF/A，加密PDF,可搜索PDF(选购)</td>
            </tr>
            <tr class="error">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">图像质量模式</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">文字、图片、文字+图片</td>
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">文字、图片、文字+图片、OCR(选购)</td>
            </tr>
            <tr class="info">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">发送方式</td>
                <td colspan="3" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">
                    扫描至SMB、扫描至电子邮件、扫描至FTP或FTP over SSL、<br />
                    扫描至USB、TWAIN扫描、WSD扫描、WIA扫描
                </td>
            </tr>
            <tr class="active">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">地址存储</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">200个地址(共用地址列表)、50个群组(群组地址列表)</td>
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">
                    2000个地址(共用地址列表)<br />
                    500个群组(群组地址列表)
                </td>
            </tr>
        </tbody>
    </table>

    <h5><span class="glyphicon glyphicon-hand-right text-danger"></span> 传真功能(选购)</h5>
    <hr />
    <table class="table table-bordered table-condensed col-md-12 col-xs-12">
        <tbody>
            <tr class="active">
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">类型</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">TASKalfa 306ci</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">TASKalfa 356ci</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">TASKalfa 406ci</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">原稿尺寸</td>
                <td colspan="3" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">A4 (Legal) &ndash; A6</td>
            </tr>
            <tr class="warning">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">编码方式</td>
                <td colspan="3" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">MMR, MR, MH, JBIG</td>
            </tr>
            <tr class="success">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">传输速度</td>
                <td colspan="3" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">33.6 kbps</td>
            </tr>
            <tr class="error">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">内存</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">3.5MB</td>
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">16MB</td>
            </tr>
            <tr class="info">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">双线传真</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">&mdash;&mdash;</td>
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">有(需选购2个Fax System10)</td>
            </tr>
        </tbody>
    </table>

</div>
选购件及耗材
<div class="table-responsive">
    <h5><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span> 选购件及耗材</h5>
    <hr />

    <table class="table table-bordered table-condensed col-md-12 col-xs-12">
        <tbody>
            <tr class="active">
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">类型</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">TASKalfa 306ci</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">TASKalfa 356ci</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">TASKalfa 406ci</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">碳粉组件</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">
                    TK-5198K<br>
                    建议零售价：¥668<br>
                    TK-5198(C/M/Y/K)<br>
                    建议零售价：¥936<br>
                    (黑粉：15,000页;<br>
                    彩粉：7,000页)
                </td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">
                    TK-5208K<br>
                    建议零售价：¥621<br>
                    TK-5208(C/M/Y/K)<br>
                    建议零售价：¥1,077<br>
                    (黑粉：18,000页;<br>
                    彩粉：12,000页)
                </td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">
                    TK-5218K<br>
                    建议零售价：¥690<br>
                    TK-5218(C/M/Y/K)<br>
                    建议零售价：¥1,353<br>
                    (黑粉：20,000页;<br>
                    彩粉：15,000页)
                </td>
            </tr>
            <tr class="success">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">保养组件</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">
                    MK-5198A/B(200,000页);<br>
                    MK-3140(200,000页,用于输稿器)
                </td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">
                    MK-5208A(200,000页);<br>
                    MK-5208B(200,000页);<br>
                    MK-3140(200,000页,用于DP-5100)<br>
                    MK-5203(200,000页,用于DP-5110)
                </td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">
                    MK-5218A(300,000页);<br>
                    MK-5218B(300,000页);<br>
                    MK-3140(200,000页,用于DP-5100)<br>
                    MK-5203(200,000页,用于DP-5110)
                </td>
            </tr>
            <tr class="warning">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">输稿器</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">——</td>
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">
                    DP-5100：75张自动翻转双面型<br>
                    DP-5110：75张自动同时双面型
                </td>
            </tr>
            <tr class="error">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">供纸盒</td>
                <td colspan="3" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">
                    PF-5120：500张<br>
                    PF-5130：500张×2(须先安装PF-5120)<br>
                    PF-5140：2000张(A4/Letter)(须先安装PF-5120)
                </td>
            </tr>
            <tr class="info">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">数据安全组件</td>
                <td colspan="3" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">Data Security Kit(E)</td>
            </tr>
            <tr class="active">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">IC卡认证组件</td>
                <td colspan="3" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">Card Authentication Kit (B)</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">存储设备</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">HD-7: 固态硬盘 128GB</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">HD-11: 320GB</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">——</td>
            </tr>
            <tr class="warning">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">读卡器支架</td>
                <td colspan="3" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">Card Reader Holder 11</td>
            </tr>
            <tr class="success">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">纸张处理</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">
                    JS-5100：内部作业分离器；<br>
                    DF-5100：300张内部装订器；<br>
                    AK-5100：连接器(连接MT-5100)；<br>
                    MT-5100：5格邮箱；<br>
                    SH-10：装订针
                </td>
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">
                    JS-5100：内部作业分离器；<br>
                    DF-5100：300张内部装订器；<br>
                    AK-5100：连接器(连接MT-5100/DF-5110/5120)；<br>
                    DF-5110：1000张装订器；<br>
                    DF-5120：3000张装订器；<br>
                    PH-5110：打孔器；<br>
                    MT-5100：5格邮箱；<br>
                    SH-10：装订针
                </td>
            </tr>
            <tr class="error">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">传真组件</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">Fax System 11</td>
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">Fax System 10</td>
            </tr>
            <tr class="info">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">互联网传真</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">——</td>
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">Internet FAX Kit(A)</td>
            </tr>
            <tr class="active">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">嵌入式OCR</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">——</td>
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">Scan Extension Kit(A)</td>
            </tr>
        </tbody>
    </table>
</div>