

@{
    ViewBag.Title = "首页";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="well">
        <p>
            重庆从事OA销售与服务的专业性行销公司
            我们的愿景追求-----永续经营。
            我们同心协力；以务实与创新。实现同仁乐意，顾客满意，经营得意，共创追求永续经营。 高登经营以人为中心。实现同仁乐意，就是要创造一个让员工学习成长、快乐工作的坏境。使员工同企业一起成长，分享成果，实现顾客满意，有赖全体员工辛勤的付出汇聚而成的。 在服务的过程中，顾客对我们有许多的期望。只要我们能以热忱的心及精致的服务，发挥团队的力量，相信必能超越顾客的期望，获得顾客最大的信赖。而不断的创造顾客、累积顾客，从而成长茁壮，迈向永续。要实现经营得意，我们唯有时时刻刻脚踏实地，才能使高登迈向永续。
        </p>
    </div>
</div>
<div class="container">
    @RenderPage("~/Views/Shared/Adv_show.cshtml")
</div>

<div class="container">
    @RenderPage("~/Views/Shared/Carousel.cshtml")
</div>
