@{
    ViewBag.Title = "服务与支持";
}

@section BreadCrumb{ <ol class="breadcrumb">
        <li>
            网站主页
        </li>
        <li><a href="#">@ViewBag.Title</a></li>

    </ol> }
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-warning">
                <div class="panel-heading">租赁复印机--省钱</div>
                <div class="panel-body" style="padding:2px;">
                    <img src="~/Images/service/savemoney.jpg" class="img-responsive" />
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">租赁复印机--省心</div>
                <div class="panel-body" style="padding:2px;">
                    <img src="~/Images/service/relax.gif" class="img-responsive" />
                </div>
            </div>
            <div class="panel panel-warning">
                <div class="panel-heading">租赁复印机--省力</div>
                <div class="panel-body" style="padding:2px;">
                    <img src="~/Images/service/saveli.jpg" class="img-responsive" />
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-info">
                <div class="panel-heading">服务解析</div>
                <div class="panel-body">
                    <p class="lead">保修与维护</p>
                    <dl>
                        <dt>（1）公司服务专人专线处理客户问题</dt>
                        <dd>
                            <ul class="list-unstyled" style="padding-left:30px;">
                                <li>
                                    A、每天响应用户请求。
                                    常设有技术支持专职值班人员，由资深技术工程师提供服务。
                                </li>
                                <li>b、用户可通过电话或传真将问题报告给技术支持中心，服务技术人员将在规定的时间内迅速解决用户的问题，并全天24小时响应用户要求。</li>
                                <li>C、定期对用户的设备进行巡检和保养，了解设备使用情况，对用户在使用过程中遇到的问题给予及时解决。</li>
                            </ul>
                        </dd>
                    </dl>
                    <div class="well"><img src="~/Images/Service/realx_banner.png" class="img-responsive" /></div>
                    <dl>
                        <dt>（2）现场支持</dt>
                        <dd>接维修通知，15分钟内反响，4个工作小时内到位。</dd>
                        <dt>（3）预约支持</dt>
                        <dd>用户大印量复印时，可电话预约公司派专人到现场守护复印。</dd>
                        <dt>（4）备件支持</dt>
                        <dd>对主要设备及其零件配件公司常年备有全部配件，保证用户设备的正常使用。</dd>
                        <dt>（5）厂家支持</dt>
                        <dd>对于某些特别技术问题或技术咨询需要原厂家提供的，将通过本公司的渠道与原厂家进行沟通，尽快给用户答复与必要的技术支持。</dd>
                    </dl>
                    <div class="well">
                        <img src="~/Images/Service/tel.png" class="img-responsive" />
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

</div>