@{
    ViewBag.Title = "招聘";
}

@section BreadCrumb{ <ol class="breadcrumb">
        <li>
            网站主页
        </li>
        <li><a href="#">@ViewBag.Title</a></li>

    </ol> }
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body" style="padding:1px;">
                    <img src="~/Images/Wanted/want.jpg" class="img-responsive" />
                </div>
                <div class="panel-footer">

                    <img src="~/Images/logo/logo_Title.png" />
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading"> 重庆高登办公设备招聘</div>
                <div class="panel-body">
                    <img src="~/Images/Wanted.png" class="img-responsive" />
                    <p>
                        本公司是一家专门租赁/销售复印机、打印机、计算机及相关耗材和维修各类办公设备、网络安装为一体的公司。 重庆高登办公设备有限公司在本地从事OA销售与服务的专业性行销公司。年产值已逾千万元。本公司秉承“永续经营”的经营理念。本公司成立于二十世纪末。以“顾客满意”为宗旨，致力为顾客提供复印机、打印机、传真机、考勤钟、投影机等系列办公自动化商品。
                        绵密的行销网络、专业的售前、售中、售后服务体系，充足的耗材和零件储备，使我们得以贴近顾客、就近服务，让顾客真正享受高登办公“专业、快速、亲切”的服务。
                        现因业务发展需要，诚邀有志之士
                    </p>
                    <dl>
                        <dt>一、技术骨干（数名）</dt>
                        <dd>要求：有强烈的敬业精神，有团队精神，服从公司安排，能吃苦耐劳。能熟练维修复印机、打印机、计算机等办公设备。（可招学徒） （工资+奖金2500-3000元以上）</dd>
                        <dt>二、业务精英（数名）</dt>
                        <dd>要求：有强烈的敬业精神，虚心大方，能吃苦耐劳、口才好，交际能力强。高中以上文化程度。 业务人员经培训合格后，保底工资1200-3000/月+提成 （月均工资3000-5000元）</dd>
                    </dl>


                    <ol>
                        <li>联系人：杨小姐</li>
                        <li>电话：68690301 13320236700 15320287805</li>
                        <li>地址：重庆高新区石桥铺西部商城B栋14-10</li>
                    </ol>


                    
                    
                    

                    <h4>重庆高登办公文员招聘</h4>

                    <h5>职位描述 岗位职责：</h5>
                    <ul>
                        <li>负责公司办公室各类电脑文档的打印、整理</li>
                        <li>公司资料及客户信息的收编及整理，以便更好的贯彻和落实工作</li>
                        <li>办公室的日常清洁的安排及布置</li>
                        <li>公司发票送出及进出货物管理</li>
                        <li>负责协助处理标书的制作及相关事项的办理</li>
                        <li>负责办公室的日常事务工作，相关文件，材料领取，保存</li>
                        <li>负责来访，接待，引见，收发传真，以及接听电话等</li>
                        <li>配合售后及库房做好相关工作</li>
                        <li>办公室内勤岗位工作有时还包括协助人事，商务，甚至财务等部门的工作</li>
                        <li>
                            完成经理交代的其它工作。 任职要求：1.形象好，气质佳，有亲和力，待人热情，性格开朗,乐观积极，诚实守信年龄在25-35岁， 2.女性；工作仔细认真、责任心强、执行能力、沟通能力强，服从上级安排，电脑操作熟练，有同行业岗位经验者优先。 3.有较强的文字功底，能熟练的对行政公文类文件进行起草； 4.思维反应敏捷，踏实肯干，能吃苦耐劳，积极进取，能严格遵守公司各项规章制度，并能顺利完成岗位工作的各项指标；具有良好的团队协作精神
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>