<div>
    <h5><strong>可靠易控 经久耐用</strong></h5>
    <hr />
    <p>
        100页／分钟的输出速度
    </p><img src="http://p1.bqimg.com/575659/c3575265bb8cd151.jpg" class="img-responsive center-block" />
    <p>
        以100页／分钟进行高强度印刷作业*1，还可处理小册子和拼版作业。配合使用装订*2功能，可进一步提高生产力。
    </p>
    <p>
        *1
        使用40–216g/m²纸张（适用何种纸张，取决于纸张克重和打印环境等）进行A4长边进纸。
    </p>

    <p>
        *2
        最多可容纳9,000张纸
    </p>

    <img src="http://p1.bqimg.com/575659/dcfc93d19d9d5af8.jpg" class="img-responsive center-block" />
    <p>将主机标配的3,000张容量纸盒和配有3个纸盒的PF-709*3 （6,000张）组合使用，最高可容纳9,000张纸。作业期间，一个纸盒缺纸其它纸盒可立即进行供纸以避免生产中断。</p>
    <p>
        *3
        选购件
        *
        使用80g/m²纸张。
    </p>
    <h5><strong>坚实的机身设计支持大印量作业</strong></h5>
    <hr />
    <img src="http://p1.bqimg.com/575659/e2204242d28a7710.jpg" class="img-responsive center-block" />
    <p>bizhub PRO 1100采用了与其它印刷系统一样坚实、耐用的机身设计。保证了连续作业的稳定性和可靠性。耗材也采用长使用寿命设计，减少了更换的频率。</p>
    <h5><strong>高速双面彩色扫描仪</strong></h5>
    <hr />

    <p>
        以90页／分钟*4的速率扫描A4彩色文档。
        对于双面原稿，两个独立的扫描器传感器可实现180页／分钟*4的高速扫描。
        网络扫描仪功能可对文档进行快速数字化处理。
    </p>
    <p>*4 用于300dpi原稿</p>
    <img src="http://p1.bqimg.com/575659/4f7c1357905219fe.jpg" class="img-responsive center-block" />
    <h5><strong>直观易懂的15英寸控制面板</strong></h5>
    <hr />
    <img src="http://p1.bqimg.com/575659/971a600fd35b21cf.jpg" class="img-responsive center-block" />
    <p>bizhub PRO 1100配备了醒目的15英寸LCD控制面板。一系列功能（例如传票编辑、折叠和装订等）均采用与bizhub PRESS彩色设备相同的图形用户界面，可有效降低操作失误概率，提高工作效率。</p>
    <h5><strong>即使在作业期间也可更换大容量碳粉瓶</strong></h5>
    <hr />
    <img src="http://p1.bqimg.com/575659/26b2e65512324ee0.jpg" class="img-responsive center-block" />
    <p>
        大容量碳粉瓶最高可打印约82,000印*5。bizhub PRO 1100配备了新碳粉瓶门，方便在打印期间更换碳粉，从而提高了工作效率。
        *5 基于A4尺寸，5%的打印覆盖率。
    </p>
    <h5><strong>醒目的LED灯</strong></h5>
    <hr />
    <img src="http://p1.bqimg.com/575659/ade6a9cac47700cf.jpg" class="img-responsive center-block" />
    <p>当环境噪音较大难以听清bizhub PRO 1100语音提示时，信息指示LED灯（选购件）通过四种颜色的组合显示印刷和纸盒状态。</p>
    <h5><strong>紧凑的空间节约型设计</strong></h5>
    <hr />
    <p>
        bizhub PRO 1100采用紧凑的外观设计，可灵活地安装在各种场所。当主机安装了出纸盘OT-507*6时，其最小宽度 为1,860 mm。当安装了装订排纸处理器FS-532*6时，其宽 度约为2,398 mm。
        *6 选购件
    </p>
    <img src="http://p1.bqimg.com/575659/5083d280fa33c25b.jpg" class="img-responsive center-block" />
</div>
规格：
<div>
    <h5><strong>bizhubPRO1100一般规格</strong></h5>
    <hr />
    <table class="table table-bordered table-condensed col-md-12 col-xs-12">
        <tbody>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">类型</td>
                <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">落地型</td>
            </tr>
            <tr>
                <td rowspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">分辨率</td>
                <td style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">扫描</td>
                <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">600&times;600 dpi</td>
            </tr>
            <tr>
                <td style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">打印</td>
                <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">1,200 &times; 1,200 dpi</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">色阶</td>
                <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">256</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">原稿类型</td>
                <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">纸张、书本、物体</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">最大原稿尺寸</td>
                <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">A3 (11&quot;&times;17&quot;)</td>
            </tr>
            <tr>
                <td rowspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">内存容量</td>
                <td style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">内存</td>
                <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">8 GB</td>
            </tr>
            <tr>
                <td style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">硬盘</td>
                <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">1TB</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">输出尺寸(S：短边进纸）</td>
                <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">
                    SRA3、A3-B5、A5、B5S、分页纸、<br />
                    自定义182&times;139 mm（使用小尺寸导板）- 324&times;463 mm
                </td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">图像有效区域</td>
                <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">上边距不大于3 mm，下边距／左右边距不大于2 mm</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">预热时间</td>
                <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">390秒或更短</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">首张复印时间*1</td>
                <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">3.4秒或更短</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">复印／打印速度（A4）</td>
                <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">100 页／分钟</td>
            </tr>
            <tr>
                <td rowspan="5" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">复印缩放倍率</td>
                <td style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">等倍</td>
                <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">1:1&plusmn;0.5%或以下</td>
            </tr>
            <tr>
                <td style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">放大</td>
                <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">1:1.154/1.224/1.414/2.000</td>
            </tr>
            <tr>
                <td style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">缩小</td>
                <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">1:0.866/0.816/0.707/0.500</td>
            </tr>
            <tr>
                <td style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">用户设定倍率</td>
                <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">3种</td>
            </tr>
            <tr>
                <td style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">缩放</td>
                <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">25%-400%（以0.1%为增量）</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">纸张容量( 80g/m2 )</td>
                <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">标配: 1,500张&times;2</td>
            </tr>
            <tr>
                <td rowspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">纸张克重</td>
                <td style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">标配</td>
                <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">40-300 g/m2 (限适用的纸张类型)</td>
            </tr>
            <tr>
                <td style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">选购件</td>
                <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">40-350 g/m2 (仅适用于PF-709的中间纸盒)</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">连续多张复印</td>
                <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">1-9,999张</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">自动双面 （S：短边进纸）</td>
                <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">非堆叠SRA3, A3-B5, A5, B5S</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">电源需求</td>
                <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">220-240 V/15 A</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">最大功耗（主机+PF-709+FS-532）</td>
                <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">3.6 kW或更低</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">尺寸 [宽] &times; [深] &times; [高]</td>
                <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">
                    990&times;910&times;1,160 mm (39&quot;&times;35-3/4&quot;&times;45-3/4&quot;)（主机+自动输稿器）<br />
                    1,211&times;910&times;1,454 mm (47-3/4&quot;&times;35-3/4&quot;&times;57-1/4&quot;)（含操作面板）
                </td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">重量</td>
                <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">340 kg (749-1/2 lb)（主机）</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">占地面积 [宽] &times; [深]</td>
                <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">2,634&times;2,060 mm (103-3/4&quot;&times;81-1/4&quot;) &lt;主机+FS-532+LU-411&gt;</td>
            </tr>
        </tbody>
    </table>
    <p>*1、A4长边全尺寸/使用第一纸盒/从稿台表面扫描。</p>
    <h5><strong>打印机规格（标配）</strong></h5>
    <table class="table table-bordered table-condensed col-md-12 col-xs-12">
        <tbody>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">类型</td>
                <td colspan="5" style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">内置式</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">CPU</td>
                <td colspan="5" style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">Pentium G3420 3.2 GHz</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">内存</td>
                <td colspan="5" style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">2 GB</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">硬盘</td>
                <td colspan="5" style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">1TB 3.5 英寸 SATA</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">打印速度</td>
                <td colspan="5" style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">100页／分钟</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">打印分辨率</td>
                <td colspan="5" style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">1,200 &times; 1,200dpi, 600 &times; 600dpi</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">打印语言</td>
                <td colspan="5" style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">
                    PCL5e/6, PostScript3 (3019), PDF Ver1.7,<br />
                    TIFF Ver. 6 Emulation, PPML (Ver2.2)
                </td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">网络协议</td>
                <td colspan="5" style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">
                    TCP/IP(LPR, RAW socket), IPX/SPX (NDS, Bindery) ,<br />
                    NetBEUI, IPP, AppleTalk, WSD, Bonjour, SMB
                </td>
            </tr>
            <tr>
                <td rowspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">操作系统</td>
                <td style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">PCL</td>
                <td colspan="5" style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">
                    Windows Vista*1/7*1/8*1/8.1*1<br />
                    Windows Server 2008*1/2008 R2/2012/2012 R2
                </td>
            </tr>
            <tr>
                <td style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">PS</td>
                <td colspan="5" style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">
                    Windows Vista*1/7*1/8*1/8.1*1<br />
                    Windows Server 2008*1/2008 R2/2012/2012 R2<br />
                    MAC OSX(10.6/10.7/10.8/10.9/10.10)
                </td>
            </tr>
            <tr>
                <td rowspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">字体</td>
                <td style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">PCL</td>
                <td colspan="5" style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">80种字体</td>
            </tr>
            <tr>
                <td style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">PS</td>
                <td colspan="5" style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">136种字体</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">接口</td>
                <td colspan="5" style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">10Base-T/100Base-TX/1000Base-T, USB3.0 host, USB2.0 device</td>
            </tr>
        </tbody>
    </table>
    <p>*1、支持32位（×86）或者64位（×64）的环境</p>
    <h5><strong>扫描功能（标配）</strong></h5>
    <hr />
    <table class="table table-bordered table-condensed col-md-12 col-xs-12">
        <tbody>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">类型</td>
                <td colspan="5" style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">全彩色</td>
            </tr>
            <tr>
                <td rowspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">扫描速度（A4）</td>
                <td style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">单面</td>
                <td colspan="5" style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">90页／分钟</td>
            </tr>
            <tr>
                <td style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">双面</td>
                <td colspan="5" style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">180页／分钟</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">扫描尺寸</td>
                <td colspan="5" style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">297&times;431.8 mm</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">扫描分辨率</td>
                <td colspan="5" style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">600 dpi, 400 dpi, 300 dpi, 200 dpi</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">网络协议</td>
                <td colspan="5" style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">TCP/IP (FTP, SMB, SMTP, WebDAV) (IPv4/IPv6)</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">操作系统</td>
                <td colspan="5" style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">Windows Vista*1/7*1/8*1/8.1*1</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">接口</td>
                <td colspan="5" style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">Ethernet 10Base-T/100Base-TX/1000Base-T</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">输出格式</td>
                <td colspan="5" style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">PDF, TIFF, Encrypted PDF, XPS, Compact PDF, JPEG</td>
            </tr>
        </tbody>
    </table>
    <p>*1、支持32位（×86）或者64位（×64）的环境</p>
    <h5><strong>双面扫描输稿器（标配）</strong></h5>
    <hr />
    <table class="table table-bordered table-condensed col-md-12 col-xs-12">
        <tbody>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">类型</td>
                <td colspan="5" style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">一次双面系统</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">原稿尺寸</td>
                <td colspan="5" style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">最大A3（自定义297&times;431.8 mm）</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">纸张克重</td>
                <td colspan="5" style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">单面：35-210g/m2，双面：50-210g/m2</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">纸张容量（80g/m2）</td>
                <td colspan="5" style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">最多150张</td>
            </tr>
        </tbody>
    </table>

</div>
耗材：
<h5><strong>选购件</strong></h5>
<hr />
<table class="table table-bordered table-condensed col-md-12 col-xs-12">
    <tbody>
        <tr>
            <td rowspan="3" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">MB-507多功能手送托盘</td>
            <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">纸张克重</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">40-300g/m2</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">纸张尺寸</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">100&times;148-324&times;483 mm</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">纸张容量*1</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">250张</td>
        </tr>
        <tr>
            <td rowspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">OT-507接纸盘</td>
            <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">纸张克重</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">62-300g/m2</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">纸张尺寸</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">95&times;139-324&times;463 mm</td>
        </tr>
        <tr>
            <td rowspan="3" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">PF-709大容量纸柜</td>
            <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">纸张尺寸（S：短边进纸）</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">
                SRA3, A3, B4, A4, SRA4S, A4S, B5, B5S, A5, 12&quot;&times;18&quot;, 11&quot;&times;17&quot;, 8-1/2&quot;&times;14&quot;, 8-1/2&quot;&times;11&quot;, 8-1/2&quot;&times;11&quot;S, 9&quot;&times;11&quot;<br />
                大页纸：8-1/2&quot;&times;13&quot;, 8-1/4&quot;&times;13&quot;, 8-1/8&quot;&times;13-1/4&quot;, 8&quot;&times;13&quot;<br />
                宽纸：A3W, B4W, A4W, A4SW, B5W, B5SW, A5W, 12&quot;&times;18&quot;W, 11&quot;&times;17&quot;W, 8-1/2&quot;&times;11&quot;W, 5-1/2&quot;&times;8-1/2&quot;W<br />
                分页纸：B5ST, A4T, A4ST, B4T, A3T, 8-1/2&quot;&times;11&quot;T, 8-1/2&quot;&times;11&quot;ST, 11&quot;&times;17&quot;T, 5-1/2&quot;&times;8-1/2&quot;T<br />
                自定义95&times;139（使用小尺寸导板）- 324&times;463 mm
            </td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">纸张克重</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">40-350g/m2（40-350g/m2纸张只适用中间纸盒）</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">纸张容量*1</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">2,000张&times;3层纸盒</td>
        </tr>
        <tr>
            <td rowspan="3" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">LU-411大容量纸仓（A4）</td>
            <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">纸张尺寸（S：短边进纸）</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">
                A4, B5, 8-1/2&quot;&times;11&quot;, 9&quot;&times;11&quot;, 8K<br />
                宽纸：A4W, B5W, 8-1/2&quot;&times;11&quot;W<br />
                分页纸：B5T, A4T, 8-1/2&quot;&times;11&quot;T<br />
                自定义：长：176-229 mm, 宽：250-314 mm
            </td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">纸张克重</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">40-300g/m2</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">纸张容量*1</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">4,500张</td>
        </tr>
        <tr>
            <td rowspan="3" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">LU-412大容量纸仓（A3）</td>
            <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">纸张尺寸（S：短边进纸）</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">
                A3, B4, A4, A4S, SRA4S, 11&quot;&times;17&quot;, 8-1/2&quot;&times;14&quot;, 8-1/2&quot;&times;11&quot;, 8-1/2&quot;&times;11&quot;S, 9&quot;&times;11&quot;<br />
                大页纸：8-1/2&quot;&times;13&quot;, 8-1/4&quot;&times;13&quot;, 8-1/8&quot;&times;13-1/4&quot;, 8&quot;&times;13&quot;<br />
                宽纸：A3W, B4W, A4W, A4SW, 11&quot;&times;17&quot;W, 8-1/2&quot;&times;11&quot;W, 8-1/2&quot;&times;11&quot;SW<br />
                分页纸：A4T, A4ST, B4T, A3T, 8-1/2&quot;&times;11&quot;T, 8-1/2&quot;&times;11&quot;ST, 11&quot;&times;17&quot;T,<br />
                自定义：长：195-483 mm, 宽：203-324 mm
            </td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">纸张克重</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">40-300g/m2</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">纸张容量*1</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">4,000张</td>
        </tr>
        <tr>
            <td rowspan="3" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">ZU-608 Z型折叠打孔组件</td>
            <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">打孔</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">2孔／4孔</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">纸张克重</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">打孔：60-91g/m2，Z型折：60-91g/m2</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">纸张尺寸（S：短边进纸）</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">
                2孔：A3S, B4S, A4, A4S, B5, B5S, A5, A5S, B4, B5, B5S, SRA4S, 11&quot;&times;17&quot;S, 8.5&quot;&times;14&quot;S, 8.5&quot;&times;11&quot;, 8.5&quot;&times;11&quot;S<br />
                4孔：A3S, B4S, A4, 11&quot;&times;17&quot;S, 8.5&quot;&times;11&quot;<br />
                Z型折：A3S, B4S
            </td>
        </tr>
        <tr>
            <td rowspan="3" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">FS-532装订排纸处理器</td>
            <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">纸张克重</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">
                打订模式（边角／两点装订）：50-300g/m2<br />
                直接输出／分页模式：40-350g/m2
            </td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">纸张尺寸</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">
                打订模式（边角／两点装订）：203&times;139-331&times;488 mm<br />
                直接输出／分页模式：95&times;133（使用小尺寸导板）-331&times;488 mm<br />
                副纸盘：95&times;133（使用小尺寸导板）-331&times;488 mm
            </td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">纸张容量*1</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">最多4,500张（主输出盘和副输出盘）</td>
        </tr>
        <tr>
            <td rowspan="3" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">PI-502封页插入器</td>
            <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">纸张克重</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">50-300g/m2</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">纸张尺寸（S：短边进纸）</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">
                上层纸盘：A4, A4S, B5, B5S, A5, 8-1/2&quot;&times;11&quot;, 8-1/2&quot;&times;11&quot;S<br />
                下层纸盘：A3, B4, A4, A4S, B5, B5S, A5, SRA4S, 12&quot;&times;18&quot;, 11&quot;&times;17&quot;, 8-1/2&quot;&times;14&quot;, 8-1/2&quot;&times;11&quot;, 8-1/2&quot;&times;11&quot;S
            </td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">纸张容量*1</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">最多200张</td>
        </tr>
        <tr>
            <td rowspan="3" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">PK-522 打孔组件</td>
            <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">打孔</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">2孔／4孔</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">纸张克重</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">60-300g/m2</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">纸张尺寸（S：短边进纸）</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">
                2 孔：A3, B4, A4, A4S, B5, B5S, A5, A5S, 11&quot;&times;17&quot;, 8-1/2&quot;&times;14&quot;, 8-1/2&quot;&times;11&quot;, 8-1/2&quot;&times;11&quot;S, 9&quot;&times;11&quot;<br />
                4孔：A3, B4, A4, B5, 11&quot;&times;17&quot;, 8-1/2&quot;&times;11&quot;, 9&quot;&times;11&quot;
            </td>
        </tr>
        <tr>
            <td rowspan="6" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">SD-510鞍式排纸处理器</td>
            <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">纸张克重</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">鞍式装订：50-216g/m2，内三折：50-105g/m2</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">纸张尺寸（S：短边进纸）</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">
                鞍式装订：A3, B4, A4S, 12&quot;&times;18&quot;, 11&quot;&times;17&quot;, 8-1/2&quot;&times;14&quot;, 8-1/2&quot;&times;11&quot;S<br />
                内三折： A4S, 8-1/2&quot;&times;11&quot;S
            </td>
        </tr>
        <tr>
            <td rowspan="4" style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">纸张容量*1</td>
            <td style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">折叠模式纸盘容量</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">
                鞍式装订：2-5张：35套，6-10张：25套，11-20张：15套；<br />
                对折：1-5张：35套<br />
                内三折：1张：50套，2张：40套，3张：30套
            </td>
        </tr>
        <tr>
            <td style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">鞍式装订容量</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">最多20张</td>
        </tr>
        <tr>
            <td style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">折叠</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">对折：最多5张</td>
        </tr>
        <tr>
            <td style="font-weight: bold; font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(34, 34, 34); background-color: rgb(238, 238, 238);">容量</td>
            <td style="font-family: Arial; font-size: 12px; vertical-align: top; color: rgb(75, 75, 75);">内三折：最多3张</td>
        </tr>
    </tbody>
</table>
<p>*1 80g/m2</p>
<h5><strong>系统配置</strong></h5>
<hr />

<img src="http://i1.piimg.com/575659/8cda22d08e52aa94.jpg" class="img-responsive center-block" />
