特性：
<div>
    <h5><strong>下进上出的U型纸路</strong></h5>
    <hr />
    <p>这款机型支持打印、复印和扫描三合一功能，更支持有线和无线双网络，快捷、方便地接入办公网络中，实现便捷的多人共享使用。</p>
    <h5><strong>以太网接口</strong></h5>
    <hr />
    <img src="http://p1.bpimg.com/575659/b5ced828de480aa1.jpg" class="img-responsive center-block" />
    <h5><strong>无线网络功能键</strong></h5>
    <hr />
    <img src="http://p1.bpimg.com/575659/9e9c58d5c4ef0588.jpg" class="img-responsive center-block" />
    <p>可调节角度的操作面板按键简洁，当然也是少了传真功能、不需要数字键盘的缘故。面板有WiFi按键，可实现一键开启、关闭无线网络；更有一键节能和一键唤醒，操作直观。当然本土化的快捷身份证复印、快捷票据复印功能键也做到了操作面板上，都是非常实用的。</p>
    <h5><strong>可调节的操作面板及简洁的按键设置</strong></h5>
    <hr />
    <img src="http://p1.bpimg.com/575659/88f94a888212f68f.jpg" class="img-responsive center-block" />
    <p>震旦AD 220MNW也标配了ADF输稿器，处理多页文件的扫描和复印更加方便了。耗材上则是常见的鼓粉一体式设计，1600页是比较平均的容量。</p>
    <h5><strong>ADF自动输稿器</strong></h5>
    <hr />
    <img src="http://p1.bpimg.com/575659/33f88856a48cbcdf.jpg" class="img-responsive center-block" />
    <h5><strong>1600页的一体式硒鼓ADDT-220</strong></h5>
    <hr />
    <img src="http://p1.bpimg.com/575659/33f88856a48cbcdf.jpg" class="img-responsive center-block" />
    <p>需要说明的是，震旦AD 220MNW随机带的硒鼓尽管已经安装好，还是要检查一下——去除硒鼓上的保护纸和封条，重新推入安装到位，才能开始使用它。</p>
    <h5><strong>使用前去除硒鼓的保护纸和封条</strong></h5>
    <hr />
    <img src="http://p1.bpimg.com/575659/d1ac314df8ed793c.jpg" class="img-responsive center-block" />
    <p>整体就是一款比较简单、实用的A4激光多功能一体机，外形设计更符合年轻一代的口味；还有更快的22ppm标称打印和复印速度、网络灵活接入，震旦AD 220MNW代表新的办公室理念。</p>
    <h5><strong>快捷WiFi 办公无拘束</strong></h5>
    <hr />
    <img src="http://p1.bpimg.com/575659/6c1a51c308ce9a8a.jpg" class="img-responsive center-block" />
    <p>震旦AD 220MNW支持有线和无线网络两种接入方式，而且自身可以作为接入点直接连接手机、平板、笔记本等移动设备。开启无线热点很简单，按下操作面板的WiFi按键，在手机上找到Aurora-AP开头的无线网名称，输入默认密码12345678就完成了无线直连。</p>
    <p>另一种方式就是在操作面板上浏览系统设置-网络设置-无线网络设置，直接开启WPS PIN码连接方式，与无线路由器进行WPS连接。这种方式的一个缺点就是可能改变无线路由器的配置。</p>
    <h5><strong>操作面板直接进行WPS PIN码连接</strong></h5>
    <hr />
    <img src="http://p1.bpimg.com/575659/58e5da95bdf7184b.jpg" class="img-responsive center-block" />
    <p>而如果已经有布设好的无线办公网络，那么建议使用笔记本电脑安装无线网络驱动、在PC上配置震旦AD 220MNW连接到无线网络中。这样即使再添加新的办公设备，也可以直接找到网络上的震旦打印机、手动添加并共享使用。</p>
    <h5><strong>安装驱动时可设置一体机连接到无线办公网络中</strong></h5>
    <hr />
    <img src="http://p1.bpimg.com/575659/6942c4d85fbe76ef.jpg" class="img-responsive center-block" />
    <p>需要说明的是，WPS PIN码连接方式与另外两种是互斥的。总之震旦AD 220MNW连接无线网络比较简单，那么下一步就是使用移动设备来打印和扫描了</p>
    <h5><strong>APP应用 移动畅打</strong></h5>
    <hr />
    <p>震旦为AD 220MNW专门开发了移动端APP应用，在安卓和iOS平台都支持。安卓手机在官网上下载.apk的安装包，苹果手机在APP STORE搜索AURORA，就可以安装移动应用了。</p>
    <p>
        震旦官网下载.apk格式的APP安装包
    </p>
    <p>
        手机端可以进行打印和扫描；支持从相册中选择图片打印、拍照后打印、打印网页以及打印文本。鉴于震旦AD 220MNW是黑白打印机，图片打印用处并不多；而网页打印适于打印电子邮件、文本打印适于手机中存储的PDF文件，都比较好用。

    </p>
    <p>
        扫描也非常直观，进入后选择多功能一体机AD 220MNW，并选择文稿来源平板/输稿器，点击开始扫描即可，文件保存在手机上。
    </p>
    <p>目前震旦打印APP做得比较简单，有基本的打印和扫描功能可用。后期如果能够支持OFFICE One Drive存储，那么OFFICE文件将能够直接从手机端打印出来，将和一体机搭配得更加完美。</p>
    <h5><strong>印品测试 黑度浓郁</strong></h5>
    <hr />
    <p>来看震旦AD 220MNW的输出效果。不同字体和字号打印测试页，在六号及以上的字体清晰易辨识，并且黑度浓郁。</p>
    <p>
        白底和反相英文字母打印输出效果
        而黑白图文的复印样张与打印样张相比有比较明显的区别。文字部分比较接近，背景灰度明显做了淡化处理，图像部分区分最大，黑度降低、噪点增多，图像质量有明显的下降。
    </p>
    <h5><strong>功耗实测 2级能效</strong></h5>
    <hr />
    <img src="http://p1.bpimg.com/575659/8c7e08742f733ada.jpg" class="img-responsive center-block" />
    <p>休眠状态下，瞬时功率记录2.73瓦，观察一段时间在2.8瓦附近小幅波动，这个休眠功率偏高，很多同速段的激光一体机可以做到2瓦以内甚至更低。打印过程功率先快速到达562瓦，然后快速降低，趋向350-360瓦附近波动；打印完成时待机的瞬时功率记录3.69瓦，是一个平均水平。</p>
    <p>整个打印过程平均功率计得为336.1瓦，控制得相当好，是很低的水平。然而对于打印设备来说，更多的时间处在休眠或待机状态，我们认为这部分的功耗影响了震旦AD 220MNW的整体功耗控制，最终由准入机构颁发的能效标识显示它位于第2档。</p>
    <h5><strong>速度实测 性能良好</strong></h5>
    <hr />
    <p>震旦AD 220MNW的输出速度，按照ISO/IEC 24734的标准测试方法，Word、Excel和PDF的首套输出时间在18到21秒之间，属于平均水平。根据估算饱和输出量计算打印速度，Word为21.8ppm、Excel为21.7ppm、PDF为21.9ppm，都比较接近标称22ppm的打印速度。</p>

</div>
规格：
<table class="table table-bordered table-condensed col-md-12 col-xs-12 col-sm-12">
    <tbody>
        <tr>
            <td colspan=" 2" style="color: rgb(90, 90, 90);">
                产品型号
            </td>
            <td style=" color: rgb(90, 90, 90);">AD220MNW</td>
        </tr>
        <tr>
            <td rowspan="10" style=" color: rgb(90, 90, 90);">基本规格</td>
            <td style=" color: rgb(90, 90, 90);">产品类型</td>
            <td style=" color: rgb(90, 90, 90);">黑白激光多功能一体机</td>
        </tr>
        <tr>
            <td style="color: rgb(90, 90, 90);">打印幅面</td>
            <td style="color: rgb(90, 90, 90);">A4</td>
        </tr>
        <tr>
            <td style=" color: rgb(90, 90, 90);">内存容量</td>
            <td style=" color: rgb(90, 90, 90);">128MB</td>
        </tr>
        <tr>
            <td style=" color: rgb(90, 90, 90);">处理器</td>
            <td style=" color: rgb(90, 90, 90);">600MHz</td>
        </tr>
        <tr>
            <td style=" color: rgb(90, 90, 90);">尺寸（宽*深*高）</td>
            <td style=" color: rgb(90, 90, 90);">417*305*301mm</td>
        </tr>
        <tr>
            <td style=" color: rgb(90, 90, 90);">重量</td>
            <td style=" color: rgb(90, 90, 90);">8.5kg</td>
        </tr>
        <tr>
            <td style=" color: rgb(90, 90, 90);">湿度/温度</td>
            <td style=" color: rgb(90, 90, 90);">10℃-32℃ ~20%-80%</td>
        </tr>
        <tr>
            <td style=" color: rgb(90, 90, 90);">电源</td>
            <td style=" color: rgb(90, 90, 90);">AC220-240V(-15%，+10%)，50/60Hz，3A</td>
        </tr>
        <tr>
            <td style=" color: rgb(90, 90, 90);">功耗</td>
            <td style=" color: rgb(90, 90, 90);">
                打印平均370W
                待机＜45W
                休眠＜3.5W
            </td>
        </tr>
        <tr>
            <td style=" color: rgb(90, 90, 90);">噪音</td>
            <td style=" color: rgb(90, 90, 90);">打印＜52dB，待机＜30dB</td>
        </tr>
        <tr>
            <td rowspan="6" style=" color: rgb(90, 90, 90);">介质规格</td>
            <td style="color: rgb(90, 90, 90);">介质类型</td>
            <td style="color: rgb(90, 90, 90);">普通纸，厚纸，透明胶片，卡片纸，标签，信封，薄纸</td>
        </tr>
        <tr>
            <td style=" color: rgb(90, 90, 90);">介质尺寸共有</td>
            <td style=" color: rgb(90, 90, 90);">
                A4，A5，A6，JIS B5，ISO B5，B6，Letter，Legal Executive，Statement，Monarch envelope，
                DL envelope，C5 envelope，C6 envelope，NO.10 envelope，Japanese Postcard，Folio，Oficio，
                Big 16k，32k，16k，Big 32k
            </td>
        </tr>
        <tr>
            <td style=" color: rgb(90, 90, 90);">介质尺寸其他</td>
            <td style=" color: rgb(90, 90, 90);">ZL，Yougata4，Postcard，Younaga3，Nagagata3，Yougata2</td>
        </tr>
        <tr>
            <td style=" color: rgb(90, 90, 90);">介质重量范围</td>
            <td style=" color: rgb(90, 90, 90);">60~163g/m²</td>
        </tr>
        <tr>
            <td style=" color: rgb(90, 90, 90);">标准纸张输入</td>
            <td style=" color: rgb(90, 90, 90);">150张</td>
        </tr>
        <tr>
            <td style=" color: rgb(90, 90, 90);">标准纸张输出</td>
            <td style=" color: rgb(90, 90, 90);">100张</td>
        </tr>
        <tr>
            <td rowspan="2" style=" color: rgb(90, 90, 90);">耗材规格</td>
            <td style=" color: rgb(90, 90, 90);">耗材类型</td>
            <td style=" color: rgb(90, 90, 90);">鼓粉一体</td>
        </tr>
        <tr>
            <td style="color: rgb(90, 90, 90);">硒鼓寿命</td>
            <td style="color: rgb(90, 90, 90);">1600页</td>
        </tr>
        <tr>
            <td style="color: rgb(90, 90, 90);">保修说明</td>
            <td style="color: rgb(90, 90, 90);">保修期</td>
            <td style="color: rgb(90, 90, 90);">1年</td>
        </tr>
        <tr>
            <td rowspan="11" style="color: rgb(90, 90, 90);">打印规格</td>
            <td style="color: rgb(90, 90, 90);">打印速度</td>
            <td style="color: rgb(90, 90, 90);">
                22页
                分钟
            </td>
        </tr>
        <tr>
            <td style="color: rgb(90, 90, 90);">打印语言</td>
            <td style="color: rgb(90, 90, 90);">GDI</td>
        </tr>
        <tr>
            <td style="color: rgb(90, 90, 90);">双面打印</td>
            <td style="color: rgb(90, 90, 90);">手动双面</td>
        </tr>
        <tr>
            <td style="color: rgb(90, 90, 90);">打印分辨率</td>
            <td style="color: rgb(90, 90, 90);">1200*1200dpi</td>
        </tr>
        <tr>
            <td style="color: rgb(90, 90, 90);">月负荷量</td>
            <td style="color: rgb(90, 90, 90);">≤20，000页</td>
        </tr>
        <tr>
            <td style="color: rgb(90, 90, 90);">接口类型</td>
            <td style="color: rgb(90, 90, 90);">高速USB2.0接口</td>
        </tr>
        <tr>
            <td style="color: rgb(90, 90, 90);">网络打印支持</td>
            <td style="color: rgb(90, 90, 90);">100Base-Tx Ethernet</td>
        </tr>
        <tr>
            <td style="color: rgb(90, 90, 90);">移动支持</td>
            <td style="color: rgb(90, 90, 90);">WiFi 802.11b</td>
        </tr>
        <tr>
            <td style="color: rgb(90, 90, 90);">首页输出时间</td>
            <td style="color: rgb(90, 90, 90);">＜7.8s</td>
        </tr>
        <tr>
            <td style="color: rgb(90, 90, 90);">操作系统-共有</td>
            <td style="color: rgb(90, 90, 90);">
                Microsoft Windows
                Mac OS 10.6/10.7/10.8
            </td>
        </tr>
        <tr>
            <td style="color: rgb(90, 90, 90);">操作系统-其他</td>
            <td style="color: rgb(90, 90, 90);">
                Win8.1(32~64位)
                Mac OS 10.9 ~10.10,Linux
                IOS 6.0-8.1,Andriod 2.3-4.4
                中标麒麟（龙芯）
            </td>
        </tr>

        <tr>
            <td colspan="3" style="color: rgb(90, 90, 90);">AD220MNW 复印&amp;扫描规格</td>
        </tr>
        <tr>
            <td colspan="2" style=" color: rgb(90, 90, 90);">复印速度</td>
            <td style="color: rgb(90, 90, 90);">22页 分钟</td>
        </tr>
        <tr>
            <td colspan="2" style="color: rgb(90, 90, 90);">复印分辨率</td>
            <td style="color: rgb(90, 90, 90);">1200*1200dpi</td>
        </tr>
        <tr>
            <td colspan="2" style=" color: rgb(90, 90, 90);">首页复印时间</td>
            <td style="color: rgb(90, 90, 90);">平板＜10s,ADF＜12秒</td>
        </tr>
        <tr>
            <td colspan="2" style="color: rgb(90, 90, 90);">缩放比例</td>
            <td style="color: rgb(90, 90, 90);">50-400%</td>
        </tr>
        <tr>
            <td colspan="2" style="color: rgb(90, 90, 90);">连续复印</td>
            <td style="color: rgb(90, 90, 90);">1-99份</td>
        </tr>
        <tr>
            <td colspan="2" style="color: rgb(90, 90, 90);">其他复印功能</td>
            <td style="color: rgb(90, 90, 90);">一键身份证复印，票据复印，多合一复印，克隆复印</td>
        </tr>
        <tr>
            <td colspan="2" style=" color: rgb(90, 90, 90);">扫描速度</td>
            <td style=" color: rgb(90, 90, 90);">22页分钟</td>
        </tr>
        <tr>
            <td colspan="2" style=" color: rgb(90, 90, 90);">扫描形式</td>
            <td style=" color: rgb(90, 90, 90);">平板+ADF</td>
        </tr>
        <tr>
            <td colspan="2" style="color: rgb(90, 90, 90);">扫描分辨率</td>
            <td style=" color: rgb(90, 90, 90);">
                平板1200*1200dpi
                ADF600*600dpi
            </td>
        </tr>
        <tr>
            <td colspan="2" style="color: rgb(90, 90, 90);">彩色扫描</td>
            <td style="color: rgb(90, 90, 90);">支持</td>
        </tr>
        <tr>
            <td colspan="2" style="color: rgb(90, 90, 90);">扫描尺寸</td>
            <td style=" color: rgb(90, 90, 90);">
                平板216*297mm
                ADF216*356mm
            </td>
        </tr>
        <tr>
            <td colspan="2" style=" color: rgb(90, 90, 90);">扫描输出功能</td>
            <td style="color: rgb(90, 90, 90);">扫描到PC、邮件、FTP、IOS/Andriod</td>
        </tr>
    </tbody>
</table>

耗材：
<h5><strong>硒鼓AD181 188 AD199 219 239套鼓 IU显影组件</strong></h5>
<img src="http://p1.bqimg.com/575659/b2ffa5ee874b9bda.jpg" class="img-responsive center-block" />
