<img src="http://i1.piimg.com/575659/9e5a881c75d45dab.jpg" class="img-responsive center-block">
<table class="table table-bordered table-condensed col-md-12 col-sm-12 col-xs-12">
    <tbody>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">系列</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">清风系列</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">适用面积</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">25-30m&sup2;</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">CADR(洁净空气量)</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(51, 51, 51);">247m&sup3;/h</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">重量</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">4.6kg</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">颜色</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">苹果白</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">电源</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">220V 50HZ</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">最大功率</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">58W</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">最小噪音</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">30dBA</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">本机尺寸（宽x深x高）</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">400x161x425mm</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">出气方向</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">前侧</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">进气方向</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">左侧</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">脚轮</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">无</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">传感器</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">空气质量传感器</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">滤芯更换提醒</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">无</td>
        </tr>
    </tbody>
</table>
