特性：
<div>
    <img src="http://p1.bqimg.com/575659/cf7ce9552343b5cd.jpg" class="img-responsive center-block" />
    <p>
        AD240PN打印速度高达24页/分钟，高达95%的转印率，基于传 输技术降低11%的碳粉浪费，月负荷打印达到20000页，极大程度满 足用户大印量打印需求。
    </p>
    <img src="http://p1.bqimg.com/575659/ffa9a22ff113c3f2.jpg" class="img-responsive center-block" />
    <p>
        AD240PN提供海报打印、N-up打印，方便用户制作不同文件且 支持多种纸张类型打印，如信封和胶片。
    </p>
    <img src="http://p1.bqimg.com/575659/679cd95a6c3db14a.jpg" class="img-responsive center-block" />
    <p>
        AD240PN小巧机身，符合环境设计，完美融入办公环境
    </p>
    <img src="http://p1.bqimg.com/575659/fd045cd093aa73e1.jpg" class="img-responsive center-block" />
</div>
规格：
<table class="table table-bordered table-condensed col-md-12 col-sm-12 col-xs-12">
    <tbody>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: 'Microsoft YaHei', STXihei; font-size: 14px; vertical-align: middle; background-color: rgb(241, 241, 241);">基本参数</td>
        </tr>
        <tr>
            <td style="font-weight: bold; font-family: 'Microsoft YaHei', STXihei; font-size: 12px; text-align: right; vertical-align: middle;">产品类型</td>
            <td style="font-family: 'Microsoft YaHei', STXihei; font-size: 12px; vertical-align: middle;">黑白激光打印机</td>
        </tr>
        <tr>
            <td style="font-weight: bold; font-family: 'Microsoft YaHei', STXihei; font-size: 12px; text-align: right; vertical-align: middle;">产品定位</td>
            <td style="font-family: 'Microsoft YaHei', STXihei; font-size: 12px; vertical-align: middle;">中小型企业/政府</td>
        </tr>
        <tr>
            <td style="font-weight: bold; font-family: 'Microsoft YaHei', STXihei; font-size: 12px; text-align: right; vertical-align: middle;">最大打印幅面</td>
            <td style="font-family: 'Microsoft YaHei', STXihei; font-size: 12px; vertical-align: middle;">A4</td>
        </tr>
        <tr>
            <td style="font-weight: bold; font-family: 'Microsoft YaHei', STXihei; font-size: 12px; text-align: right; vertical-align: middle;">最高分辨率</td>
            <td style="font-family: 'Microsoft YaHei', STXihei; font-size: 12px; vertical-align: middle;">1200*1200</td>
        </tr>
        <tr>
            <td style="font-weight: bold; font-family: 'Microsoft YaHei', STXihei; font-size: 12px; text-align: right; vertical-align: middle;">黑白打印速度</td>
            <td style="font-family: 'Microsoft YaHei', STXihei; font-size: 12px; vertical-align: middle;">24页/分钟</td>
        </tr>
        <tr>
            <td style="font-weight: bold; font-family: 'Microsoft YaHei', STXihei; font-size: 12px; text-align: right; vertical-align: middle;">处理器</td>
            <td style="font-family: 'Microsoft YaHei', STXihei; font-size: 12px; vertical-align: middle;">600</td>
        </tr>
        <tr>
            <td style="font-weight: bold; font-family: 'Microsoft YaHei', STXihei; font-size: 12px; text-align: right; vertical-align: middle;">内存</td>
            <td style="font-family: 'Microsoft YaHei', STXihei; font-size: 12px; vertical-align: middle;">128</td>
        </tr>
        <tr>
            <td style="font-weight: bold; font-family: 'Microsoft YaHei', STXihei; font-size: 12px; text-align: right; vertical-align: middle;">网络功能</td>
            <td style="font-family: 'Microsoft YaHei', STXihei; font-size: 12px; vertical-align: middle;">支持</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: 'Microsoft YaHei', STXihei; font-size: 14px; vertical-align: middle; background-color: rgb(241, 241, 241);">打印性能</td>
        </tr>
        <tr>
            <td style="font-weight: bold; font-family: 'Microsoft YaHei', STXihei; font-size: 12px; text-align: right; vertical-align: middle;">打印方式</td>
            <td style="font-family: 'Microsoft YaHei', STXihei; font-size: 12px; vertical-align: middle;">海报打印、N-up打印</td>
        </tr>
        <tr>
            <td style="font-weight: bold; font-family: 'Microsoft YaHei', STXihei; font-size: 12px; text-align: right; vertical-align: middle;">首页打印时间</td>
            <td style="font-family: 'Microsoft YaHei', STXihei; font-size: 12px; vertical-align: middle;">8.5秒</td>
        </tr>
        <tr>
            <td style="font-weight: bold; font-family: 'Microsoft YaHei', STXihei; font-size: 12px; text-align: right; vertical-align: middle;">月打印负荷</td>
            <td style="font-family: 'Microsoft YaHei', STXihei; font-size: 12px; vertical-align: middle;">20000页</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: 'Microsoft YaHei', STXihei; font-size: 14px; vertical-align: middle; background-color: rgb(241, 241, 241);">耗材</td>
        </tr>
        <tr>
            <td style="font-weight: bold; font-family: 'Microsoft YaHei', STXihei; font-size: 12px; text-align: right; vertical-align: middle;">耗材类型</td>
            <td style="font-family: 'Microsoft YaHei', STXihei; font-size: 12px; vertical-align: middle;">鼓粉一体</td>
        </tr>
        <tr>
            <td style="font-weight: bold; font-family: 'Microsoft YaHei', STXihei; font-size: 12px; text-align: right; vertical-align: middle;">硒鼓型号</td>
            <td style="font-family: 'Microsoft YaHei', STXihei; font-size: 12px; vertical-align: middle;">240</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: 'Microsoft YaHei', STXihei; font-size: 14px; vertical-align: middle; background-color: rgb(241, 241, 241);">介质规格</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: 'Microsoft YaHei', STXihei; font-size: 14px; vertical-align: middle; background-color: rgb(241, 241, 241);">其它参数</td>
        </tr>
        <tr>
            <td style="font-weight: bold; font-family: 'Microsoft YaHei', STXihei; font-size: 12px; text-align: right; vertical-align: middle;">产品重量</td>
            <td style="font-family: 'Microsoft YaHei', STXihei; font-size: 12px; vertical-align: middle;">7.7kg</td>
        </tr>
        <tr>
            <td style="font-weight: bold; font-family: 'Microsoft YaHei', STXihei; font-size: 12px; text-align: right; vertical-align: middle;">上市日期</td>
            <td style="font-family: 'Microsoft YaHei', STXihei; font-size: 12px; vertical-align: middle;">2016年</td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold; font-family: 'Microsoft YaHei', STXihei; font-size: 14px; vertical-align: middle; background-color: rgb(241, 241, 241);">激光打印机附件</td>
        </tr>
        <tr>
            <td style="font-weight: bold; font-family: 'Microsoft YaHei', STXihei; font-size: 12px; text-align: right; vertical-align: middle;">包装清单</td>
            <td style="font-family: 'Microsoft YaHei', STXihei; font-size: 12px; vertical-align: middle;">光盘、打印线</td>
        </tr>
    </tbody>
</table>
耗材：
ADDT-240S 
