特性：<div>
    <img src="http://i1.piimg.com/575659/e9bbe5d915350a47.jpg" class="img-responsive center-block" />
    <img src="http://i1.piimg.com/575659/3c118d911008b584.png" class="img-responsive center-block" />
    <p><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span>AD330PDN打印速度高达33页/分钟，使用户的文件勘g告输出更 快速，再大印量也能轻松应对。标配自动双面打印，无需手动翻页，双 面文件打印效率更高。</p>
    <img src="http://i1.piimg.com/575659/b0f6ae35ccd3a71c.png" class="img-responsive center-block" />
    <p><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span>AD330PDN标配250页大容量纸盒，可拆卸式纸盒方便用户装纸 轻松，并且能够打印多种尺寸和类型纸张，可承载最高每月5万页的打 印量。</p>
    <img src="http://i1.piimg.com/575659/10904587014ba7f2.png" class="img-responsive center-block" />
</div>
规格：
<table class="table table-bordered table-condensed col-md-12 col-sm-12 col-xs-12">
    <tr>
        <td colspan="2" style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">产品型号</td>
        <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">AD330PDN</td>
    </tr>
    <tr>
        <td rowspan="10" style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">基本规格</td>
        <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">产品类型</td>
        <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">黑白激光打印机</td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">打印幅面</td>
        <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">A4</td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">内存容量</td>
        <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">128MB</td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">处理器</td>
        <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">600MHz</td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">尺寸（宽*深*高）</td>
        <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">370*370*270mm</td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">重量</td>
        <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">9.1kg</td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">湿度/温度</td>
        <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">10℃-32℃~20%-80%</td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">电源</td>
        <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">AC220-240V(-15%，+10%)，50~60Hz，3A</td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">功耗</td>
        <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">
            打印平均495W
            待机《50W
            休眠《3.5W
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">噪音</td>
        <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">打印：52dB，待机：30dB</td>
    </tr>
    <tr>
        <td rowspan="5" style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">介质规格</td>
        <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">介质类型</td>
        <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">普通纸，厚纸，透明胶片，卡片纸，标签，信封，薄纸</td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">介质尺寸-共有</td>
        <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">
            A4，A5，A6，JIS B5，ISO B5，B6，Letter，Legal Executive，Statement，Monarch envelope，
            DL envelope，C5 envelope，C6 envelope，NO.10 envelope，Japanese Postcard，Folio，Oficio，
            Big 16k，32k，16k，Big 32k
        </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">介质重量范围</td>
        <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">60~200g~m&sup2;</td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">标准纸张输入</td>
        <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">250张</td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">标准纸张输出</td>
        <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">100张</td>
    </tr>
    <tr>
        <td rowspan="2" style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">耗材规格</td>
        <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">耗材类型</td>
        <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">鼓粉一体</td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">硒鼓寿命</td>
        <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">3000页~6000页</td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">保修说明</td>
        <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">保修期</td>
        <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">1年</td>
    </tr>
    <tr>
        <td rowspan="10" style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">打印规格</td>
        <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">打印速度</td>
        <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">33ppm</td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">打印语言</td>
        <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">GDI</td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">双面打印</td>
        <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">自动双面</td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">打印分辨率</td>
        <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">1200*1200dpi</td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">月负荷量</td>
        <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">&le;50，000页</td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">接口类型</td>
        <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">高速USB2.0接口</td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">网络打印支持</td>
        <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">10~100Base-Tx Ethernet</td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">首页输出时间</td>
        <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">5.5秒</td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">操作系统共有</td>
        <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">
            Microsoft Windows and Mac OS         </td>
    </tr>
    <tr>
        <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">操作系统其他</td>
        <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">Mac OS 10.4~10.5</td>
    </tr>
 
</table>
耗材：