特性：
<div class="panel panel-default">
    <div class="panel-heading">【1】 高价值的产品性能，效用卓越</div>
    <div class="panel-body">
       
        <p>
            考虑到现代商务用户对高效办公的极致追求，震旦在产品性能上精益求精。ADC265的复印与打印速度26页/分钟，并且可实现黑白与彩色的同速输出。扫描速度达到黑白和彩色同速30页/分钟（600dpi画质下），杰出的扫描作业能力能够轻松地满足用户将纸质文件进行快速电子归档的要求，实现商务办公的事半功倍。此外，震旦ADC265的预热时间均仅需20秒，启动迅捷且不失稳定，大幅度缩减用户的等待成本。

            震旦在产品性能上卓越的成效不仅仅体现在输出能力上，也体现在具体贴心的功能设置上。ADC265配备了USB 端口，无需打印驱动就可直接打印输出USB等移动存储设备中的文档。而考虑到中国用户的特殊需求，新品还搭载了“红头文件专色功能”，能够轻松、精确地满足政府机构在输出红头文件时对作业品质的高要求。

            用户还可在震旦ADC265的操作面板上设置快捷键， 方便用户的一键调用，极大程度地简化作业流程，提高工作效率。同时，ADC265的主菜单上非常人性化地添加了“身份证复印”按键，一键即可轻松地将身份证或是银行卡等正反两面同时复印到纸张的同一页面上。
        </p>
        <img src="http://a2.qpic.cn/psb?/V145QSsX0po4Az/qwzcUznZdGwjjzXQXwtTQVrypr3O4aZ.Q5HsRjqRwlQ!/b/dHgBAAAAAAAA&bo=gAIdBAAAAAAFB78!&rf=viewer_4" class="img-responsive center-block"></div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">【2】人性化的设计理念，操作流畅</div>
    <div class="panel-body">
        <p>震旦ADC265仍然采用了震旦一贯的INFO-Palette 设计，可以让用户感受操作上的一致性，保证用户在任何的场合，使用任何的智能终端都能与复合机无缝连接，获得良好的操作体验。值得一提的是，震旦首次在该等级的机型上采用了可触摸的操作面板，助力用户获得更为直观的操作即视感。操作面板上新增了可隐藏的快捷键菜单，方便用户将频繁使用的功能直接注册为快捷功能，进行一键调用。除此以外，用户可以在触摸屏上采用多种手势进行操作，就像使用智能手机和平板电脑一样快速简单，顺应了现代商务人士的操作习惯。</p>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">【3】智能型解决方案，灵活便利</div>
    <div class="panel-body">
        <p>震旦ADC265不仅在产品性能与操作上至臻至美，更可加载多种基本型的解决方案。在文档安全性上，ADC265拥有体系完整的认证方式，包括有本机密码认证、IC卡身份认证、生物静脉认证这三种，安全性高，识别能力强。用户可根据实际情况自由选择，以规避机密文件的丢失盗用，最大程度的保护用户企业的商业智慧。在功能扩展上，ADC265支持Open API平台，可以扩展约150个外部应用，充分利用多功能复合机的高性能，通过兼容外部应用程序来灵活地构建专门为用户环境而定制的系统，为用户带来便利。此外，新品系列还可通过Open API平台来实现账户管理功能，该功能使得管理层可以分级设定每个使用者的使用权限，大幅度地提高了企业内部的安全级别，全方位满足商务用户的不同需求。</p>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">【4】多维度网络连接，高效便捷</div>
    <div class="panel-body">
        <p>ADC265在操作面板上配备与震旦中高速设备无差异化的移动触控区，当配合移动终端自带的NFC芯片（安卓系统）或Bluetooth LE（ios 系统）时， 用户可实现在无线网络环境中与复合机设备的配对、搜索、注册和认证等功能，实现智能终端的快速对接。与此同时，用户也可以配合PageScope Mobile 进行打印和扫描，畅享先进便捷的工作模式。另外，新品还支持多种行业标准化移动连接技术（包括Mopria 联盟颁布的无线行业标准“Mopria print service”以及Apple AirPrint），让连接毫无阻碍。</p>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">【5】行之有效的环保措施，践行绿色商务</div>
    <div class="panel-body">
        <p>节能环保是震旦产品的传统优势，ADC265的TEC值最低可降至 1.0kWh，实现了对能源之星标准和上一代产品 TEC 值的双超越，有效帮助用户节省能源消耗、缩减总体拥有成本。不仅如此，ADC265还实现了低能耗睡眠、一键节能、Eco功能等行之有效的节能环保功能，可有效提升能耗降低并减少复合机运作时对于周遭环境的影响，为用户免去了繁复的节能设定，帮助用户提升节能意识，打造绿色商务环境。</p>
    </div>
</div>
规格：
<div class="table-responsive">
    <table class="table table-bordered table-condensed col-md-12 col-xs-12">
        <tbody>
            <tr>
                <td class="xl79" colspan="3" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="517">基本规格</td>
            </tr>
            <tr>
                <td class="xl80" colspan="2" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);">　</td>
                <td class="xl75" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);">ADC265</td>
            </tr>
            <tr>
                <td class="xl66" colspan="2" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="170">产品类型</td>
                <td class="xl73" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="347">桌面式</td>
            </tr>
            <tr>
                <td class="xl66" colspan="2" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="170">颜色支持</td>
                <td class="xl73" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="347">彩色</td>
            </tr>
            <tr>
                <td class="xl66" height="44" rowspan="2" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="123">分辨率</td>
                <td class="xl66" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="47">扫描</td>
                <td class="xl73" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="347">600dpi x 600dpi</td>
            </tr>
            <tr>
                <td class="xl66" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="47">打印</td>
                <td class="xl73" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="347">1800dpi(等效)x 600dpi</td>
            </tr>
            <tr>
                <td class="xl66" colspan="2" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="170">灰度级</td>
                <td class="xl74" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="347">256</td>
            </tr>
            <tr>
                <td class="xl66" height="44" rowspan="2" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="123">内存</td>
                <td class="xl66" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="47">标准</td>
                <td class="xl68" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="347">3GB&nbsp;</td>
            </tr>
            <tr>
                <td class="xl66" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="47">最大</td>
                <td class="xl68" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="347">3GB&nbsp;</td>
            </tr>
            <tr>
                <td class="xl66" colspan="2" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="170">原稿类型</td>
                <td class="xl73" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="347">纸张,书本,三维物体(最大2Kg)</td>
            </tr>
            <tr>
                <td class="xl66" colspan="2" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="170">最大原稿尺寸</td>
                <td class="xl73" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="347">A3</td>
            </tr>
            <tr>
                <td class="xl66" colspan="2" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="170">输出纸张尺寸</td>
                <td class="xl73" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="347">A3~A5,B6,A6,长纸</td>
            </tr>
            <tr>
                <td class="xl66" colspan="2" height="44" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="170">非复印区域</td>
                <td class="xl69" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="347">图像顶部,距边缘4.2mm 图像底部,距边缘3mm 图像左右,距边缘3mm</td>
            </tr>
            <tr>
                <td class="xl66" colspan="2" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="170">预热时间</td>
                <td class="xl66" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="347">约20秒</td>
            </tr>
            <tr>
                <td class="xl69" height="44" rowspan="2" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="123">首页输出时间* 1</td>
                <td class="xl66" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="47">彩色</td>
                <td class="xl73" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="347">8.4秒</td>
            </tr>
            <tr>
                <td class="xl66" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="47">黑白</td>
                <td class="xl73" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="347">6.8秒</td>
            </tr>
            <tr>
                <td class="xl66" height="44" rowspan="2" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="123">输出速度</td>
                <td class="xl66" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="47">彩色</td>
                <td class="xl68" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="347">26页/分钟&nbsp;</td>
            </tr>
            <tr>
                <td class="xl66" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="47">黑白</td>
                <td class="xl68" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="347">26页/分钟</td>
            </tr>
            <tr>
                <td class="xl66" height="132" rowspan="6" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="123">复印缩放倍率</td>
                <td class="xl66" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="47">等倍</td>
                <td class="xl73" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="347">1:1 + / -0.5%或以下</td>
            </tr>
            <tr>
                <td class="xl66" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="47">比例放大</td>
                <td class="xl73" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="347">1:1.154 / 1.224 / 1.414 / 2.000</td>
            </tr>
            <tr>
                <td class="xl66" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="47">比例缩小</td>
                <td class="xl73" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="347">1:0.866 / 0.816 / 0.707 / 0.500</td>
            </tr>
            <tr>
                <td class="xl66" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="47">预设</td>
                <td class="xl73" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="347">3个定制设置</td>
            </tr>
            <tr>
                <td class="xl66" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="47">缩放</td>
                <td class="xl73" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="347">25%~400%(以0.1%为增量)</td>
            </tr>
            <tr>
                <td class="xl66" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="47">纵横单独设置</td>
                <td class="xl73" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="347">25%~400%(以0.1%为增量)</td>
            </tr>
            <tr>
                <td class="xl66" height="44" rowspan="2" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="123">标准纸张容量(80g/m2)</td>
                <td class="xl66" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="47">标配纸盒</td>
                <td class="xl73" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="347">500页 x 2</td>
            </tr>
            <tr>
                <td class="xl66" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="47">手送托盘</td>
                <td class="xl73" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="347">100页</td>
            </tr>
            <tr>
                <td class="xl66" height="44" rowspan="2" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="123">纸张克重</td>
                <td class="xl66" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="47">标配纸盒</td>
                <td class="xl73" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="347">60-256g/m2</td>
            </tr>
            <tr>
                <td class="xl66" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="47">手送托盘</td>
                <td class="xl73" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="347">60-256g/m2</td>
            </tr>
            <tr>
                <td class="xl66" colspan="2" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="170">连续复印</td>
                <td class="xl73" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="347">1-9,999页</td>
            </tr>
            <tr>
                <td class="xl66" colspan="2" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="170">双面器</td>
                <td class="xl73" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="347">无堆叠,A3~A5,B6,A6(60~256g/m2)</td>
            </tr>
            <tr>
                <td class="xl66" colspan="2" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="170">电源要求</td>
                <td class="xl73" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="347">AC220-240V,8.0A,50/60Hz</td>
            </tr>
            <tr>
                <td class="xl66" colspan="2" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="170">最大功耗</td>
                <td class="xl73" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="347">1.58kw</td>
            </tr>
            <tr>
                <td class="xl66" colspan="2" height="46" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="170">机身尺寸(宽x深x高)</td>
                <td class="xl68" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="347">571x660x881.4mm(主机+ADF)&nbsp;</td>
            </tr>
            <tr>
                <td class="xl66" colspan="2" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="170">机身重量</td>
                <td class="xl68" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="347">71Kg(主机+ADF)&nbsp;</td>
            </tr>
            <tr>
                <td class="xl65" height="16" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);">&nbsp;</td>
                <td class="xl65" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);">&nbsp;</td>
                <td class="xl65" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);">&nbsp;</td>
            </tr>
            <tr>
                <td class="xl78" colspan="3" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);">扫描规格（标配）</td>
            </tr>
            <tr>
                <td class="xl68" colspan="2" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="170">类型</td>
                <td class="xl66" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="347">全彩色扫描仪</td>
            </tr>
            <tr>
                <td class="xl68" colspan="2" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="170">接口</td>
                <td class="xl66" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="347">Ethernet 10Base-T/100Base-TX/1000Base-T</td>
            </tr>
            <tr>
                <td class="xl68" colspan="2" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="170">协议</td>
                <td class="xl66" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="347">TCP/IP(FTP,SMB,SMTP,WebDAV)</td>
            </tr>
            <tr>
                <td class="xl68" colspan="2" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="170">扫描速度(彩色黑白同速)</td>
                <td class="xl66" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="347">30页/分钟</td>
            </tr>
            <tr>
                <td class="xl68" colspan="2" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="170">扫描尺寸</td>
                <td class="xl66" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="347">最大A3</td>
            </tr>
            <tr>
                <td class="xl68" colspan="2" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="170">输出格式</td>
                <td class="xl67" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="347">
                    1 1 1<br>
                    TIFF, JPEG, PDF, Compact PDF,OOXML(pptx* ), XPS* , Compact XPS*
                </td>
            </tr>
            <tr>
                <td class="xl68" colspan="2" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="170">
                    推扫描<br>
                    <span class="font6">扫描分辨率</span>
                </td>
                <td class="xl66" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="347">200dpi/300dpi/400dpi/600dpi</td>
            </tr>
            <tr>
                <td class="xl68" colspan="2" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="170">拉扫描</td>
                <td class="xl66" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="347">100pi/200dpi/300dpi/400dpi/600dpi</td>
            </tr>
            <tr>
                <td class="xl65" height="16" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);">&nbsp;</td>
                <td class="xl65" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);">&nbsp;</td>
                <td class="xl65" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);">&nbsp;</td>
            </tr>
            <tr>
                <td class="xl77" colspan="3" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="517">打印规格(标配)</td>
            </tr>
            <tr>
                <td class="xl66" colspan="2" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="170">内存</td>
                <td class="xl66" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="347">与复合机共享</td>
            </tr>
            <tr>
                <td class="xl73" colspan="2" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="170">打印语言</td>
                <td class="xl66" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="347">PCL5e/c, PCL6, PostScript3 compatible,XPS</td>
            </tr>
            <tr>
                <td class="xl73" colspan="2" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="170">打印速度</td>
                <td class="xl66" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="347">与复印速度相同</td>
            </tr>
            <tr>
                <td class="xl73" colspan="2" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="170">打印分辨率</td>
                <td class="xl66" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="347">1800dpi(等效)x 600dpi</td>
            </tr>
            <tr>
                <td class="xl76" height="44" rowspan="2" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="123">字体</td>
                <td class="xl70" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="47">PCL</td>
                <td class="xl66" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="347">80种字体</td>
            </tr>
            <tr>
                <td class="xl70" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="47">PS</td>
                <td class="xl66" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="347">137种字体</td>
            </tr>
            <tr>
                <td class="xl73" colspan="2" height="31" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="170">协议</td>
                <td class="xl66" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="347">TCP/IP(LPD, Raw SMB, IPP)</td>
            </tr>
            <tr>
                <td class="xl73" colspan="2" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="170">操作系统</td>
                <td class="xl69" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="347">
                    Windows Vista/Vistax64/7/7x64/8.1/8.1x64/10/10x64 Windows Server 2008/2008x64/2008 R2/2012/2012 R2 Mac OSX 10.7, 8, 9, 10.10, 10.11<br>
                    Linux
                </td>
            </tr>
            <tr>
                <td class="xl73" colspan="2" height="66" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="170">接口</td>
                <td class="xl66" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="347">Ethernet 10Base-T/100Base-TX/1000Base-T USB2.0/USB1.1</td>
            </tr>
            <tr>
                <td class="xl65" height="16" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);">&nbsp;</td>
                <td class="xl65" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);">&nbsp;</td>
                <td class="xl65" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);">&nbsp;</td>
            </tr>
            <tr>
                <td class="xl72" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);">自动输稿器(DF-630）</td>
                <td class="xl72" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);">　</td>
                <td class="xl72" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);">　</td>
            </tr>
            <tr>
                <td class="xl71" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);">型号</td>
                <td class="xl82" colspan="2" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);">ADC265</td>
            </tr>
            <tr>
                <td class="xl68" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="123">形式</td>
                <td class="xl84" colspan="2" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="394">标配&nbsp;</td>
            </tr>
            <tr>
                <td class="xl68" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="123">输稿器类型</td>
                <td class="xl66" colspan="2" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="394">翻转自动输稿器</td>
            </tr>
            <tr>
                <td class="xl68" height="68" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="123">原稿类型</td>
                <td class="xl69" colspan="2" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="394">
                    单面:35~128g/m2&nbsp;<br>
                    双面:50~128g/m2&nbsp;<br>
                    混合:50~128g/m2
                </td>
            </tr>
            <tr>
                <td class="xl68" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="123">最大原稿尺寸</td>
                <td class="xl66" colspan="2" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="394">A3</td>
            </tr>
            <tr>
                <td class="xl68" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="123">容量(80g/m2)</td>
                <td class="xl66" colspan="2" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="394">70页</td>
            </tr>
            <tr>
                <td class="xl68" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="123">进纸速度</td>
                <td class="xl66" colspan="2" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="394">30页/分钟</td>
            </tr>
            <tr>
                <td class="xl68" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="123">尺寸(宽x深x高)</td>
                <td class="xl66" colspan="2" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="394">559mmx474mmx96mm</td>
            </tr>
            <tr>
                <td class="xl68" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="123">重量</td>
                <td class="xl66" colspan="2" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90);" width="394">约5.1Kg</td>
            </tr>
        </tbody>
    </table>

</div>