特性：
<img src="http://p1.bpimg.com/567571/d8ced0232a216ade.png" class="center-block img-responsive" />
     规格：><div class="table-responsive">
    <table class="table table-bordered table-condensed col-md-12 col-xs-12">
       
        <tbody>
            <tr>
                <td class="danger" colspan="3" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="518">基本规格</td>
            </tr>
            <tr>
                <td  colspan="2" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);">　</td>
                <td class="xl75" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);">ADC225</td>
            </tr>
            <tr>
                <td class="xl64" colspan="2" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="170">产品类型</td>
                <td class="xl71" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="348">桌面式</td>
            </tr>
            <tr>
                <td class="xl64" colspan="2" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="170">颜色支持</td>
                <td class="xl71" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="348">彩色</td>
            </tr>
            <tr>
                <td class="xl64" height="44" rowspan="2" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="123">分辨率</td>
                <td class="xl64" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="47">扫描</td>
                <td class="xl71" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="348">600dpi x 600dpi</td>
            </tr>
            <tr>
                <td class="xl64" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="47">打印</td>
                <td class="xl71" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="348">1800dpi(等效)x 600dpi</td>
            </tr>
            <tr>
                <td class="xl64" colspan="2" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="170">灰度级</td>
                <td class="xl74" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="348">256</td>
            </tr>
            <tr>
                <td class="xl64" height="44" rowspan="2" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="123">内存</td>
                <td class="xl64" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="47">标准</td>
                <td class="xl75" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);">1GB</td>
            </tr>
            <tr>
                <td class="xl64" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="47">最大</td>
                <td class="xl75" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);">3GB</td>
            </tr>
            <tr>
                <td class="xl64" colspan="2" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="170">原稿类型</td>
                <td class="xl71" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="348">纸张,书本,三维物体(最大2Kg)</td>
            </tr>
            <tr>
                <td class="xl64" colspan="2" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="170">最大原稿尺寸</td>
                <td class="xl71" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="348">A3</td>
            </tr>
            <tr>
                <td class="xl64" colspan="2" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="170">输出纸张尺寸</td>
                <td class="xl71" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="348">A3~A5,B6,A6,长纸</td>
            </tr>
            <tr>
                <td class="xl64" colspan="2" height="44" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="170">非复印区域</td>
                <td class="xl66" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="348">图像顶部,距边缘4.2mm 图像底部,距边缘3mm 图像左右,距边缘3mm</td>
            </tr>
            <tr>
                <td class="xl64" colspan="2" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="170">预热时间</td>
                <td class="xl64" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="348">约20秒</td>
            </tr>
            <tr>
                <td class="xl66" height="44" rowspan="2" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="123">首页输出时间* 1</td>
                <td class="xl64" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="47">彩色</td>
                <td class="xl71" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="348">8.4秒</td>
            </tr>
            <tr>
                <td class="xl64" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="47">黑白</td>
                <td class="xl71" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="348">6.8秒</td>
            </tr>
            <tr>
                <td class="xl64" height="44" rowspan="2" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="123">输出速度</td>
                <td class="xl64" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="47">彩色</td>
                <td class="xl75" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);">22页/分钟</td>
            </tr>
            <tr>
                <td class="xl64" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="47">黑白</td>
                <td class="xl75" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);">22页/分钟</td>
            </tr>
            <tr>
                <td class="xl64" height="132" rowspan="6" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="123">复印缩放倍率</td>
                <td class="xl64" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="47">等倍</td>
                <td class="xl71" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="348">1:1 + / -0.5%或以下</td>
            </tr>
            <tr>
                <td class="xl64" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="47">比例放大</td>
                <td class="xl71" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="348">1:1.154 / 1.224 / 1.414 / 2.000</td>
            </tr>
            <tr>
                <td class="xl64" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="47">比例缩小</td>
                <td class="xl71" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="348">1:0.866 / 0.816 / 0.707 / 0.500</td>
            </tr>
            <tr>
                <td class="xl64" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="47">预设</td>
                <td class="xl71" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="348">3个定制设置</td>
            </tr>
            <tr>
                <td class="xl64" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="47">缩放</td>
                <td class="xl71" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="348">25%~400%(以0.1%为增量)</td>
            </tr>
            <tr>
                <td class="xl64" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="47">纵横单独设置</td>
                <td class="xl71" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="348">25%~400%(以0.1%为增量)</td>
            </tr>
            <tr>
                <td class="xl64" height="44" rowspan="2" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="123">标准纸张容量(80g/m2)</td>
                <td class="xl64" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="47">标配纸盒</td>
                <td class="xl71" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="348">500页 x 2</td>
            </tr>
            <tr>
                <td class="xl64" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="47">手送托盘</td>
                <td class="xl71" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="348">100页</td>
            </tr>
            <tr>
                <td class="xl64" height="44" rowspan="2" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="123">纸张克重</td>
                <td class="xl64" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="47">标配纸盒</td>
                <td class="xl71" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="348">60-256g/m2</td>
            </tr>
            <tr>
                <td class="xl64" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="47">手送托盘</td>
                <td class="xl71" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="348">60-256g/m2</td>
            </tr>
            <tr>
                <td class="xl64" colspan="2" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="170">连续复印</td>
                <td class="xl71" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="348">1-9,999页</td>
            </tr>
            <tr>
                <td class="xl64" colspan="2" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="170">双面器</td>
                <td class="xl71" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="348">无堆叠,A3~A5,B6,A6(60~256g/m2)</td>
            </tr>
            <tr>
                <td class="xl64" colspan="2" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="170">电源要求</td>
                <td class="xl71" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="348">AC220-240V,8.0A,50/60Hz</td>
            </tr>
            <tr>
                <td class="xl64" colspan="2" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="170">最大功耗</td>
                <td class="xl71" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="348">1.58kw</td>
            </tr>
            <tr>
                <td class="xl64" colspan="2" height="46" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="170">机身尺寸(宽x深x高)</td>
                <td class="xl75" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);">571x660x785.5mm(主机)</td>
            </tr>
            <tr>
                <td class="xl64" colspan="2" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="170">机身重量</td>
                <td class="xl75" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);">65Kg(主机)</td>
            </tr>
            <tr>
                <td class="xl63" height="16" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);">&nbsp;</td>
                <td class="xl63" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);">&nbsp;</td>
                <td class="xl63" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);">&nbsp;</td>
            </tr>
            <tr>
                <td class="xl73" colspan="3" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);">扫描规格（标配）</td>
            </tr>
            <tr>
                <td class="xl65" colspan="2" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="170">类型</td>
                <td class="xl64" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="348">全彩色扫描仪</td>
            </tr>
            <tr>
                <td class="xl65" colspan="2" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="170">接口</td>
                <td class="xl64" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="348">Ethernet 10Base-T/100Base-TX/1000Base-T</td>
            </tr>
            <tr>
                <td class="xl65" colspan="2" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="170">协议</td>
                <td class="xl64" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="348">TCP/IP(FTP,SMB,SMTP,WebDAV)</td>
            </tr>
            <tr>
                <td class="xl65" colspan="2" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="170">扫描速度(彩色黑白同速)</td>
                <td class="xl64" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="348">30页/分钟</td>
            </tr>
            <tr>
                <td class="xl65" colspan="2" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="170">扫描尺寸</td>
                <td class="xl64" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="348">最大A3</td>
            </tr>
            <tr>
                <td class="xl65" colspan="2" height="96" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="170">输出格式</td>
                <td class="xl66" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="348">
                    1 1 1<br>
                    TIFF, JPEG, PDF, Compact PDF,OOXML(pptx* ), XPS* , Compact XPS*
                </td>
            </tr>
            <tr>
                <td class="xl65" colspan="2" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="170">
                    推扫描<br>
                    <span class="font6">扫描分辨率</span>
                </td>
                <td class="xl64" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="348">200dpi/300dpi/400dpi/600dpi</td>
            </tr>
            <tr>
                <td class="xl65" colspan="2" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="170">拉扫描</td>
                <td class="xl64" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="348">100pi/200dpi/300dpi/400dpi/600dpi</td>
            </tr>
            <tr>
                <td class="xl63" height="16" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);">&nbsp;</td>
                <td class="xl63" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);">&nbsp;</td>
                <td class="xl63" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);">&nbsp;</td>
            </tr>
            <tr>
                <td class="xl72" colspan="3" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="518">打印规格(标配)</td>
            </tr>
            <tr>
                <td class="xl64" colspan="2" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="170">内存</td>
                <td class="xl64" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="348">与复合机共享</td>
            </tr>
            <tr>
                <td class="xl71" colspan="2" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="170">打印语言</td>
                <td class="xl64" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="348">PCL5e/c, PCL6, PostScript3 compatible,XPS</td>
            </tr>
            <tr>
                <td class="xl71" colspan="2" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="170">打印速度</td>
                <td class="xl64" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="348">与复印速度相同</td>
            </tr>
            <tr>
                <td class="xl71" colspan="2" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="170">打印分辨率</td>
                <td class="xl64" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="348">1800dpi(等效)x 600dpi</td>
            </tr>
            <tr>
                <td class="xl70" height="44" rowspan="2" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="123">字体</td>
                <td class="xl67" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="47">PCL</td>
                <td class="xl64" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="348">80种字体</td>
            </tr>
            <tr>
                <td class="xl67" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="47">PS</td>
                <td class="xl64" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="348">137种字体</td>
            </tr>
            <tr>
                <td class="xl71" colspan="2" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="170">协议</td>
                <td class="xl64" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="348">TCP/IP(LPD, Raw SMB, IPP)</td>
            </tr>
            <tr>
                <td class="xl71" colspan="2" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="170">操作系统</td>
                <td class="xl66" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="348">
                    Windows Vista/Vistax64/7/7x64/8.1/8.1x64/10/10x64 Windows Server 2008/2008x64/2008 R2/2012/2012 R2 Mac OSX 10.7, 8, 9, 10.10, 10.11<br>
                    Linux
                </td>
            </tr>
            <tr>
                <td class="xl71" colspan="2" height="55" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="170">接口</td>
                <td class="xl64" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="348">Ethernet 10Base-T/100Base-TX/1000Base-T USB2.0/USB1.1</td>
            </tr>
            <tr>
                <td class="xl63" height="16" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);">&nbsp;</td>
                <td class="xl63" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);">&nbsp;</td>
                <td class="xl63" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);">&nbsp;</td>
            </tr>
            <tr>
                <td class="xl69" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);">自动输稿器(DF-630）</td>
                <td class="xl69" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);">　</td>
                <td class="xl69" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);">　</td>
            </tr>
            <tr>
                <td class="xl68" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);">型号</td>
                <td class="xl76" colspan="2" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);">ADC225</td>
            </tr>
            <tr>
                <td class="xl65" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="123">形式</td>
                <td class="xl76" colspan="2" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);">选购</td>
            </tr>
            <tr>
                <td class="xl65" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="123">输稿器类型</td>
                <td class="xl64" colspan="2" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="395">翻转自动输稿器</td>
            </tr>
            <tr>
                <td class="xl65" height="73" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="123">原稿类型</td>
                <td class="xl66" colspan="2" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="395">
                    单面:35~128g/m2<br>
                    双面:50~128g/m2<br>
                    混合:50~128g/m2
                </td>
            </tr>
            <tr>
                <td class="xl65" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="123">最大原稿尺寸</td>
                <td class="xl64" colspan="2" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="395">A3</td>
            </tr>
            <tr>
                <td class="xl65" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="123">容量(80g/m2)</td>
                <td class="xl64" colspan="2" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="395">70页</td>
            </tr>
            <tr>
                <td class="xl65" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="123">进纸速度</td>
                <td class="xl64" colspan="2" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="395">30页/分钟</td>
            </tr>
            <tr>
                <td class="xl65" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="123">尺寸(宽x深x高)</td>
                <td class="xl64" colspan="2" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="395">559mmx474mmx96mm</td>
            </tr>
            <tr>
                <td class="xl65" height="22" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="123">重量</td>
                <td class="xl64" colspan="2" style="padding: 0px; margin: 0px; font-size: 12px; text-align: center; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(241, 77, 34); color: rgb(90, 90, 90); background-color: rgb(255, 255, 255);" width="395">约5.1Kg</td>
            </tr>
        </tbody>
    </table>

</div>