<h5><strong>产品细节Product Details</strong></h5>

<img src="http://p1.bpimg.com/575659/06ffd8e4e75b0d38.jpg" class="img-responsive center-block" />
<h5><strong>产品特色Product Specials</strong></h5>
<img src="http://p1.bpimg.com/575659/46d307c94b2563e0.gif" class="img-responsive center-block" />

<table class="table table-bordered table-condensed col-md-12 col-sm-12 col-xs-12">
    <tbody>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">系列</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">蓝光系列</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">适用面积</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">70-90m&sup2;</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">CADR(洁净空气量)</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle;">716m&sup3;/h</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">重量</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">18kg</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">颜色</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">不锈钢香槟色</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">电源</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">220V 50HZ</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">最大功率</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">160W</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">最小噪音</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">33dBA</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">本机尺寸（宽x深x高）</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">423x297x714mm</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">出气方向</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">正面、背面（上部）</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">进气方向</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">侧面（下部左右）</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">脚轮</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">有</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">传感器</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">异味传感器、微粒传感器、光照度传感器</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">滤芯更换提醒</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">有</td>
        </tr>
    </tbody>
</table>
