<table class="table table-bordered table-condensed col-md-12 col-sm-12 col-xs-12">
    <tbody>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">碎纸方式</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">细碎</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">碎纸张数</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">6</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">碎纸尺寸(mm)</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">3x9</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">碎纸速度(m/min)</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">2.2</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">碎纸噪音(dB)</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">&le;60</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">可碎CD</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">有</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">过载保护</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">有</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">过热保护</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">有</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">待机指示灯</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">有</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">过热指示灯</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">有</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">过载指示灯</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">有</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">门开指示灯</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">有</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">满纸指示灯</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">无</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">自动断电</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">无</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">纸张容积(升)</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">16</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">马达功率(W)</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">150</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">机台重量(KG)</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">8.3</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">机台尺寸(mm)</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(51, 51, 51);">354&times;235&times;488</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">外箱尺寸(mm)</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(51, 51, 51);">406&times;290&times;545</td>
        </tr>
    </tbody>
</table>
<table class="table table-bordered table-condensed col-md-12 col-sm-12 col-xs-12">
    <tbody>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">Memory</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">32M</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">Flash Memory</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">Flash 512MB</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">传真容量</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">约6，000页</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">工作温度</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">0~60℃</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">储存温度</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">-30~80℃</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">电磁相容</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">符合GB13837-1997</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">电话线接口</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">RJ11</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">网络界面</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">RJ45（10-100M）X 2</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">网络协议</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">TCP-IP</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">传真规格</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">ITU-T G3 T.4，T.30，T.38</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">传真速度</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">14.4k bps</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">传真分辨率</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">98~196 DPI</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">线路规格</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">PSTN</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">支持传真线路</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">单线</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">Open API</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">N</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">用户端支持格式</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">AP用户端/Web用户端</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">断电保护</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">支持</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">断电后自动重新启动</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">支持</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">计算机关机接收传真</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">支持</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">双向语音提示</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">支持</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">传真自动打印</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">支持</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">支持语言</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">简体中文、繁体中文、英文</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">AD账户同步管理</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">&mdash;&mdash;</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">自动判断闲置电话端口</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">&mdash;&mdash;</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">尺寸</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">235*122*40mm</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">重量</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">380g</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">电源</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">12V DC 400mA</td>
        </tr>
    </tbody>
</table>
<h5><strong>1、稳定可靠：</strong></h5>
<p>S-S-AF-1000S-OP-1000S-OP电子传真系列产品用户多达数十万，遍布政府、武警、公安、军队、企业等各行各业不同规模的企事业单位，并已批量出口国外，产品性能经过市场的充分考验。S-AF-1000S-OP传真服务器秉承3G-FAX电子传真产品一贯的优秀品质和操作简便性，是当前市场上性能最稳定可靠的传真系统。S-S-AF-1000S-OP-1000S-OP
</p>
<h5><strong>2、功能强大：</strong></h5>
<p>除传统功能更加强大外，S-AF-1000S-OP传真服务器独家支持高速免费传真、漫游收发、内部聊天等互联网时代收发新模式;最新支持传真统计计费、客户端传真软件自动升级、传真签章授权机制、多种选线规则、传真代收代发、传真签审流程、与AD结合等功能，同时支持客户端传真软件、网页、邮件三种电子传真收发方式。真正做到人无我有、人追我强。
</p>
<h5><strong>3、品种齐全：</strong></h5>
<p>　S-AF-1000S-OP传真服务器品种齐全，分别支持1、2、4、6、……256条传真线路。其中支持1至2线的大众型传真服务器采用新潮的迷你型机箱，自带20G存储空间;2至24线传真服务器采用标准4U机箱，自带80-160G存储空间;24线以上传真服务器采用标准6U机箱，自带160G-250G存储空间。所有传真线路采用RJ11接口直接接入传真卡，安装连接简单。
</p>
<h5><strong>4、快速组网：</strong></h5>
<p>S-AF-1000S-OP电子传真产品型号齐全，界面和操作一致，集团用户可根据需要，针对不同地域不同部门选配不同型号的产品，与总部传真服务器灵活快速组网，做到内部传真统一管理、统一操作、互发高速免费传真等。
</p>
<h5><strong>5、整机设计：</strong></h5>
<p>　S-AF-1000S-OP传真服务器采用一体化设计，每套含工控机主机、专用传真卡、数据加密盒及S-AF-1000S-OP传真软件等，所需配件由知名厂家定点直供。S-AF-1000S-OP传真服务器出厂前经过严格的高温、防震和电气性能测试，整机可靠性有保证，不需要专业水平，安装维护简单。</p>



　　


　


　　


　