<table class="table table-bordered table-condensed col-md-12 col-xs-12">
    <tbody>
        <tr class="active">
            <td colspan="2" style="font-weight: bold; vertical-align: middle;">类型</td>
            <td style="vertical-align: middle;">落地型</td>
        </tr>
        <tr class="danger">
            <td colspan="2" style="font-weight: bold; vertical-align: middle;">颜色支持</td>
            <td style="vertical-align: middle;">全彩色</td>
        </tr>
        <tr class="warning">
            <td rowspan="2" style="font-weight: bold; vertical-align: middle;">分辨率</td>
            <td style="font-weight: bold; vertical-align: middle;">扫描</td>
            <td style="vertical-align: middle;">600 dpi × 600 dpi</td>
        </tr>
        <tr class="success">
            <td style="font-weight: bold; vertical-align: middle;">打印</td>
            <td style="vertical-align: middle;">1,200 dpi（相当于3,600 dpi）× 1,200 dpi</td>
        </tr>
        <tr class="error">
            <td colspan="2" style="font-weight: bold; vertical-align: middle;">色阶</td>
            <td style="vertical-align: middle;">8位／256色阶</td>
        </tr>
        <tr class="info">
            <td colspan="2" style="font-weight: bold; vertical-align: middle;">CPU</td>
            <td style="vertical-align: middle;">Pentium G850 2.9 GHz</td>
        </tr>
        <tr class="active">
            <td colspan="2" style="font-weight: bold; vertical-align: middle;">内存</td>
            <td style="vertical-align: middle;">6 GB</td>
        </tr>
        <tr class="danger">
            <td colspan="2" style="font-weight: bold; vertical-align: middle;">硬盘</td>
            <td style="vertical-align: middle;">1.5 TB</td>
        </tr>
        <tr class="success">
            <td colspan="2" style="font-weight: bold; vertical-align: middle;">原稿类型</td>
            <td style="vertical-align: middle;">纸张,书本,三维物体</td>
        </tr>
        <tr class="warning">
            <td colspan="2" style="font-weight: bold; vertical-align: middle;">最大原稿尺寸</td>
            <td style="vertical-align: middle;">A3或11"×17"</td>
        </tr>
        <tr class="error">
            <td colspan="2" style="font-weight: bold; vertical-align: middle;">最大打印区域</td>
            <td style="vertical-align: middle;">323 mm × 480 mm</td>
        </tr>
        <tr class="info">
            <td colspan="2" style="font-weight: bold; vertical-align: middle;">
                纸张尺寸<br>
                （S：短边进纸）
            </td>
            <td style="vertical-align: middle;">
                标准：SRA3、A3、B4、SRA4、A4、B5、A5、13"×19"、<br>
                12"×18"、11"×17"、9"×11"、8 1/2"×14"、8 1/2"×11"、5 1/2"×8<br>
                1/2"S、Tab 纸（A4、8 1/2"×11"），自定义：330 × 487-140 ×<br>
                182 mm；多功能手送托盘 （选购）： SRA3，SRA4、A3、B4、<br>
                A4、B5、A5、B5S、13"×19"、12"×18"、11"×17"、8 1/2"×11"、<br>
                明信片、自定义：330 × 487-100× 148 mm
            </td>
        </tr>
        <tr class="active">
            <td colspan="2" style="font-weight: bold; vertical-align: middle;">无效图像区</td>
            <td style="vertical-align: middle;">
                上部边距：4.0 mm或以下；下部边距：4.5 mm或以下<br>
                左／右侧边距：3.0 mm或以下
            </td>
        </tr>
        <tr class="danger">
            <td colspan="2" style="font-weight: bold; vertical-align: middle;">预热时间</td>
            <td style="vertical-align: middle;">390秒或更少</td>
        </tr>
        <tr class="warning">
            <td rowspan="2" style="font-weight: bold; vertical-align: middle;">首张复印时间</td>
            <td style="font-weight: bold; vertical-align: middle;">彩色</td>
            <td style="vertical-align: middle;">7.6秒或以下（A4*1、8 1/2"×11"）</td>
        </tr>
        <tr class="success">
            <td style="font-weight: bold; vertical-align: middle;">黑白</td>
            <td style="vertical-align: middle;">6.3秒或以下（A4*1、8 1/2"×11"）</td>
        </tr>
        <tr class="error">
            <td colspan="2" style="font-weight: bold; vertical-align: middle;">
                打印速度<br>
                （彩色／黑白）*2
            </td>
            <td style="vertical-align: middle;">61页／分钟（A4），33页／分钟（A3）</td>
        </tr>
        <tr class="info">
            <td rowspan="2" style="font-weight: bold; vertical-align: middle;">复印缩放倍率</td>
            <td style="font-weight: bold; vertical-align: middle;">固定倍率</td>
            <td style="vertical-align: middle;">x 1.000、x 2.000、x 1.414、x 1.189、x 0.840、x 0.707、x 0.500</td>
        </tr>
        <tr class="active">
            <td style="font-weight: bold; vertical-align: middle;">缩放</td>
            <td style="vertical-align: middle;">x 0.250至x 4.000（以0.001为单位）</td>
        </tr>
        <tr class="danger">
            <td colspan="2" style="font-weight: bold; vertical-align: middle;">纸盘容量（80 g/m2）</td>
            <td style="vertical-align: middle;">标准: 1,500张</td>
        </tr>
        <tr class="warning">
            <td colspan="2" style="font-weight: bold; vertical-align: middle;">纸张克重</td>
            <td style="vertical-align: middle;">
                62 g/m2至300 g/m2（限适用的纸张类型）<br>
                主机： 62 g/m2至256 g/m2<br>
                MB-506、LU-202： 62 g/m2至300 g/m2
            </td>
        </tr>
        <tr class="success">
            <td colspan="2" style="font-weight: bold; vertical-align: middle;">多张连续复印</td>
            <td style="vertical-align: middle;">最多9,999张</td>
        </tr>
        <tr class="error">
            <td colspan="2" style="font-weight: bold; vertical-align: middle;">自动双面</td>
            <td style="vertical-align: middle;">330 × 487 mm-100 × 148 mm，纸张克重： 62 g/m2至300 g/m2</td>
        </tr>
        <tr class="info">
            <td colspan="2" style="font-weight: bold; vertical-align: middle;">电源</td>
            <td style="vertical-align: middle;">AC220至240V 20A, 50 Hz / 60 Hz</td>
        </tr>
        <tr class="active">
            <td colspan="2" style="font-weight: bold; vertical-align: middle;">功耗</td>
            <td style="vertical-align: middle;">4,700W或以下(仅主机)</td>
        </tr>
        <tr class="danger">
            <td colspan="2" style="font-weight: bold; vertical-align: middle;">尺寸[宽] × [深] × [高]</td>
            <td style="vertical-align: middle;">
                760 mm*3 × 903 mm*4 × 1,073 mm*5<br>
                29.92"*3 × 35.55"*4 × 42.24"*5（主机+原稿盖板）
            </td>
        </tr>
        <tr class="success">
            <td colspan="2" style="font-weight: bold; vertical-align: middle;">重量</td>
            <td style="vertical-align: middle;">约291 kg / 641 lb（仅主机）</td>
        </tr>
    </tbody>
</table>
特性：
<img src="http://i1.piimg.com/575659/8dba6c280d94e417.jpg" class="img-responsive center-block" />
<ul>
    <li><h4 class="text-danger">bizhub PRESS C1060L</h4></li>
    <li><h4 class="text-danger">bizhub PRESS C1085</h4></li>
    <li><h4 class="text-danger">bizhub PRESS C1060</h4></li>
    <li><h4 class="text-danger">bizhub PRESS C1070</h4></li>
    <li><h4 class="text-danger">bizhub PRESS C8000</h4></li>
</ul>
<h4>开创数字印刷的全新发展道路</h4>
<p>
    “与胶印和谐共存。”柯尼卡美能达认为这是数字印刷发展的必由之路，当然，对数字印刷来说还必须增强自身的能力。全新设计的bizhub PRESS C1060正是这一思路的完美体现，其引擎和纸路传输经过彻底的重新设计，尤其是纸张处理能力和生产力得到了空前的提升。此外，包括Simitri聚合碳粉和图像处理系统在内的柯尼卡美能达技术也得到了进一步发展，输出的高质量图像可媲美胶印效果。
    bizhub PRESS 系列凭借更多先进性能很大程度地展现了数字印刷的魅力。
</p>

<img src="http://i1.piimg.com/575659/049fc865c866dc33.jpg" class="img-responsive center-block">
<div class="panel panel-default">
    <div class="panel-heading">【1】全新系统</div>
    <div class="panel-body">
        <p>提高图像质量和输出效率的新技术。</p>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">【2】Simitri HDE 低能耗炫彩聚合碳粉</div>
    <div class="panel-body">
        <p>新型Smitri HDE低能耗炫彩聚合碳粉进一步提高了图像质量和节能效果。该碳粉采用了含有功能性聚合物的立体混合结构，几乎可在所有类型的纸张上进行牢固定影，呈现理想、自然的纹理。此外，其低温定影也提升了节能水平。
出色的纸张处理能力
重新设计的纸张传输路径提供可靠、稳定的生产力，纸张从进纸部分被稳定地传送到定影部分直至后道部分。凭借超越办公MFP的处理能力，全新的纸路传输设计进一步提高了纸张兼容性，从而提高了文档处理的能力。
S.E.A.D. IV
S.E.A.D. IV是柯尼卡美能达独创的最新图像处理技术。通过在图像处理过程中的密切合作，S.E.A.D. IV充分利用C1060L的功能平衡"生产力"、"图像质量"和"稳定性"，从而以高精度处理图像。</p>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">【3】高品质和高精度</div>
    <div class="panel-body">
        <p>多层次处理的高分辨率
1,200 dpi × 8位高分辨率
配合使用1,200 × 1,200 dpi高分辨率和Simitri HDE低能耗炫彩聚合碳粉打印，可使彩色图像清晰再现细小文字和线条以及丰富的色彩层次。
256级色阶8位处理控制器和引擎
每种色彩通过8位多层次数据处理流程可在单位像素内显示256级色阶。彩色和黑白数据均可以1200dpi × 8位分辨率进行处理。</p>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">【4】清晰再现文字轮廓</div>
    <div class="panel-body">
        <p>高精度轮廓处理
高精度轮廓处理减弱了线条模糊和粗糙的问题，可更清晰地再现文字细节。同时也可提高包含彩色文字以及细线条和清晰轮廓的输出质量。</p>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">【5】先进的色彩管理和出色的可操作性</div>
    <div class="panel-body">
        <p>图像打印控制器IC-602A
图像打印控制器IC-602A拥有出色的处理能力和先进的色彩管理功能，进一步提高了主机的兼容性。用户可通过控制面板管理和编辑作业、调整色调曲线，使得工作更加高效，操作更加顺畅。
</p>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">【6】进一步提高色彩再现的稳定性</div>
    <div class="panel-body">
        <p>实时色彩校准
该功能可通过 IDC 传感器检测中间转印带上的浓度校正色块和点直径校正色块，在连续打印期间以较短的时间间隔控制图像稳定性，从而可在较宽的浓度范围内输出稳定的高质量图像。（仅在将稳定调整操作设置设为 " 稳定性 " 时工作）</p>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">【7】更高的成像稳定性</div>
    <div class="panel-body">
        <p>自动优化显影系统
四种色彩均配备了自动优化显影功能，即便输出全彩图像，也可确保稳定的高画质。系统会定期随碳粉供应补充新的载体，确保稳定的显影条件，以便长期保持高质量输出。其更长的使用寿命也可最大程度减少故障停机时间。</p>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">【8】生产力和纸张处理
大批量快速处理</div>
    <div class="panel-body">
        <p>61页/分钟的高生产力
bizhub PRO C1060L的彩色和黑白输出速度都高达61页/分钟*。同时，本产品还支持适用于制作小册子或拼版的A3尺寸输出，且生产力达到33页/分钟，从而扩大了公司订单承接范围。
*A4横向，使用62至176g/m2纸张。</p>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">【9】提高了厚纸打印的生产力</div>
    <div class="panel-body">
        <p>打印62至176 g/m2纸张时等速输出
现在，得益于改进的定影单元和处理控制，无论是使用标准纸张还是铜版纸，也无论是单面还是双面打印，生产力都得到了进一步的提高。C1060L可在使用克重高达176g/m2的纸张时保持61页/分钟（A4横向）的高速输出，即便是使用混合纸张，也可保持较高的生产力。</p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">【10】支持明信片和小册子等各种尺寸</div>
    <div class="panel-body">
        <p>A3满版输出
支持最大尺寸为330 × 487 mm的自定义尺寸纸张，最大打印区域为323 × 480 mm，可执行带有裁切标记的满版A3 尺寸打印和带有裁切标记的A4拼版打印。也可以安装多功能手送托盘*以打印明信片。</p>
    </div>
</div>
耗材：
<div class="panel panel-default">
    <div class="panel-heading">【1】高规格选购件</div>
    <div class="panel-body">
        <p>
            最大程度地延长正常运行时间
            *所有进纸单元均使用80g/m2纸张。高效进纸功能提高了纸张处理能力。4000张大容量进纸
大容量纸仓（LU-202）
主机配备的1,500张纸盒与选购件LU-202组合使用，最多可容纳4,000张纸。大容量进纸减少了补充和管理纸张的时间和精力，同时也支持大印量作业。
        </p>
        <h4>*选购件</h4>
        <p>支持300g/m2的厚纸
多功能手送托盘（MB-506）
多功能手送托盘可容纳250张手送纸张，适合厚纸打印、小册子封面和彩纸进纸。可与大容量纸仓（LU-202）配合使用。</p>
        <h4>*选购件
        </h4>
        <p>提高操作效率
工作期间快速补充纸张和碳粉
纸张和碳粉可在操作期间（包括打印和复印期间）予以补充。碳粉可在机器正面轻松更换，从而有效减少停机时间，提高了操作效率。</p>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">【2】在线排纸处理器</div>
    <div class="panel-body">
        <p>各种高性能排纸处理器提供了多样后道处理方式
一次可装订50张
装订排纸处理器（FS-531）
该排纸处理器支持边角装订和两点侧边装订，可有效制作提案和报告等各种类型的印刷品。</p>
        <h4>*选购件</h4>
        <p>易用性
15英寸显示屏
易于查看、轻松操作，显示屏的显示角度可根据需要进行调整，其人性化的图形用户界面和导航信息可确保出色的使用性。语音向导清晰易懂，具备提醒功能，例如可提醒用户补充碳粉和纸张。还可连接USB鼠标提高操作的便利性。
</p>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">【3】扫描和安全</div>
    <div class="panel-body">
        <h4>网络扫描</h4>
        <p>灵活的数字化处理方式符合环保理念，也可满足用户各种需求。
高达600 dpi的高速数字化
网络全彩扫描
无论是彩色模式还是单色模式，扫描速度都可以达到70页/分钟（对A4横向以300dpi进行扫描）。用户可根据需要对纸质文件进行数字化处理。该扫描仪支持最大尺寸为297 × 431.8mm 的文件，扫描分辨率分别为600、400、300和200dpi，并支持各种类型的文件。甚至可以将600dpi的PDF文件（用于打印）转为200dpi的JPEG文件，以便进行印前确认。
一次操作即可高效发送数据</p>
        <p>扫描和发送
扫描和发送功能采用简单易用的一站式操作，可在公司内部方便地进行信息共享。扫描数据可以转为文件格式同时发送至多个收件人。</p>
        <h4>扫描至E-mail</h4>
        <p>将扫描数据作为电子邮件附件发送。</p>
        <h4>扫描至SMB</h4>
        <p>将扫描数据直接发送至客户PC的共享文件夹。</p>
        <h4>扫描至FTP</h4>
        <p>将扫描数据发送至FTP服务器中的指定目录。可有效访问数据并发送大容量数据。</p>
        <h4>扫描至硬盘</h4>
        <p>扫描数据可暂时保存在主机单元的Box中，然后再选择发送至FTP服务器或客户PC。</p>
        <h4>文件安全</h4>
        <p>保护所有用户的个人信息安全
充分保护累积数据的安全
硬盘数据加密
强大的硬盘数据加密功能可有效防止累积数据和信息的泄露。
通过认证功能促进合理使用
加强的密码认证功能
用户可根据安全需要设置8至64位数的密码（区分大小写）。为进一步防止未授权人员使用机器，每当输入密码错误，密码输入功能就会禁用5秒。
详细信息管理
创建、保存和分析审计日志
可自动生成特定的安全相关信息（例如操作日期和时间、用户资料等信息）的详情和结果并将之保存为审计日志。也可以对未授权的访问进行分析。
更加安全的新一代互联网协议</p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">【4】IPv6 ready</div>
    <div class="panel-body">
        <p>C1060L支持IPv6，IPv6采用了IPsec安全技术（例如数据包认证和数据加密等），加强了端对端的安全性。
ISO15408（EAL Level 3）认证
这些产品符合ISO15408的安全性要求。（当前正在申请认证）
*ISO 15408认证仅为IT安全性认证。该认证并非产品质量保证。</p>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">【5】系统配置：</div>
    <div class="panel-body">
        <img src="http://p1.bpimg.com/575659/7be144d386f72953.jpg" class="img-responsive center-block" />
        <p>*必须 选择 OC-509或DF-626</p>
    </div>
</div>

















