特性：
<div>
    <img src="http://i1.piimg.com/575659/b379caca01289890.jpg" class="img-responsive center-block" />
    <p>通过等离子放电产生并释放出与自然界相同的正、负离子，净离子 群空间净化技术是夏普开发的空中除菌技术，可杀灭空气中游浮的 细菌等有害物质。</p>
    <h5><strong>①释放电离子</strong></h5>
    <p>通过等离子放电，产生并向空气中释放出与 自然界中相同的正、负离子。</p>
    <img src="http://i1.piimg.com/575659/b7dc754e970e8428.png" class="img-responsive center-block" />
    <h5><strong>②可杀灭空气中浮游的细菌</strong></h5>
    <p> 作为活性种的过氧化氢H202或游离基•0 H的氧化反应，可杀灭空气中浮游的细菌。 可获得充分的杀菌效果。</p>
    <img src="http://i1.piimg.com/575659/60e2e81598c13cfd.png" class="img-responsive center-block" />
    <h5><strong>⑤形成水返回到空气中</strong></h5>
    <p>
        0H基与氢(H)相结合，形成水（H20),返回
        到空气中。
    </p>
    <img src="http://i1.piimg.com/575659/fbcad06864223fc4.png" class="img-responsive center-block" />
</div>
<table class="table table-bordered table-condensed col-md-12 col-sm-12 col-xs-12">
    <tbody>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">洁净空气量</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">543m&sup3;/h</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">PM2.5</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">＞99%（1H）</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">甲醛净化效率</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">
                78%（1H）<br />
                98%（6H）
            </td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">甲苯净化效率</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">
                95%（1H）<br />
                99%（2H）
            </td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">空气质量监测</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">室尘/异味/湿度/温度</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">额定电压</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">AC 220V 50Hz</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">运行噪音水平（强）</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">62dB（A）</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">运行噪音水平（中）</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">52dB（A）</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">运行噪音水平（静音）</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">41dB（A）</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">功率（强）</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">81W</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">功率（中）</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">36W</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">功率（静音）</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">8W</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">机器重量</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">16.0kg</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">外形尺寸</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">498x356x830</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">线长</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">2.0m</td>
        </tr>
    </tbody>
</table>
耗材：
<h5><strong>消耗品</strong></h5>
<table class="table table-bordered table-condensed col-md-12 col-sm-12 col-xs-12">
    <tbody>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">净离子群发生器</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">有</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">集尘滤网</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">有</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">脱臭/除甲醛一体化滤网</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">有</td>
        </tr>
    </tbody>
</table>
<h5><strong>附加功能</strong></h5>
<table class="table table-bordered table-condensed col-md-12 col-sm-12 col-xs-12">
    <tbody>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">空气清洁度监测</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">有（LED、5中颜色显示）</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">运转模式</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">自动/节能/强/中/静音</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">湿度显示</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">有</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">定时功能</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">有</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">脚轮设计</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">有</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">连接PC（选购）</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">有</td>
        </tr>
        <tr>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">气流控制</td>
            <td style="font-family: Arial; font-size: 12px; text-align: center; vertical-align: middle; color: rgb(90, 90, 90);">有</td>
        </tr>
    </tbody>
</table>
