<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <a href="">
                
                <img src="~/Images/Adv_special/jingcitanfen.jpg" alt="原装碳粉" />
            </a>
            <div class="caption">
                <h4>原装碳粉</h4>
                <p>原装碳粉、原装耗材、品质保证</p>

            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <a href="">
                <img src="~/Images/Adv_special/repairMan.jpg" alt="维修小工" />
            </a>
            <div class="caption">
                <h4>市区24小时上门</h4>
                <p>强大的维修力量、精湛的技术是服务的保证</p>

            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <a href="">
                <img src="~/Images/Adv_special/rent.jpg" alt="租赁" />
            </a>
            <div class="caption">
                <h4>太贵了！买不起~</h4>
                <p>租赁，一分钱不掏，彩色的世界，轻松办公</p>

            </div>
        </div>
    </div>
</div>