
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <a href="http://www.aurora.com.cn/ENT/web_cn/index.do">
                    <img src="~/images/Products/zhengdan.jpg" alt="震旦复印机">
                </a>
                    <div class="caption">
                        <h3>震旦复印机</h3>
                        <p>震旦复印机全线产品销售、租赁</p>
                       
                    </div>
</div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <a href="http://www.kyoceradocumentsolutions.com.cn/">
                    <img src="~/images/Products/jingci.jpg" alt="京瓷复印机">
                </a>
                    <div class="caption">
                        <h3>京瓷复印机</h3>
                        <p>震旦复印机全线产品销售、租赁</p>
                       
                    </div>
</div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <a href="http://detail.zol.com.cn/manufacturer/index634.html">
                    <img src="~/images/Products/kemei.jpg" alt="柯尼卡美能达">
                </a>
                    <div class="caption">
                        <h3>柯尼卡美能达</h3>
                        <p>柯尼卡美能达全线产品销售、租赁</p>
                     
                    </div>
</div>
        </div>
    </div>
