特征
<div class="panel panel-default">
    <div class="panel-heading">【1】细节设计，极大减少停机时间，为用户带来更高效率</div>
    <div class="panel-body">
        <h4><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span>每分钟30页高速打印</h4>
        <hr />
        <p>ECOSYS P6130cdn具备每分钟30页的黑白彩色同速输出能力，在帮助用户呈现精美打印效果的同时实现高速打印。另外，ECOSYS P6130cdn标配的双面打印功能也能为现代化办公带来更高效率。</p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/laserprinter/p6130cdn/pic_01.jpg" class="img-responsive center-block" />
        <h4><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span>快速的反应时间</h4>
        <hr />
        <p>在紧急情况下，能否快速处理文件输出显得尤为重要，ECOSYS P6130cdn首张打印时间黑白7秒钟，彩色8秒钟；预热时间为26秒钟。这些都有助于缩短用户的等待时间，帮助他们提高办公效率。</p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/laserprinter/p6130cdn/pic_02.jpg" class="img-responsive center-block" />
        <h4><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span>不停机打印</h4>
        <hr />
        <p>ECOSYS P6130cdn允许用户在彩粉耗尽的情况下仍可进行黑白文件的输出且最多可输出30张。这一点对于那些没有备用彩粉而又必须进行输出作业的用户来说非常实用。</p>

    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">【2】丰富的打印功能</div>
    <div class="panel-body">
        <h4><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span>个人打印</h4>
        <hr />
        <p>
            ECOSYS P6130cdn在现有标配内存的情况下，支持个人打印功能。个人打印允许用户在电脑上设置PIN码，然后在打印设备上正确输入PIN码后，才输出打印文件，以此来加强打印作业的安全性。
        </p>

        <h4><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span>彩色覆盖率分级计数</h4>
        <hr />
        <p>ECOSYS P6130cdn支持碳粉覆盖率的分级计数功能，三个级别是：低覆盖率、中覆盖率和高覆盖率。据此，经销商可更合逻辑的根据用户实际的碳粉消耗进行计数收费。</p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/laserprinter/p6130cdn/pic_03.jpg" class="img-responsive center-block" />
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">【3】智能搭载解决方案，改善工作流程</div>
    <div class="panel-body">
        <h4><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span>KYOCERA Net Manager（选购）</h4>
        <hr />
        <p>
            KYOCERA Net Manager（KNM）是一款可以对打印、复印作业进行统计监测的简便软件。另外，它还允许用户进行安全打印，跟随打印，生成及输出报表，打印作业的用户管理，多系统的打印连接等等。

            ● KNM通过设置用户权限支持敏感文件的安全输出；
            ● KNM支持用户随心使用网络上任何一台打印机进行输出；
            ● KNM通过定期设置每位用户的打印数量及打印成本从而可以实现成本管控。
        </p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/laserprinter/p6130cdn/pic_04.jpg" class="img-responsive center-block" />
        <h4><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span>KYOCERA Mobile Print</h4>
        <hr />
        <p>通过京瓷手机打印应用，ECOSYS P6130cdn允许用户在办公室里直接使用智能手机和平板电脑进行打印和扫描。</p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/laserprinter/p6130cdn/pic_05.jpg" class="img-responsive center-block" />

        <hr />
        <p>另外，ECOSYS P6130cdn支持苹果手机和平板电脑用户，使用 AirPrint功能进行打印。</p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/laserprinter/p6130cdn/pic_06.jpg" class="img-responsive center-block" />
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">【4】卓越的环保性能</div>
    <div class="panel-body table-responsive">
        <h4><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span>静音设计</h4>
        <hr />
        <p>
            ECOSYS P6130cdn通过技术改良有效减少了工作时噪音的产生，为用户提供了一个更舒适更安静的办公环境。静音模式开启后，可以有效降低噪音5-6dB(A)。
            ※当静音模式开启时，相应打印速度也会降低。
        </p>
        <table class="table table-bordered table-condensed col-md-12 col-xs-12">
            <tr class="active">
                <td>型号</td>
                <td></td>
                <td>
                    打印
                    高速→ 静音
                </td>
            </tr>
            <tr class="danger">
                <td>ECOSYS P6130cdn</td>
                <td>
                    声压
                    (速度)
                </td>
                <td>
                    49.5→45dB(A)
                    (30→15ppm)
                </td>
            </tr>
        </table>
        <h4><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span>20万页长寿命PSLP感光鼓</h4>
        <hr />
        <p>基于京瓷产品设计理念，ECOSYS P6130cdn采用了京瓷独有的长寿命技术感光鼓，使用寿命长达20万页，极大降低了用户的总体拥有成本。</p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/laserprinter/p6130cdn/pic_07.jpg" class="img-responsive center-block" />
    </div>
</div>
规格
<div class="table-responsive">
    <h4><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span>主要规格</h4>
    <hr />
    <table class="table table-bordered table-condensed col-md-12 col-xs-12">
        <tbody>
            <tr class="active">
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">型号</td>
                <td>&nbsp;</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">ECOSYS P6130cdn</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">类型</td>
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">桌面型一体机</td>
            </tr>
            <tr class="warning">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">成像方式</td>
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">激光电子成像</td>
            </tr>
            <tr class="success">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">打印速度(A4，黑白/彩色)</td>
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">30/30页/分钟</td>
            </tr>
            <tr class="error">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">分辨率</td>
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">600&times;600dpi,9600&times;600dpi级</td>
            </tr>
            <tr class="info">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">双面</td>
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">自动</td>
            </tr>
            <tr class="active">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">操作面板</td>
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">2行LCD</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">
                    能耗<br />
                    (标准配置)
                </td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">打印模式</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">479W</td>
            </tr>
            <tr class="warning">
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">待机模式</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">56W</td>
            </tr>
            <tr class="success">
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">休眠模式</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">2W</td>
            </tr>
            <tr class="error">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">
                    噪音<br />
                    ( ISO7779/<br />
                    ISO9296)
                </td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">打印模式</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">49.5dB(A)</td>
            </tr>
            <tr class="info">
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">待机模式</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">30dB(A)</td>
            </tr>
            <tr class="active">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">体积(宽&times;深&times;高)(主机)</td>
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">390mm&times;532mm&times;409.5mm</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">重量(主机)</td>
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">约28.0kg</td>
            </tr>
        </tbody>
    </table>

    <h4><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span>控制单元</h4>
    <hr />
    <table class="table table-bordered table-condensed col-md-12 col-xs-12">
        <tbody>
            <tr class="active">
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">型号</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">ECOSYS P6130cdn</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">CPU</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">PowerPC465S 1GHz</td>
            </tr>
            <tr class="warning">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">内存(标配/最大)</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">512MB/2048MB</td>
            </tr>
            <tr class="success">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">标准接口</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">高速USB2.0&times;1；以太网10BASE-T/100BASE-TX/1000BASE-T; USB主机&times;2</td>
            </tr>
            <tr class="error">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">PDL</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">PRESCRIBE, PCL6(PCL5c, PCL-XL), KPDL3(Postscript 3兼容)， 1.7版本PDF直接打印, XPS</td>
            </tr>
            <tr class="info">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">网络打印协议</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">TCP/IP, FTP, LPR, Port9100, IPP over SSL/TLS, NetBEUI, WSD Print, Apple Bonjour</td>
            </tr>
            <tr class="active">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">支持的操作系统</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">Windows Server 2003,Windows Server 2008,Windows Server 2008 R2,Windows Server 2012,Windows Server 2012 R2, Windows XP,Windows Vista,Windows 7,Windows 8, Windows 8.1; Apple Macintosh OS X 10.5 or later, Linux</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">USB 打印</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">标配(格式：TIFF, JPEG, PDF，XPS)</td>
            </tr>
            <tr class="warning">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">e-mail 打印</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">标配</td>
            </tr>
            <tr class="success">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">手机打印</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">AirPrint, Mopria, KYOCERA Mobile Print</td>
            </tr>
        </tbody>
    </table>

    <h4><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span> 纸张处理能力</h4>
    <hr />
    <table class="table table-bordered table-condensed col-md-12 col-xs-12">
        <tbody>
            <tr class="active">
                <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">型号</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">ECOSYS P6130cdn</td>
            </tr>
            <tr class="danger">
                <td rowspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">纸张容量</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">标配</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">500张&times;1(纸盒)+100张(手送)</td>
            </tr>
            <tr class="warning">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">最大</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">2100张(主机+PF-5100&times;3+手送)</td>
            </tr>
            <tr class="success">
                <td rowspan="3" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">纸张尺寸</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">标配纸盒</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">最小A6R &mdash; 最大A4(Legal)</td>
            </tr>
            <tr class="error">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">选购纸盒</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">最小A5R &mdash; 最大A4(Legal)</td>
            </tr>
            <tr class="info">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">手送</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">最小A6R &mdash; 最大A4(Legal)</td>
            </tr>
            <tr class="active">
                <td rowspan="3" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">纸张重量</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">标配纸盒</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">60 &mdash; 163 g/m&sup2;</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">选购纸盒</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">60 &mdash; 220 g/m&sup2;</td>
            </tr>
            <tr class="warning">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">手送</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">60 &mdash; 220 g/m&sup2;</td>
            </tr>
            <tr class="success">
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">双面打印</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">纸张尺寸：A5R &mdash; A4/Legal; 纸张重量：60 &mdash; 163 g/m&sup2;</td>
            </tr>
            <tr class="error">
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">输出纸张容量</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">最大250张，正面朝下</td>
            </tr>
        </tbody>
    </table>

</div>
耗材
<div class="table-responsive">
    <h4><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span>耗材及选购件</h4>
    <hr />
    <table class="table table-bordered table-condensed col-md-12 col-xs-12">
        <tbody>
            <tr class="active">
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">类型</td>
                <td>&nbsp;</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">
                    碳粉<br />
                    (碳粉容量按ISO/IEC 19798测得)
                </td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">
                    TK-5143K: 黑色(7,000页)<br />
                    TK-5143C: 青色(5,000页)<br />
                    TK-5143M: 品红(5,000页)<br />
                    TK-5143Y: 黄色(5,000页)
                </td>
            </tr>
            <tr class="warning">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">初始碳粉容量</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">K: 3500页；C/M/Y: 2500页</td>
            </tr>
            <tr class="success">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">保养组件</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">MK-5143 (200,000页)</td>
            </tr>
            <tr class="error">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">供纸盒</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">PF-5100：500张(最多&times;3)</td>
            </tr>
            <tr class="info">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">数据安全组件</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">Data Security Kit(E)</td>
            </tr>
            <tr class="active">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">IC卡认证组件</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">Card Authentication Kit(B)</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">存储设备</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">HD-7：SSD 128GB</td>
            </tr>
        </tbody>
    </table>

</div>