特性
<div class="panel panel-default">
    <div class="panel-heading">【1】高效办公，自在轻松</div>
    <div class="panel-body">
        <p>
            ECOSYS P2135d打印速度高达35页/分钟，完全满足用户日常办公的需要，即使偶尔发生大量输出的情况也能轻松应对。

            办公时经常遇到单页打印的情况，如果首张输出速度缓慢，必将影响下一步工作的进程，ECOSYS P2135d首张输出时间仅6秒，无须长时间等待。
        </p>
        <p>

            因应对环境保护的要求，节约纸张的消耗成为现代办公的趋势，ECOSYS P2135d标配内置式自动双面器，不仅满足了用户双面打印的需要，而且无须增加设备摆放空间。
        </p><p>

            针对不同文件对纸张的要求，ECOSYS P2135d采用了宽泛的纸张容许度，用纸尺寸从70×148mm到A4，纸张重量从60-220g/m²，并且能够适应用户对一些特殊纸张的需求。

            ECOSYS P2135d标配300张供纸容量，选购供纸盒PF-100，最高可实现800张供纸容量，充分保障不间断大量打印的需求。
        </p>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">【2】操作便捷，乐在其中</div>
    <div class="panel-body">
        <p>ECOSYS P2135d外观小巧，空间适应度很高，可以更好地满足用户办公空间布置的需要。而且外形美观，放置在办公桌上能够与办公家具很好地融合在一起，营造出和谐的办公室环境。</p>
        <p>新颖的3D状态指示灯使您从不同角度都能清晰辨识设备状态，指示灯采用LED技术，显示6种不同的工作状态，不仅节约耐久，而且易于辨识。</p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/laserprinter/p2135d/pic_01.jpg" class="img-responsive center-block" />
        <p>ECOSYS P2135d碳粉仓前盖板采用透明三角窗设计，用户可以轻松识别碳粉品牌、型号等信息，便于更换。而且碳粉上部的三角标贴和盖板的三角窗相对应，方便指导用户正确安装碳粉盒。</p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/laserprinter/p2135d/pic_02.jpg" class="img-responsive center-block" />
     <p>供纸盒采用清晰的纸仓存量指示器，用户可以观测纸张存量，实时补充纸张。</p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/laserprinter/p2135d/pic_04.jpg" class="img-responsive center-block" />
        <p>ECOSYS P2135d采用人性化的操作管理软件，当用户成功安装打印驱动程序后，可以随时在本机观察到机器状态并进行相应设定。</p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/laserprinter/p2135d/pic_05.jpg" class="img-responsive center-block" />
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">【3】科技领先，品质出众</div>
    <div class="panel-body">
        <p>ECOSYS P2135d基于最新打印技术而研制，经过改良后的碳粉使得打印成像更加清晰，达到了1200dpi的高分辨率。</p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/laserprinter/p2135d/pic_06.jpg" class="img-responsive center-block" />

    </div>
</div>
规格》
<div class="table-responsive">
    <h4><span class="glyphicon glyphicon-hand-right text-danger Myicon">基本规格</span></h4>
    <hr />
    <table class="table table-bordered table-condensed col-md-12 col-xs-12">
        <tbody>
            <tr class="active">
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">类型</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">型号</td>
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">ECOSYS P2135d</td>
            </tr>
            <tr class="warning">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">类型</td>
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">桌面型打印机</td>
            </tr>
            <tr class="success">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">成像方式</td>
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">激光电子成像</td>
            </tr>
            <tr class="error">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">CPU</td>
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">PowerPC405F5 360Mhz</td>
            </tr>
            <tr class="info">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">打印速度(A4，黑白)</td>
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">35页/分钟</td>
            </tr>
            <tr class="active">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">内存(标配/最大)</td>
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">32MB/544MB</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">纸张容量</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">标准</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">250张(纸盒)+50张(手送)</td>
            </tr>
            <tr class="warning">
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">最大</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">800张(主机纸盒+PF-100&times;2+手送)</td>
            </tr>
            <tr class="success">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">纸张尺寸</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">标配纸盒</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">最小A6R&mdash;最大A4(Legal)</td>
            </tr>
            <tr class="error">
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">选购纸盒</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">最小A5R&mdash;最大A4(Legal)</td>
            </tr>
            <tr class="info">
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">手送</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">最小A6R&mdash;最大A4(Legal)</td>
            </tr>
            <tr class="active">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">走纸克重</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">标配纸盒</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">60-120g/m&sup2;</td>
            </tr>
            <tr class="danger">
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">选购纸盒</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">60-120g/m&sup2;</td>
            </tr>
            <tr class="warning">
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">手送</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">60-220g/m&sup2;</td>
            </tr>
            <tr class="success">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">双面打印</td>
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">纸张尺寸：A5R&mdash;A4/Legal; 纸盒重量：60&mdash;105g/m&sup2;</td>
            </tr>
            <tr class="error">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">显示面板</td>
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">6个LED指示灯</td>
            </tr>
            <tr class="info">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">外观尺寸(宽&times;深&times;高)(主机)</td>
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">375mm&times;393mm&times;250mm</td>
            </tr>
            <tr class="active">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">重量(主机)</td>
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">约12.0kg</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">
                    能耗<br />
                    (标准配置)
                </td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">打印模式</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">535W</td>
            </tr>
            <tr class="warning">
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">待机模式</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">7.1W</td>
            </tr>
            <tr class="success">
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">休眠模式</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">2.6W</td>
            </tr>
            <tr class="error">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">
                    噪音<br />
                    (ISO7779 /ISO9296)
                </td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">打印模式</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">55dB(A)</td>
            </tr>
            <tr class="info">
                <td>&nbsp;</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">待机模式</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">30dB(A)</td>
            </tr>
        </tbody>
    </table>
    <p>※1 22℃和60%相对湿度下。</p>
    <h4><span class="glyphicon glyphicon-hand-right text-danger Myicon">打印功能(标配)</span></h4>
    <hr />
    <table class="table table-bordered table-condensed col-md-12 col-xs-12">
        <tbody>
            <tr class="active">
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">类型</td>
                <td>&nbsp;</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">型号</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">ECOSYS P2135d</td>
            </tr>
            <tr class="warning">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">分辨率</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">Fine1200,Fast1200,600dpi</td>
            </tr>
            <tr class="success">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">双面打印</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">自动</td>
            </tr>
            <tr class="error">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">PDL</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">
                    PCL6 (PCL-5e, PCL-XL)<br />
                    KPDL3 (PostScript3兼容)<br />
                    PRESCRIBE,Line Printer, IBM Proprinter X24E, Epson LQ-850, Diablo 630
                </td>
            </tr>
            <tr class="info">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">网络打印</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">选购</td>
            </tr>
            <tr class="active">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">支持的网络协议</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">TCP/IP,NetBEUI,FTP,IPP,端口9100,LPR</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">支持的操作系统</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">Windows Server 2003, Windows Server 2008, Windows Server 2008 R2, Windows Server 2012, Windows XP, Windows Vista, Windows 7, Windows 8;Apple Macintosh OS X10.5或以上版本；Linux</td>
            </tr>
            <tr class="success">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">接口</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">USB2.0高速&times;1；以太网10BASE-T/100BASE-TX(选购)</td>
            </tr>
        </tbody>
    </table>

</div>
耗材
<div class="table-responsive">
    <h4><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span> 选购件及耗材</h4>
    <hr />
    <table class="table table-bordered table-condensed col-md-12 col-xs-12">
        <tbody>
            <tr class="active">
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">类型</td>
                <td>&nbsp;</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">型号</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">ECOSYS P2135d</td>
            </tr>
            <tr class="warning">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">
                    碳粉组件<br />
                    (根据ISO/IEC 19752)
                </td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">TK-173(7200页,5%覆盖率下的参考值)</td>
            </tr>
            <tr class="success">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">初始碳粉容量</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">2300页</td>
            </tr>
            <tr class="error">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">保养组件</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">MK-173</td>
            </tr>
            <tr class="info">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">供纸盒</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">PF-100: 250张 (最多2个)</td>
            </tr>
            <tr class="active">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">网卡</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">IB-23</td>
            </tr>
        </tbody>
    </table>

</div>