特征：
<div class="panel panel-default">
    <div class="panel-heading">【1】长寿命PSLP感光鼓</div>
    <div class="panel-body">
        <p>ECOSYS P1025d采用京瓷研发的PSLP感光鼓，使用均质的感光鼓涂层，相比一般的OPC感光鼓，不但延长了使用寿命，并且在整个工作周期中为您呈现良好的成像质量。</p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/a4multifunction/m1025dpn/pic_01.jpg" class="img-responsive center-block" />
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">【2】大容量粉仓且更换简单易操作</div>
    <div class="panel-body">
        <p>ECOSYS P1025d采用大容量的粉仓设计，减少了用户更换粉仓的频率。
另外，在更换时也仅需打开前盖板，即可轻松完成。普通员工也能自如操作。</p>
       
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">【3】自动双面打印功能</div>
    <div class="panel-body">
        <p>自动双面打印功能可以节约大量的纸张，为您节约办公经费。除了A4幅面，更直接支持16K纸张的自动双面打印。</p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/a4multifunction/m1025dpn/pic_04.jpg" class="img-responsive center-block" />
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">【4】全中文设计</div>
    <div class="panel-body">
        <p>机器面板全中文设计，使操作更简便。</p>
       
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">【5】一键静音设计</div>
    <div class="panel-body">
        <p>只需轻触静音模式后，机器的运作将更加安静。
※静音模式下，打印速度会减慢。</p>
        
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">【6】一目了然的指示灯设计</div>
    <div class="panel-body">
        <p>指示灯设计在操作面板的转角位置，无论是站立在机器前还是坐在座位上，机器状态都一目了然。
</p>
       
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">【7】前置电源开关设计</div>
    <div class="panel-body">
        <p>机器开关设计在机身面板前侧，方便用户开关机。</p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/a4multifunction/m1025dpn/pic_06.jpg" class="img-responsive center-block" />
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">【8】 大容量纸盒设计</div>
    <div class="panel-body">
        <p>250页大容量封闭式纸盒设计，附赠透明纸盒盖，纸张不易受潮，纸张余量也是一目了然。</p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/a4multifunction/m1025dpn/pic_07.jpg" class="img-responsive center-block" />
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">【9】手动进纸道设计</div>
    <div class="panel-body">
        <p>标配了手动进纸道，处理特殊介质更轻松。</p>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">【10】 厚纸处理能力</div>
    <div class="panel-body">
        <p>支持60-220g/m²纸张，厚纸处理能力更出众。
</p>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">【11】16K支持能力</div>
    <div class="panel-body">
        <p>为中国用户特别优化了16K纸张的处理能力，直接提供于16K纸张的支持。</p>
    </div>
</div>
规格：
<div class="table-responsive">
    <h4><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span>基本规格</h4>
    <hr />
    <table class="table table-bordered table-condensed col-md-12 col-xs-12">
        <tbody>
            <tr class="active">
                <td colspan="2" style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">型号</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">ECOSYS P1025d</td>
            </tr>
            <tr class="danger">
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">类型</td>
                <td><span style="color: rgb(51, 51, 51); font-family: SimSun, STSong; font-size: 12px; line-height: 20px; text-align: center; background-color: rgb(255, 255, 255);">桌面型打印机</span></td>
            </tr>
            <tr class="warning">
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">成像方式</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">激光电子成像</td>
            </tr>
            <tr class="success">
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">CPU</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">ARM926EJ 390MHz</td>
            </tr>
            <tr class="error">
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">打印速度(A4，黑白)</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">25页/分钟</td>
            </tr>
            <tr class="info">
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">内存(标配/最大)</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">32MB</td>
            </tr>
            <tr class="active">
                <td rowspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">纸张容量</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">标准</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">250张(纸盒)+1张(手送)</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">最大</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">250张(纸盒)+1张(手送)</td>
            </tr>
            <tr class="warning">
                <td rowspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">纸张尺寸</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">标配纸盒</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">215.9&times;356mm~70&times;148mm, 16K</td>
            </tr>
            <tr class="success">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">手送</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">215.9&times;356mm~70&times;148mm, 16K</td>
            </tr>
            <tr class="error">
                <td rowspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">纸张重量</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">标配纸盒</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">60至220g/m&sup2;</td>
            </tr>
            <tr class="info">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">手送</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">60至220g/m&sup2;</td>
            </tr>
            <tr class="active">
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">双面打印</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">
                    纸张尺寸：A4/Letter(自动双面)<br />
                    纸张重量：60至120g/m&sup2;
                </td>
            </tr>
            <tr class="danger">
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">显示面板</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">2个LED状态指示灯</td>
            </tr>
            <tr class="warning">
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">
                    外观尺寸(宽&times;深&times;高)<br />
                    (主机)
                </td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">358mm&times;276mm&times;241mm</td>
            </tr>
            <tr class="success">
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">重量(主机)</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">约6.7kg</td>
            </tr>
            <tr class="error">
                <td rowspan="3" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">
                    能耗<br />
                    (标准配置)
                </td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">打印模式</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">346W</td>
            </tr>
            <tr class="info">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">待机模式</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">6W</td>
            </tr>
            <tr class="active">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">休眠模式</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">3W</td>
            </tr>
            <tr class="danger">
                <td rowspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">
                    噪音<br />
                    (ISO7779 /ISO9296)
                </td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">打印模式</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">50dB(A)</td>
            </tr>
            <tr class="warning">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">待机模式</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">29dB(A)</td>
            </tr>
        </tbody>
    </table>
    <h4><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span>打印功能(标配)</h4>
    <hr />
    <table class="table table-bordered table-condensed col-md-12 col-xs-12">
        <tbody>
            <tr class="active">
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">类型</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">ECOSYS P1025d</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">分辨率</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">600&times;600dpi Fast 1200</td>
            </tr>
            <tr class="warning">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">双面打印</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">自动</td>
            </tr>
            <tr class="success">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">PDL</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">GDI</td>
            </tr>
            <tr class="error">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">支持的操作系统</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">
                    Windows Server 2003, Windows Server 2008, Windows Server 2008 R2, Windows Server 2012, Windows XP, Windows Vista, Windows 7,<br />
                    Windows 8;Apple Macintosh OS X10.5或以上版本;Linux
                </td>
            </tr>
            <tr class="info">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">接口</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">USB2.0高速</td>
            </tr>
        </tbody>
    </table>


</div>
耗材：
<div class="table-responsive">
    <h4><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span>选购件及耗材</h4>
    <hr />
    <table class="table table-bordered table-condensed col-md-12 col-xs-12">
        <tbody>
            <tr class="active">
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">型号</td>
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">ECOSYS P1025d</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">
                    碳粉组件<br />
                    (根据ISO/IEC 19752)
                </td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">
                    TK-1128 1,200页<br />
                    建议零售价：&yen;150<br />
                    TK-1123 3,000页<br />
                    建议零售价：&yen;350<br />
                    (5%覆盖率下的参考值)
                </td>
            </tr>
            <tr class="warning">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">初始碳粉容量</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">1,000页</td>
            </tr>
            <tr class="success">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">保养组件</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; text-align: center; vertical-align: middle;">MK-1110</td>
            </tr>
        </tbody>
    </table>

</div>