特性：
<div class="panel panel-default">
    <div class="panel-heading">【1】拥有彩色网络扫描功能</div>
    <div class="panel-body">
        <p>•新机型拥有A0尺寸，600dpi的高画质网络扫描功能。能彩色扫描表现图画修改，作业指示等，使电子化文档的使用更具有便利性。</p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/wideformat/taskalfa2420w/pic_01.jpg" class="img-responsive center-block" />
        <p>• 扫描的数据能保存在网络的共享文件夹中，可用网络浏览器确认文件夹数据，并用E-mail发送数据。根据不同的业务形态使用机器的不同功能，可更有效率的进行交流。</p>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">【2】装配8.5英寸的大型彩色触摸屏</div>
    <div class="panel-body">
        <p>• 控制面板采用8.5英寸的彩色触摸屏，相比之前的黑白触摸屏，认知度和操作的优异性都有了大幅的提高。</p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/wideformat/taskalfa2420w/pic_02.jpg" class="img-responsive center-block" />
        <p>• 在复印和扫描中的图像可即时在操作屏上显示，当发生图像不鲜明等情况时，可立即终止操作，减少了资源的浪费。</p>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">【3】高速控制器，提高了生产性</div>
    <div class="panel-body">

        <p>• 装配了Celeron 2GHz CPU的高速控制器，缩短了RIP处理※时间，使向机器发送数据到打印的时间大幅降低。</p><p>

            • 在复印和打印绘图时，也可同时进行扫描功能，大大减少了等待的时间。
        </p><p>

            ※Raster Image Processor = PostScript文件等载体图像信息转换成印刷用的位图图像的处理。
        </p>

    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">【4】标配扫描到USB存储器的功能，使数据处理更加简便</div>
    <div class="panel-body">
        <p>• 可直接将扫描后的数据存储到USB存储器中，即使PC没有网络连接，数据过大无法发送，扫描数据也可简单的保存。并且，USB端口配置在操作面板的前方，使用起来非常方便。
  （也可直接打印USB存储器中的数据。）</p>
        <img src="http://www.kyoceradocumentsolutions.com.cn/images/product/wideformat/taskalfa2420w/pic_03.jpg" class="img-responsive center-block" />
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">【5】和大型的喷墨打印机组合，可进行彩色复印（选配）</div>
    <div class="panel-body">
        
        <p>• TASKalfa 2420w可将扫描后的彩色数据直接发送到其他品牌的喷墨打印机，从而进行彩色打印。操作非常的简单，TASKalfa2420w和彩色喷墨打印机的组合宛如一台拥有彩色打印功能的彩色工程机复合机。</p>
        <p>• 如果已拥有喷墨打印机，可进行A1，A0大尺寸纸张的彩色复印，非常的方便。
  （适用的打印机：佳能，惠普，爱普生等各种大型的喷墨打印机。）</p>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">【6】 可打印A4-A2尺寸的普通规格纸张的纸盒（※选配）
</div>
    <div class="panel-body">
        <p>• TASKalfa2420w标配了1卷自动供纸和手送供纸盒，并可加装选配件供纸盒，可装载最多20页的A4-A2普通规格的纸张。装配了这个供纸盒，可以省下小尺寸打印时，一张张从手送托盘中送纸打印的时间和人力。
</p>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">【7】删除存储数据、设置密码等功能，加强了安全性</div>
    <div class="panel-body">
        <p>• 工程复合机在打印时，能依次删除图像数据，批量删除登录的用户信息等功能，使机器转移部门或废弃时不会泄露信息，保证了数据的安全。</p>
        <p>• 可对机器的内存、硬盘等存储的地址薄，客户认证数据等设置密码，防止信息泄露，加强了安全性。</p>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">【8】符合中国RoHS※1【电子信息产品污染控制管理办法】</div>
    <div class="panel-body">
        <p>• 新产品符合中国RoHS※1 “电子信息产品污染控制管理办法”。
中国RoHS目的在于控制每年由通信设备产品、家用电子产品、计算机行业产品等特定有害物质对人体的健康和环境的破坏程度，并使其降低到最小的管理办法，该法令自2007年3月1日开始实施。京瓷所有办公信息产品都符合“电子信息产品污染控制管理办法”。
</p>
        <p>
            ※1 RoHS(=the Restriction of the use of certain Hazardous Substances)是特定有害物质使用限值的简称
        </p>
        <p>• 材料的循环利用和环保型设计。
为了实现部件材料的循环利用，本产品的许多部件都采取了容易拆分的嵌入式结构。此外，本产品的外包装采用PC/ABS等不含卤素的材料，外包装材料之外的塑料部件也采用了不含卤素的材料，在设计上充分考虑到环保的要求。</p>
    </div>
</div>
规格：
<div class="table-responsive">
    <h4><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span>基本性能</h4>
    <hr />
    <table class="table table-bordered table-condensed col-md-12 col-xs-12">
        <tbody>
            <tr class="active">
                <td colspan="2">类型</td>
                <td>落地式</td>
            </tr>
            <tr class="danger">
                <td colspan=" 2">机型</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">TASKalfa 2420w</td>
            </tr>
            <tr class="warning">
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">原稿台方式</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">原稿移动方式</td>
            </tr>
            <tr class="success">
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">感光体</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">OPC</td>
            </tr>
            <tr class="error">
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">复印方式</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">LED+间接静电方式</td>
            </tr>
            <tr class="info">
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">显影方式</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">单组份接触显影方式</td>
            </tr>
            <tr class="active">
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">定影方式</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">热辊方式</td>
            </tr>
            <tr class="danger">
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">内存容量</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">512MB+40GB</td>
            </tr>
            <tr class="warning">
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">预热时间※</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">150秒以下</td>
            </tr>
            <tr class="success">
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">供纸方式</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">
                    1卷供纸+手送纸盘<br>
                    供纸托盘组件 (选购)
                </td>
            </tr>
            <tr class="error">
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">电源</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">220-240V 50/60Hz</td>
            </tr>
            <tr class="info">
                <td rowspan="5" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">耗电量</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">最大</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">标准: 1600W</td>
            </tr>
            <tr class="active">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">复印模式</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">760W以下</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">待机模式</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">300W以下</td>
            </tr>
            <tr class="warning">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">省电模式</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">13.5W以下</td>
            </tr>
            <tr class="success">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">睡眠模式</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">230W以下</td>
            </tr>
            <tr class="error">
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">外形尺寸(宽x深x高)</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">1245×883×1174mm</td>
            </tr>
            <tr class="info">
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">重量</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">177kg</td>
            </tr>
        </tbody>
    </table>
    <p>※ 在23℃环境下的规格。</p>
    <h4><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span>复印功能</h4>
    <hr />
    <table class="table table-bordered table-condensed col-md-12 col-xs-12">
        <tbody>
            <tr class="active">
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">类型</td>
                <td>&nbsp;</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">复印原稿</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">纸张</td>
            </tr>
            <tr class="warning">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">原稿尺寸</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">A0-A4、最大: 914&times;2400mm</td>
            </tr>
            <tr class="success">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">复印尺寸</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">A0-A4、最大: 914&times;2400mm(最长3.6米※)</td>
            </tr>
            <tr class="error">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">复印速度</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">2.4m/分钟(1.6张/分钟: A0; 2.8张/分钟: A1)</td>
            </tr>
            <tr class="info">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">分辨率</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">600&times;600dpi</td>
            </tr>
            <tr class="active">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">画像浓度调整</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">自动/手动</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">首张复印时间</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">48秒(A1) / 71秒 (A0)</td>
            </tr>
            <tr class="warning">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">缩放倍率</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">25%～400%(0.01%为单位任意缩放)</td>
            </tr>
            <tr class="success">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">连续复印张数</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">1～999张</td>
            </tr>
        </tbody>
    </table>
    <p>※ 图像质量保证长度为2.4米, 极限长度为3.6米。</p>
    <h4><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span>打印功能</h4>
    <hr />
    <table class="table table-bordered table-condensed col-md-12 col-xs-12">
        <tbody>
            <tr class="active">
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">类型</td>
                <td>&nbsp;</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">处理器</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">Celeron 2GHz</td>
            </tr>
            <tr class="warning">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">打印速度</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">1.6张/分钟: A0; 2.8张/分钟: A1</td>
            </tr>
            <tr class="success">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">首张打印速度※1</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">41秒以下(A1), 57秒以下(A0)</td>
            </tr>
            <tr class="error">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">分辨率</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">600&times;600dpi</td>
            </tr>
            <tr class="info">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">内存</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">与复印功能共用</td>
            </tr>
            <tr class="active">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">仿真语言</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">
                    GL (HP-GL, HP-GL/2, HP-RTL 兼容)<br />
                    Calcomp 906/907<br />
                    TIFF 6.0 (G3, G4, 压缩, 非压缩)<br />
                    CALS G4, Jpeg, VCGL, Grayscale TIF, Color TIF, Intergraph CIT/G4, PNG<br />
                    EDMICS C4, PCX, DWF, TLC<br />
                    选购件：PS/PDF-Script (PostScript 3 兼容)
                </td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">打印接口</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">10Base-T/100Base-TX/1000Base-T</td>
            </tr>
            <tr class="warning">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">适用操作系统</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">
                    Windows XP/Vista/7/Server 2003/Server 2008 (32bit/64bit)<br />
                    ※PDF直接打印时需要选购PS/PDF-Script
                </td>
            </tr>
        </tbody>
    </table>

    <p>※1打印结果会因数据及环境不同而略有不同。</p>
    <h4><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span>扫描功能</h4>
    <hr />
    <table class ="table table-bordered table-condensed col-md-12 col-xs-12">
        <tbody>
            <tr class="active">
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">类型</td>
                <td>&nbsp;</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">原稿读取速度</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">
                    60mm/s (600dpi-400dpi)、90mm/s (300dpi-200dpi)<br />
                    (黑白模式下)
                </td>
            </tr>
            <tr class="warning">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">扫描模式</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">黑白/彩色</td>
            </tr>
            <tr class="success">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">最大扫描范围</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">A0-A4、最大: 914&times;6000mm</td>
            </tr>
            <tr class="error">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">扫描分辨率</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">600dpi, 400dpi, 300dpi, 200dpi (Default: 600dpi)</td>
            </tr>
            <tr class="info">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">接口</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">10 Base-T/100 Base-TX/1000Base-T</td>
            </tr>
            <tr class="active">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">文件格式</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">
                    TIF G4, CALS G4, PDF, DWF, TLC<br />
                    多页 TIF G4, PDF, DWF
                </td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">扫描方式</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">
                    Mailbox (本体硬盘内)<br />
                    SMB<br />
                    FTP<br />
                    USB存储器
                </td>
            </tr>
        </tbody>
        </table>

        <p>※ Windows是美国Microsoft Corporation公司于美国以及其他国家登记的注册商标</p>
        <p>※ Windows的正式名称是Microsoft Windows Operating System</p>
        <p>※ 其他本广告目录所记载的公司名以及产品名、标志是各公司的商标或注册商标</p>
        <p>※ 为保证产品的品质推荐使用正品墨粉</p>
</div>
耗材：
<div class="table-responsive">
    <h4><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span>选配件</h4>
    <hr />
    <table class="table table-bordered table-condensed col-md-12 col-xs-12">
        <tbody>
            <tr class="active">
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">其他选配件</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr class="danger">
                <td rowspan="3" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">供纸托盘组件 1</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">纸张尺寸</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">210&times;297, 297&times;420, 420&times;297, 420&times;594mm</td>
            </tr>
            <tr class="warning">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">外形尺寸(宽x深x高)</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">(宽)730 x (深)500 x (高)530mm</td>
            </tr>
            <tr class="success">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">重量</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">9kg</td>
            </tr>
            <tr class="error">
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">PS/PDF Print License 1</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">&#39;PDF直接打印授权码 1</td>
            </tr>
            <tr class="info">
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">*1 Color Copy License 1</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">彩色打印、复印授权码 1</td>
            </tr>
            <tr class="active">
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">*1 Color Scan Maintenance contract 1</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">彩色扫描升级协议 1</td>
            </tr>
            <tr class="danger">
                <td colspan="2" style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">*1 Color Copy Maintenance contract 1</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">彩色复印升级协议 1</td>
            </tr>
        </tbody>
    </table>

    <h4><span class="glyphicon glyphicon-hand-right text-danger Myicon"></span> 消耗品</h4>
    <hr />
    <table class ="table table-bordered table-condensed col-md-12 col-xs-12">
        <tbody>
            <tr class="active">
                <td style="font-weight: bold; font-family: SimSun, STSong; font-size: 12px;">类型</td>
                <td>&nbsp;</td>
            </tr>
            <tr class="danger">
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: top;">TK-980</td>
                <td style="font-family: SimSun, STSong; font-size: 12px; vertical-align: middle;">
                    墨粉(2支，1,189米，5%覆盖率。)<br />
                    ●根据印刷内容和使用环境的不同,印量也会有差别。<br />
                    ●建议您使用京瓷原配耗材。我们对于因使用第三方耗材而对机器造成的损失<br />
                    不承担任何责任。<br />
                    ●产品规格及外观如有变更，恕不另行通知。
                </td>
            </tr>
        </tbody>
        </table>

        <p>注：以上所示的选配件内容是销售前的信息，具体信息以实际销售时的选配件为准，如有不同，敬请谅解。 </p>
</div>